Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat: scope kb sqlite to workspace
  docs/developer_guide.md
  src/kb_db.py
  src/semantic/api.py
  src/storage/kb_store.py
  src/tools/retriever_calibrate.py
  tests/test_kb_store.py
  tests/test_retriever_calibrate_io.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: route ingest and coder ui to workspace kb
  scripts/ingest_demo.py
  src/ingest.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

chore: align retriever benchmark to workspace db
  scripts/retriever_benchmark.py
Due: none

chore: allinea docstring kbstore e note ingest
  src/ingest.py
  src/kb_db.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

chore: bootstrap coder db via kbstore
  timmy_kb_coder.py
Due: none

test: ensure ingest/retriever use workspace db
  tests/test_ingest_retriever_workspace_db.py
Due: fix-control-chars, forbid-control-chars

fix: harden vision path safety and logging
  src/ui/services/vision_provision.py
Due: fix-control-chars, forbid-control-chars

chore: avoid double normalization in vocab loader
  src/semantic/vocab_loader.py
Due: fix-control-chars, forbid-control-chars

refactor: add frontmatter cache wrapper
  src/pipeline/content_utils.py
  tests/test_content_utils.py
  tests/test_frontmatter_cache_refresh.py
Due: fix-control-chars, forbid-control-chars

feat: add cli runner helper and test context dataclass
  docs/developer_guide.md
  src/kg_build.py
  src/pipeline/cli_runner.py
  src/pipeline/content_utils.py
  src/pipeline/logging_utils.py
  src/pipeline/observability_config.py
  src/pre_onboarding.py
  src/semantic/api.py
  src/semantic/vocab_loader.py
  src/tag_onboarding.py
  tests/conftest.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/support/contexts.py
  tests/test_cli_runner.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
  tests/test_content_utils_readme_summary.py
  tests/test_run_nlp_to_db.py
  tests/test_semantic_convert_fallback_no_safe_pdfs_param.py
  tests/test_semantic_convert_markdown_raw_not_directory.py
  tests/test_semantic_convert_passes_safe_pdfs.py
  tests/test_semantic_convert_phase_scope.py
  tests/test_semantic_headless_enrichment_without_vocab.py
  tests/test_semantic_index_markdown_partial_mismatch.py
  tests/test_semantic_index_no_files_phase_scope.py
  tests/test_unit_build_tags_csv.py
  tests/ui/test_ui_public_imports.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor ingest + test
  src/ingest.py
Due: fix-control-chars, forbid-control-chars

refactor: streamline ingest orchestration
  src/ingest.py
Due: fix-control-chars, forbid-control-chars

refactor: extract pdf grouping planner
  src/pipeline/content_utils.py
Due: fix-control-chars, forbid-control-chars

refactor: extract orphan markdown cleanup
  src/pipeline/content_utils.py
Due: fix-control-chars, forbid-control-chars

refactor: split observability controls into helpers
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars

refactor: extract tracing controls helper
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars

refactor: extract kb healthcheck core
  scripts/kb_healthcheck.py
Due: none

refactor: extract retriever calibration helpers
  src/tools/retriever_calibrate.py
Due: fix-control-chars, forbid-control-chars

refactor: extract semantic headless core
  src/semantic_headless.py
Due: fix-control-chars, forbid-control-chars

fix: enforce pdf prerequisite for tags gating
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

chore: log safe rerun/preflight exceptions
  onboarding_ui.py
  src/ui/landing_slug.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

fix: enforce tags.db readiness before enabling tags
  src/ui/manage/tags.py
Due: fix-control-chars, forbid-control-chars

chore: refine onboarding helpers and tests
  onboarding_ui.py
  tests/ui/test_manage_tags_regression.py
  tests/ui/test_onboarding_ui_preflight.py
Due: fix-control-chars, forbid-control-chars

refactor: centralize drive/tags env config
  src/ui/pages/manage.py
  src/ui/utils/config.py
  tests/ui/test_utils_config.py
Due: fix-control-chars, forbid-control-chars

refactor: inject logger and streamlit in onboarding_ui
  onboarding_ui.py
Due: none

refactor: add streamlit protocol and stub adapter
  onboarding_ui.py
  src/ui/types.py
  tests/ui/streamlit_like_adapter.py
  tests/ui/test_onboarding_ui_preflight.py
Due: fix-control-chars, forbid-control-chars

chore: align drive helpers to streamlit protocol
  src/ui/manage/drive.py
Due: fix-control-chars, forbid-control-chars

chore: align config editor and ui controls to streamlit protocol
  src/ui/pages/config_editor.py
  src/ui/utils/ui_controls.py
Due: fix-control-chars, forbid-control-chars

fix: guard admin page when google-auth missing
  src/ui/pages/admin.py
Due: fix-control-chars, forbid-control-chars

refactor: make semantics page import-safe and typed
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

feat: add semantic pipeline helper
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

test: cover semantic pipeline runner
  tests/semantic/test_pipeline_runner.py
Due: fix-control-chars, forbid-control-chars

docs: document streamlitlike adapter pattern
  docs/streamlit_ui.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: align smoke semantic gating to workspace helper
  tools/smoke_semantic_from_drive.py
Due: none

fix: handle smoke gating tuple and soft-exit
  tools/smoke_semantic_from_drive.py
Due: none

chore: seed dummy raw folders with minimal pdfs
  src/tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

chore: seed dummy tags db and default smoke slug
  scripts/__pycache__/observability_stack.cpython-311.pyc
  scripts/__pycache__/vision_alignment_check.cpython-311.pyc
  src/tools/gen_dummy_kb.py
  tools/smoke_semantic_from_drive.py
Due: fix-control-chars, forbid-control-chars

chore: make smoke semantic default to dummy
  tools/smoke_semantic_from_drive.py
Due: none

chore: add tools shim for gen_dummy_kb
  tools/gen_dummy_kb.py
Due: none

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

