Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

cspell:
  name: cspell (docs + README)
  entry: npx --yes cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(assets): immagini trattate come binarie; I/O wb; logo scuro theme-aware
  .gitattributes
  assets/ico-next.png
  assets/next-logo-bianco.png
  assets/next-logo.png
  onboarding_ui.py
  src/ui/app.py
  src/ui/landing_slug.py
  src/ui/utils/core.py
  tests/test_ui_tabs.py
Due: none

sistemazione logo UI
  assets/next-logo-bianco.png
  assets/next-logo.png
  onboarding_ui.py
  src/ui/app.py
  src/ui/landing_slug.py
  src/ui/utils/__init__.py
  src/ui/utils/branding.py
  src/ui/utils/core.py
  tests/test_ui_tabs.py
Due: none

fix UI
  src/ui/landing_slug.py
Due: none

Fix su UI Streamlit
  onboarding_ui.py
  src/ui/landing_slug.py
  src/ui/utils/__init__.py
  src/ui/utils/branding.py
  tests/test_ui_tabs.py
Due: none

fix su colonna sx UI
  onboarding_ui.py
  src/ui/app.py
  tests/test_ui_tabs.py
Due: none

deps(streamlit): pin 1.50.0 for new API + deprecations fix
  requirements.txt
Due: none

ui: deprecation sweep for Streamlit 1.50 (width/cache/rerun)
  app_numbered.txt
  apply_changes.py
Due: none

ui: width standardization and API sanity for 1.50
  src/ui/app.py
  src/ui/landing_slug.py
  src/ui/tabs/config.py
Due: none

chore: sync workspace
  docs/guida_ui.md
  onboarding_ui.py
Due: cspell

ui: simplify header and safeguard diagnostics
  onboarding_ui.py
  src/ui/app.py
  tests/test_ui_diagnostics.py
Due: none

test: harden streamlit stubs in UI tests
  tests/test_coder_embeddings_env.py
  tests/test_ui_diagnostics.py
Due: none

fix: guard streamlit reruns and cache slug
  onboarding_ui.py
  src/ui/app.py
  src/ui/landing_slug.py
  tests/test_ui_diagnostics.py
  tests/test_ui_safe_rerun.py
Due: none

UI: drop experimental_rerun, unify button width, purge legacy params
  README.md
  docs/guida_ui.md
  onboarding_ui.py
  requirements.txt
  src/ui/app.py
  src/ui/tabs/semantic.py
  tests/test_ui_safe_rerun.py
  tests/test_ui_tabs.py
Due: cspell

ci: replace flake8 with ruff in GH Actions
  .github/workflows/ci.yaml
Due: none

lint: migrate flake8 config to ruff in pyproject; remove .flake8
  .flake8
  pyproject.toml
  src/tools/clean_client_workspace.py
  src/tools/gen_dummy_kb.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_semantic_convert_markdown_raw_not_directory.py
Due: none

docs: switch flake8->ruff in developer guide and coding rules; update codex standards
  cspell.json
  docs/coding_rule.md
  docs/developer_guide.md
Due: cspell

feat: strengthen semantic gating and ui error handling
  .codex/CODING_STANDARDS.md
  onboarding_ui.py
  src/ui/tabs/config.py
  src/ui/tabs/finance.py
  src/ui/tabs/preview.py
  src/ui/tabs/semantic.py
  src/ui/utils/__init__.py
  src/ui/utils/streamlit_fragments.py
  src/ui/utils/workspace.py
  tests/test_ui_streamlit_fragments.py
  tests/test_ui_tabs.py
Due: none

feat(vision): support assistants v2 provisioning
  src/ai/client_factory.py
  src/semantic/vision_provision.py
Due: none

test(client): expect assistant headers in fallback
  tests/test_client_factory.py
Due: none

fix(vision): tolerate loggers without warning
  src/semantic/vision_provision.py
Due: none

fix(vision): restore extractor logging contract
  src/semantic/vision_provision.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_provision_from_yaml.py
  tests/test_semantic_vision_path_safety.py
  tests/test_tag_onboarding_helpers.py
  tests/test_vision_ai.py
Due: none

test(vision): add warning stub for noop logger
  tests/test_vision_provision.py
Due: none

test(vision): use real pdf in prompt test
  tests/test_vision_provision_client_name_prompt.py
Due: none

Aggiornamento documentazione
  docs/developer_guide.md
  docs/guida_ui.md
Due: cspell

definizioni assistant OpanAI
  onboarding_ui.py
  src/semantic/vision_provision.py
Due: none

tests: route all client-file/config usages through dummy workspace fixtures
  docs/test_suite.md
  pyproject.toml
  tests/conftest.py
  tests/test_auto_tagger_writer.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_smoke_dummy_e2e.py
  tests/test_ui_regenerate_yaml.py
  tests/test_ui_vision_gating.py
  tests/test_vision_provision_client_name_prompt.py
  tests/test_vision_provision_vector_store_timeout.py
Due: cspell

feat(tools): gen_dummy_kb crea sempre config/config.yaml e VisionStatement.pdf e registra il cliente in clients_db
  .pre-commit-config.yaml
  pyproject.toml
  scripts/dev/qa_safe.py
  src/pipeline/drive_utils.py
  src/tools/gen_dummy_kb.py
Due: mypy

feat(tools): gen_dummy_kb -ottimizzazioni varie e fix
  src/tools/gen_dummy_kb.py
Due: none

Fix e hardening
  src/ui/components/diff_view.py
  src/ui/components/mapping_editor.py
  src/ui/components/yaml_editors.py
  src/ui/utils/workspace.py
Due: none

fix su workspace.py
  src/ui/utils/workspace.py
Due: none

tools di audit
  audit_repo.py
Due: none

Aggiornamento documentazione developer
  cspell.json
  docs/developer_guide.md
Due: cspell

UI: restore fsync parity in core.safe_write_text, add robust ui.utils.branding (fix mypy), and wire quick-nav via explicit sidebar call in app.py (no monkeypatch).
  cspell.json
  docs/developer_guide.md
  onboarding_ui.py
  src/ui/app.py
  src/ui/utils/branding.py
  src/ui/utils/core.py
  tests/test_safe_write_text_passthrough.py
  tests/test_signature_parity.py
Due: cspell

fix su onboarding
  onboarding_ui.py
  src/pipeline/content_utils.py
Due: none

refactor: modularize streamlit ui facade
  onboarding_ui.py
  src/pipeline/content_utils.py
  src/ui/app.py
  src/ui/app_core/__init__.py
  src/ui/app_core/layout.py
  src/ui/app_core/logging.py
  src/ui/app_core/state.py
  src/ui/app_services/__init__.py
  src/ui/app_services/drive_cache.py
  src/ui/tabs/__init__.py
  src/ui/tabs/home.py
  src/ui/tabs/manage.py
  src/ui/tabs/semantics.py
Due: none

fix: expose compute sem shim
  onboarding_ui.py
Due: none

fix: restore header branding options
  src/ui/app_core/layout.py
  src/ui/utils/branding.py
Due: none

fix: align branding logo layout
  src/ui/utils/branding.py
Due: none

Revert "fix: align branding logo layout"
  src/ui/utils/branding.py
Due: none

Aggiornamento per Streamlit 1.50.0
  src/ui/utils/branding.py
Due: none

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$
  cspell: any of: ^(README\.md|docs/.*\.md)$
