Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: cspell, mypy, forbid-runtime-asserts, forbid-path-write-text-bytes, no-secrets-in-yaml, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

cspell:
  name: cspell (docs + README + src + tests)
  entry: cspell lint --no-progress --config cspell.json
  language: node
  additional_dependencies:
  - cspell@9.2.1
  - '@cspell/dict-it-it@3.1.6'
  pass_filenames: true
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  - types-requests==2.32.4.20250809
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  - src/pipeline/drive
  - src/pipeline/drive_utils.py
  stages:
  - pre-push

forbid-runtime-asserts:
  name: Forbid runtime asserts in src/
  entry: python tools/dev/forbid_runtime_asserts.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-path-write-text-bytes:
  name: Forbid Path.write_text/bytes in src/ (use safe_write_*)
  entry: python tools/dev/forbid_path_writetext_bytes.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

no-secrets-in-yaml:
  name: Forbid inline secrets in config YAML
  entry: python tools/smoke/check_yaml_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python tools/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python tools/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-smart-quotes:
  name: Forbid smart quotes/dashes (unicode punctuation)
  entry: python tools/replace_quotes.py --check
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-hardcoded-vision-model:
  name: Forbid hardcoded Vision model in UI services
  entry: python tools/smoke/check_no_hardcoded_vision_model.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

forbid-legacy-valueerror:
  name: Forbid ValueError in runtime layers
  language: pygrep
  entry: raise\s*ValueError\(
  stages:
  - pre-commit
  - pre-push

check-spdx-headers:
  name: Check SPDX headers in Python files
  entry: python tools/smoke/check_spdx_headers.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: harden tags db flow and improve drive raw tree actions
  src/semantic/tags_io.py
  src/ui/components/drive_tree.py
  src/ui/manage/tags.py
  src/ui/pages/manage.py
  src/ui/services/tags_adapter.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

fix: clarify tag validation status in manage report
  src/ui/pages/manage.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(ui): simplify tag report to csv/db with deterministic db status
  src/ui/pages/manage.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(ui): harden readonly tag db inspection in manage report
  src/ui/pages/manage.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(runtime): remove sys.stderr fallback channels
  src/ai/client_factory.py
  src/pipeline/content_utils.py
  src/pipeline/context.py
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/retriever_embeddings.py
  src/timmy_kb/cli/retriever_logging.py
  src/timmy_kb/versioning.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(runtime): fail fast logging in strict content utils
  src/pipeline/content_utils.py
  tests/test_content_utils_logging.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(runtime): enforce strict workspace boundary at production entrypoints
  src/pipeline/context.py
  src/pipeline/runtime_guard.py
  src/timmy_kb/cli/__main__.py
  src/timmy_kb/cli/kg_build.py
  src/timmy_kb/cli/ledger_status.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/qa_evidence.py
  src/timmy_kb/cli/raw_ingest.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/pipeline/test_context_repo_root_dir.py
  tests/pipeline/test_runtime_guard.py
  tests/test_cli_env_missing.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(path-utils): disable ttl invalidation in strict pdf cache
  src/pipeline/path_utils.py
  tests/test_path_utils.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(path-utils): bypass pdf cache path in strict runtime
  src/pipeline/path_utils.py
  tests/test_path_utils.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test(determinism): add strict runtime reproducibility gate
  tests/determinism/test_strict_determinism_gate.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test(determinism): add strict no-wallclock leakage gate
  tests/determinism/test_strict_no_wallclock_gate.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test(determinism): harden no-wall-clock gate checks
  tests/determinism/test_strict_no_wallclock_gate.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test(path-utils): force non-strict cache tests in raw cache suite
  tests/pipeline/test_raw_cache_config.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test(path-utils): split raw cache lazy-loading strict vs non-strict
  tests/pipeline/test_raw_cache_config.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

fix(retriever): dedupe budget checks and add post-embedding event contract test
  src/timmy_kb/cli/retriever_embeddings.py
  tests/retriever/test_search_event_contract.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

refactor(beta): explicit tag mode, workspace path SSoT, deterministic OIDC retry
  src/pipeline/oidc_utils.py
  src/pipeline/workspace_layout.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/security/test_oidc_utils.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test(retriever): make post-embedding budget contract state-based
  tests/retriever/test_search_event_contract.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

ci: skip e2e pytest when no test files are present
  .github/workflows/ci.yaml
Due: fix-control-chars, forbid-control-chars, forbid-smart-quotes

test(architecture): make encoding hygiene base commit resolution CI-safe
  tests/architecture/test_encoding_hygiene.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

docs(artifacts-policy): remove migrate_or_repair from A.1 core producers
  instructions/13_artifacts_policy.md
Due: fix-control-chars, forbid-control-chars, forbid-smart-quotes

feat: harden observability and typed options across retriever/tag/oidc
  src/pipeline/oidc_utils.py
  src/semantic/frontmatter_service.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/tag_onboarding.py
  tools/test_runner.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix: document and deprecate legacy nlp kwargs precedence
  src/timmy_kb/cli/tag_onboarding.py
  tests/test_tag_onboarding_helpers.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

docs: add cleanup plan for nlp run options migration
  docs/developer/nlp_run_options_cleanup_plan.md
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes

docs: add micro task sequence for nlp options migration
  docs/developer/nlp_run_options_micro_tasks.md
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes

fix: finalize run_nlp_to_db typed-only migration
  docs/developer/nlp_run_options_cleanup_plan.md
  docs/developer/nlp_run_options_mt1_report.md
  src/timmy_kb/cli/tag_onboarding.py
  tests/architecture/test_run_nlp_to_db_typed_only.py
  tests/test_run_nlp_to_db.py
  tests/test_tag_onboarding_helpers.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

fix(cli): enforce unexpected exit code 99 and add contract guardrail
  src/pipeline/cli_runner.py
  src/pipeline/exceptions.py
  src/timmy_kb/cli/kg_build.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/raw_ingest.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/contract/test_cli_unexpected_contract.py
  tests/test_cli_runner.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix black
  tests/contract/test_cli_unexpected_contract.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

docs(adr): add ADR-007 for deterministic CLI unexpected exit 99
  README.md
  docs/adr/ADR-007-cli-unexpected-exit-99.md
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes

fix(docs): normalize ADR-007 encoding for CI guardrail
  docs/adr/ADR-007-cli-unexpected-exit-99.md
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes

fix: harden semantic mapping and pre_onboarding strictness
  src/pipeline/vision_runner.py
  src/semantic/core.py
  src/timmy_kb/cli/pre_onboarding.py
  tests/test_semantic_extractor.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix: enforce strict error boundaries for drive and entities
  src/pipeline/drive/upload.py
  src/pipeline/vision_runner.py
  src/semantic/entities_runner.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/semantic/test_entities_runner_strict_failures.py
Due: cspell, mypy, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test: add core catch-all and rewrap guardrail
  tests/architecture/test_no_catchall_in_core.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

refactor: tighten service boundaries and extract ui tag onboarding vm
  src/pipeline/content_utils.py
  src/semantic/frontmatter_service.py
  src/timmy_kb/cli/retriever_embeddings.py
  src/timmy_kb/cli/semantic_facade.py
  src/ui/pages/manage.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(core): gate legacy fallbacks via explicit env flags
  src/pipeline/cleanup_utils.py
  src/pipeline/content_utils.py
  src/timmy_kb/cli/retriever_embeddings.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(ui): enforce strict observability tooling and harden progress logging
  src/ui/pages/logs_panel.py
  src/ui/utils/progress.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(ui): enforce strict tools checks and remove residual safe shims
  src/ui/fine_tuning/tools_check_sections.py
  src/ui/gating.py
  src/ui/preflight.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(dummy): align drive minimal import and improve interpreter error
  src/ui/services/drive_runner.py
  tools/gen_dummy_kb.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

fix(ui): simplify drive diff panel and harden runtime warnings
  src/pipeline/logging_utils.py
  src/ui/app_services/drive_cache.py
  src/ui/components/diff_view.py
  src/ui/components/drive_tree.py
  src/ui/services/drive.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

feat(env): enforce strict runtime attestation and preflight gating
  src/ai/responses.py
  src/pipeline/env_attestation.py
  src/timmy_kb/cli/__main__.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/preflight.py
  tests/ai/test_invocation_logging.py
  tests/ai/test_responses_json.py
  tests/test_env_attestation.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

Path conditions:
  cspell: any of: ^(README\.md|docs/.*\.md|src/.*\.py|tests/.*\.py)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-runtime-asserts: any of: ^src/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-path-write-text-bytes: any of: ^src/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  no-secrets-in-yaml: any of: ^config/.*\.ya?ml$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-smart-quotes: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml|py))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-hardcoded-vision-model: any of: ^src/ui/services/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-legacy-valueerror: any of: ^src/(ui|pipeline|semantic)/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  check-spdx-headers: any of: ^(src|tests|scripts)/.*\.py$ and \.py$ and not ((?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)
)
