Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


Aggiornamento guida UI
  cspell.json
  docs/guida_ui.md
Due: fix-control-chars, forbid-control-chars, cspell

fix su diff_view
  src/ui/components/diff_view.py
  src/ui/components/drive_tree.py
  src/ui/pages/manage.py
  src/ui/services/drive_runner.py
  tests/ui/test_manage_probe_raw.py
Due: fix-control-chars, forbid-control-chars

Fix su sidebar
  onboarding_ui.py
  src/ui/chrome.py
Due: fix-control-chars, forbid-control-chars

Definizione pre-onboarding (stati:nuovo/pronto)
  README.md
  config/config.yaml
  onboarding_ui.py
  src/ui/config_store.py
  src/ui/pages/new_client.py
  src/ui/services/drive_runner.py
Due: fix-control-chars, forbid-control-chars, cspell

Definizione tags_reviewed.yaml
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

definizione requirements.txt e fix
  requirements.txt
  src/semantic/api.py
  src/semantic/tags_io.py
  src/ui/pages/manage.py
  src/ui/services/tags_adapter.py
Due: fix-control-chars, forbid-control-chars

fix generali
  src/retriever.py
  src/ui/pages/new_client.py
  tests/ui/test_new_client_config.py
Due: fix-control-chars, forbid-control-chars

Fallback su drive
  src/ui/pages/new_client.py
  tests/ui/test_new_client_flow.py
Due: fix-control-chars, forbid-control-chars

Fix generici
  src/ui/pages/new_client.py
  tests/ui/test_new_client_flow.py
Due: fix-control-chars, forbid-control-chars

security(ui): harden slug & path-safety; refactor manage; domain errors; portable tests; mypy fixes
  _test_chat.py
  audit_repo.py
  mod_script.py
  onboarding_ui.py
  scripts/assistants_smoke.py
  scripts/check_structure.py
  scripts/dev/check_streamlit_deprecations.py
  scripts/dev/check_ui_beta0_compliance.py
  scripts/dev/qa_safe.py
  scripts/quick_openai_diag.py
  scripts/quick_vs_probe.py
  src/finance/store.py
  src/ui/pages/manage.py
  src/ui/utils/query_params.py
  src/ui/utils/slug.py
  tests/ui/test_manage_scan.py
  tests/ui/test_query_params_slug.py
  tests/ui/test_slug_sanitize.py
Due: fix-control-chars, forbid-control-chars

refactor(ui): centralizza workspace_root e scan PDF sicuro; manage usa helpers condivisi; validazione slug al click
  src/ui/pages/manage.py
  src/ui/utils/workspace.py
  tests/ui/test_manage_scan.py
  tests/ui/test_workspace_helpers.py
Due: fix-control-chars, forbid-control-chars

Fix finali Fase 1
  .pre-commit-config.yaml
  cspell.json
  docs/coding_rule.md
  src/pipeline/config_utils.py
  src/pipeline/drive/client.py
  src/semantic/layout_enricher.py
  src/semantic/semantic_extractor.py
  src/ui/pages/admin.py
  src/ui/pages/manage.py
  src/ui/pages/semantics.py
  tests/pipeline/test_drive_client_errors.py
  tests/test_layout_enricher.py
  tests/ui/test_manage_modal_save.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_new_client_config.py
  tests/ui/test_new_client_flow.py
  tests/ui/test_query_params_edge.py
Due: mypy, fix-control-chars, forbid-control-chars, cspell

Fix finali Fase 1
  tests/ui/test_manage_modal_save.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento documentazione Streamlit
  cspell.json
  docs/streamlit_ui.md
Due: fix-control-chars, forbid-control-chars, cspell

Fix generali
  docs/streamlit_ui.md
  src/ui/chrome.py
  src/ui/config_store.py
  src/ui/pages/new_client.py
  src/ui/pages/semantics.py
  src/ui/pages/settings.py
  src/ui/services/drive_runner.py
Due: fix-control-chars, forbid-control-chars, cspell

Definizione flusso
  README.md
  docs/coding_rule.md
  docs/developer_guide.md
  onboarding_ui.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/semantics.py
  src/ui/preflight.py
  src/ui/utils/merge.py
  src/ui/utils/status.py
  tests/test_merge_utils.py
  tests/test_preflight_import_safety.py
  tests/test_status_guard_fallback.py
Due: fix-control-chars, forbid-control-chars, cspell

fix(ui/semantic): logging clienti, wrapper resilienti, scan pdf, msg RAG.
  config/config.yaml
  src/semantic/api.py
  src/ui/pages/manage.py
  src/ui/pages/semantics.py
  tests/test_coder_rag_message.py
  tests/test_semantic_collect_safe_pdfs.py
  tests/test_ui_manage_call_best_effort.py
  tests/test_ui_manage_clients_logging.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

Eliminazione funzioni legacy e retrocompatibilità
  README.md
  apply_changes.py
  requirements.txt
  scripts/kb_healthcheck.py
  scripts/quick_vs_probe.py
  src/ai/client_factory.py
  src/ingest.py
  src/nlp/nlp_keywords.py
  src/semantic/api.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/semantics.py
  src/ui/theme/tokens.py
  tests/test_client_factory.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
  tests/ui/streamlit_stub.py
  tests/ui/test_manage_modal_save.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_new_client_config.py
Due: fix-control-chars, forbid-control-chars, cspell

semantic(api): enforce SSoT (fail-fast on empty vocab) + ui(manage): dedup captions/warnings for tags.db + test
  src/semantic/api.py
  src/semantic_headless.py
  src/ui/pages/manage.py
  src/ui/pages/tools_check.py
  tests/semantic/test_manage_dedup.py
  tests/semantic/test_ssot_enforcement.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento standard .env
  config/.env.example
Due: none

aggiustamenti finali
  __orig_manage.py
  src/pipeline/content_utils.py
  src/ui/clients_store.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  tests/pipeline/test_content_utils_safe.py
  tests/test_clients_store.py
  tests/ui/test_new_client_config.py
Due: fix-control-chars, forbid-control-chars

fix: allow semantic enrichment without vocab
  src/ui/pages/manage.py
  src/ui/pages/semantics.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

fix: harden workspace helpers and lint scripts
  __orig_manage.py
  audit_repo.py
  scripts/check_structure.py
  scripts/dev/check_ui_beta0_compliance.py
  scripts/kb_healthcheck.py
  scripts/kb_healthcheck_responses.py
  scripts/quick_vs_probe.py
  scripts/vision_alignment_check.py
  src/semantic/api.py
  src/ui/services/drive_runner.py
  tests/semantic/test_ssot_enforcement.py
  tests/test_drive_runner_progress.py
  tests/test_smoke_e2e.py
Due: fix-control-chars, forbid-control-chars

fix finali
  src/ui/pages/semantics.py
  src/ui/services/drive_runner.py
  tests/test_drive_runner_progress.py
  tests/test_smoke_e2e.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

refactor: align logging utilities for ui
  scripts/refactor_logging_ui.py
  src/pipeline/logging_utils.py
Due: fix-control-chars, forbid-control-chars

refactor: route ui logging through pipeline
  src/ui/app_core/__init__.py
  src/ui/app_core/logging.py
  src/ui/clients_store.py
  src/ui/components/drive_tree.py
  src/ui/components/yaml_editors.py
  src/ui/config_store.py
  src/ui/landing_slug.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/services/tags_adapter.py
  src/ui/services/vision_provision.py
  src/ui/utils/slug.py
  src/ui/utils/streamlit_fragments.py
  src/ui/utils/workspace.py
Due: fix-control-chars, forbid-control-chars

Gestione centralizzata delle dipendenze
  .github/workflows/bench.yml
  .github/workflows/ci.yaml
  .github/workflows/e2e-smoke.yml
  .github/workflows/import-smoke.yml
  README.md
  constraints.txt
  makefile
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  requirements-optional.in
  requirements-optional.txt
  requirements.in
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento documentazione
  README.md
  cspell.json
  docs/coding_rule.md
  docs/developer_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamnto suite test + documentazione
  cspell.json
  docs/test_suite.md
  pytest.ini
  src/pipeline/logging_utils.py
  tests/legacy/test_drive_guards.py
  tests/legacy/test_semantic_mapping_legacy.py
  tests/legacy/test_ui_labels.py
  tests/legacy/test_ui_save_both_yaml.py
  tests/legacy/test_ui_save_both_yaml_negative.py
  tests/legacy/test_vision_provision.py
  tests/legacy/test_vision_provision_client_name_prompt.py
  tests/legacy/test_vision_provision_vector_store_timeout.py
  tests/test_content_utils.py
  tests/test_content_utils_slug_traversal_error.py
  tests/test_content_utils_symlink_category.py
  tests/test_convert_markdown_unsafe_legacy.py
  tests/test_convert_markdown_unsafe_message.py
  tests/test_layout_enricher_parametrized.py
  tests/test_logging_redaction.py
  tests/test_pdf_iteration_symlink.py
  tests/test_proc_run_cmd_redacts_output.py
  tests/ui/streamlit_stub.py
  tests/ui/test_admin_oauth.py
  tests/ui/test_new_client_flow.py
  tests/utils/symlink.py
Due: fix-control-chars, forbid-control-chars, cspell

aggiornamento drive_runner.py
  src/pipeline/drive/download.py
  src/ui/services/drive_runner.py
  src/ui/utils/workspace.py
  temp_patch.txt
  tests/test_drive_runner_progress.py
  tests/test_tag_onboarding_helpers.py
Due: mypy, fix-control-chars, forbid-control-chars

Arricchimento logging
  src/pipeline/logging_utils.py
  src/semantic/api.py
  tests/test_embedding_error_event.py
  tests/test_index_skip_empty_file.py
  tests/test_semantic_convert_no_files.py
Due: fix-control-chars, forbid-control-chars

fix su logging
  src/pipeline/logging_utils.py
  src/semantic/api.py
  tests/test_index_skip_empty_file.py
  tests/test_semantic_convert_no_files.py
Due: fix-control-chars, forbid-control-chars

feat: streamline semantic tagging workflow
  src/tag_onboarding.py
  src/ui/imports.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/semantics.py
  src/ui/services/tags_adapter.py
  src/ui/utils/stubs.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento policy Codex
  docs/AGENTS_INDEX.md
  docs/streamlit_ui.md
  src/ui/constants.py
  src/ui/pages/manage.py
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: automate agents matrix
  .pre-commit-config.yaml
  README.md
  docs/AGENTS_INDEX.md
  docs/test_suite.md
  scripts/gen_agents_matrix.py
Due: fix-control-chars, forbid-control-chars, cspell

Aggiunta sezione Matrice Codex
  docs/test_suite.md
Due: fix-control-chars, forbid-control-chars, cspell

docs: align documentation governance
  docs/AGENTS.md
  docs/AGENTS_INDEX.md
  docs/adr/0001-sqlite-ssot-tags.md
  docs/adr/README.md
  docs/architecture.md
  docs/codex_integrazione.md
  docs/index.md
  docs/policy_push.md
  docs/user_guide.md
  docs/versioning_policy.md
Due: fix-control-chars, forbid-control-chars, cspell

refactor: standardize env and config access
  docs/developer_guide.md
  scripts/kb_healthcheck.py
  src/ai/client_factory.py
  src/pipeline/provision_from_yaml.py
  src/semantic/vision_provision.py
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars, cspell
