Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


Pulisci noise repo e unifica SSoT repo root UI
  .streamlit/config.toml
  README.md
  diff.txt
  src/pipeline/vision_runner.py
  src/ui/utils/repo_root.py
  tests/ui/test_repo_root.py
Due: fix-control-chars, forbid-control-chars, cspell

Pulisci noise repo e unifica SSoT repo root UI2
  docs/developer/developer_guide.md
  docs/import_contract.md
  src/timmy_kb/cli/semantic_onboarding.py
  src/tools/gen_dummy_kb.py
  src/tools/gen_vision_yaml.py
  src/ui/chrome.py
  src/ui/pages/agents_network.py
  tests/__init__.py
  tests/conftest.py
  tests/scripts/test_kb_healthcheck.py
  tests/scripts/test_vision_alignment_check.py
  tests/semantic/test_manage_dedup.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_provision_from_yaml.py
  tests/ui/test_semantic_signatures.py
  tools/_bootstrap.py
  tools/ci/oidc_probe.py
  tools/ci_dump_nav.py
  tools/dev/test_push_shallow.py
  tools/forbid_control_chars.py
  tools/retriever_benchmark.py
  tools/smoke/debug_vision_schema.py
  tools/smoke/smoke_e2e.py
  tools/smoke/smoke_semantic_from_drive.py
  tools/smoke/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

Allinea igiene encoding e import
  cspell.json
  docs/configurazione.md
  docs/developer/developer_guide.md
  docs/developer/developer_quickstart.md
  docs/streamlit_ui.md
  src/pipeline/config_utils.py
  src/pipeline/types.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/ui/pages/agents_network.py
  src/ui/services/vision_provision.py
  tests/scripts/test_kb_healthcheck.py
  tests/scripts/test_vision_alignment_check.py
  tools/ci/oidc_probe.py
  tools/ci_dump_nav.py
  tools/dev/test_push_shallow.py
  tools/fix_mojibake.py
  tools/forbid_control_chars.py
  tools/retriever_benchmark.py
  tools/smoke/debug_vision_schema.py
  tools/smoke/smoke_e2e.py
  tools/smoke/smoke_semantic_from_drive.py
  tools/smoke/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

definizione vocabolario cSpell
  .pre-commit-config.yaml
  cspell.json
  docs/test_suite.md
  src/pipeline/content_utils.py
  src/pipeline/paths.py
  src/pipeline/vision_runner.py
  src/semantic/types.py
  src/semantic/vision_provision.py
  src/timmy_kb/cli/pre_onboarding.py
  src/ui/landing_slug.py
  src/ui/pages/prototimmy_chat.py
  tests/scripts/test_forbid_control_chars.py
Due: fix-control-chars, forbid-control-chars, cspell

Sistemazione cSpell
  cspell.json
  src/ai/prototimmy.py
  src/kg_models.py
  src/pipeline/file_utils.py
  src/pipeline/observability_config.py
  src/timmy_kb/cli/ingest.py
  src/ui/fine_tuning/tools_check_sections.py
  tests/ui/test_ui_public_imports.py
Due: fix-control-chars, forbid-control-chars

Fix vari per determinismo e correzione envelope
  CHANGELOG.md
  src/onboarding_full.py
  src/pipeline/metrics.py
  src/pipeline/paths.py
  src/pipeline/tracing.py
  src/pipeline/workspace_layout.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  src/tools/gen_dummy_kb.py
  src/ui/components/drive_tree.py
  src/ui/services/drive_runner.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

Rafforza policy strict e segnali per metriche e slug
  MANIFEST.md
  src/pipeline/metrics.py
  src/pipeline/workspace_layout.py
  src/timmy_kb/cli/tag_onboarding.py
  src/tools/gen_dummy_kb.py
  src/ui/services/drive_runner.py
  src/ui/utils/slug.py
  system/ops/runbook_codex.md
  tests/pipeline/test_metrics_bind_failure.py
  tests/ui/test_slug_persistence.py
Due: fix-control-chars, forbid-control-chars

Rimuovi push/publish e allinea su preview Docker
  README.md
  config/.env.example
  docs/configurazione.md
  docs/data_transformation_review.md
  docs/developer/developer_guide.md
  docs/developer/developer_quickstart.md
  docs/index.md
  docs/policy_push.md
  docs/test_suite.md
  docs/user/guida_ui.md
  docs/user/user_guide.md
  docs/versioning_policy.md
  pytest.ini
  src/onboarding_full.py
  src/pipeline/config_utils.py
  src/pipeline/constants.py
  src/pipeline/context.py
  src/pipeline/gitbook_publish.py
  src/pipeline/github_env_flags.py
  src/pipeline/github_lease.py
  src/pipeline/github_push_flow.py
  src/pipeline/github_types.py
  src/pipeline/github_utils.py
  src/pipeline/logging_utils.py
  src/pipeline/secret_checks.py
  src/pipeline/settings.py
  src/ui/pages/secrets_guide.yaml
  system/architecture.md
  system/ops/runbook_codex.md
  tests/architecture/test_facade_imports.py
  tests/pipeline/test_config_utils_settings.py
  tests/pipeline/test_github_env_flags.py
  tests/pipeline/test_github_push.py
  tests/test_gitbook_publish.py
  tests/test_onboarding_full_paths.py
  tests/test_settings.py
  tools/dev/test_push_shallow.py
  tools/smoke/gitbook_publish_smoke.py
  tools/smoke/smoke_e2e.py
Due: fix-control-chars, forbid-control-chars, cspell

Ripulisci doc interni dal ramo push/publish
  .codex/CHECKLISTS.md
  .codex/WORKFLOWS.md
  README.md
  docs/OCP_WORKFLOW.md
  docs/adr/0004-nlp-performance-tuning.md
  docs/data_transformation_review.md
  docs/developer/code_review_senior.md
  docs/developer/coding_rule.md
  docs/developer/developer_guide.md
  docs/developer/developer_quickstart.md
  docs/import_contract.md
  docs/index.md
  docs/observability.md
  docs/policy_push.md
  docs/security.md
  docs/test_suite.md
  docs/user/guida_ui.md
  docs/user/user_guide.md
  docs/versioning_policy.md
  system/architecture.md
  system/ops/agents_index.md
  system/ops/runbook_codex.md
  system/specs/promptchain_spec.md
Due: fix-control-chars, forbid-control-chars, cspell

Rinomina gitbook_preview in honkit_preview
  .codex/WORKFLOWS.md
  README.md
  docs/data_transformation_review.md
  docs/developer/developer_guide.md
  docs/developer/developer_quickstart.md
  docs/user/user_guide.md
  docs/versioning_policy.md
  src/adapters/preview.py
  src/pipeline/honkit_preview.py
  system/architecture.md
  system/ops/runbook_codex.md
  tests/test_honkit_preview.py
Due: fix-control-chars, forbid-control-chars, cspell

Rimuovi shim legacy drive e allinea Evidence Gate
  .codex/CHECKLISTS.md
  .codex/PROMPTS.md
  src/pipeline/drive/__init__.py
  src/pipeline/drive/client.py
  src/pipeline/drive/upload.py
  system/specs/guida_codex.md
  tests/pipeline/test_drive_download_pdfs.py
Due: mypy, fix-control-chars, forbid-control-chars

Rimozione Petrov
  cspell.json
  docs/observability.md
  src/pipeline/content_utils.py
  src/pipeline/tracing.py
Due: fix-control-chars, forbid-control-chars, cspell

rimuovi modulo finance e riferimenti
  config/config.example.yaml
  config/config.yaml
  docs/configurazione.md
  docs/test_suite.md
  src/finance/__init__.py
  src/finance/api.py
  src/finance/store.py
  src/pipeline/settings.py
  src/tools/gen_dummy_kb.py
  src/ui/pages/configurazione.py
  tests/semantic/test_vision_provision.py
  tests/test_client_context_settings.py
  tests/test_contract_artifacts.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_settings.py
  tests/test_unit_tags_validator.py
  tests/test_vocab_loader.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix x eliminazione residui legacy e compat
  cspell.json
  src/pipeline/metrics.py
  src/pipeline/ownership.py
  src/pipeline/path_utils.py
  src/pipeline/workspace_layout.py
  src/semantic/vision_provision.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/app_core/layout.py
  src/ui/app_core/state.py
  src/ui/chrome.py
  src/ui/config_store.py
  src/ui/constants.py
  src/ui/pages/agents_network.py
  src/ui/pages/logs_panel.py
  tests/ai/test_config_boundary.py
  tests/ai/test_config_resolution.py
  tests/pipeline/test_metrics_bind_failure.py
  tests/semantic/test_vision_provision.py
  tests/test_ownership_template.py
  tests/ui/test_config_store.py
  tests/ui/test_logs_panel.py
  tests/ui/test_new_client_flow.py
  tests/ui/test_vision_model_default.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

fix: enforce qa gate evidence and retries
  src/ui/gating.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/utils/__init__.py
  src/ui/utils/workspace.py
  tests/test_ui_preview_gating.py
  tests/test_ui_utils.py
  tests/ui/test_gating_semantics.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

fix: normalizza regole Prompt Chain e riduce ambiguità senza nuove meccaniche
  .codex/AGENTS.md
  .codex/PROMPTS.md
  .codex/WORKFLOWS.md
  system/ops/runbook_codex.md
  system/specs/promptchain_spec.md
Due: fix-control-chars, forbid-control-chars

fix: normalizza regole Prompt Chain
  .codex/AGENTS.md
  .codex/CHECKLISTS.md
  .codex/CLOSURE_AND_SKEPTIC.md
  .codex/PROMPTS.md
  docs/adr/0004-nlp-performance-tuning.md
  docs/adr/ADR-002-dummy-kb-e2e-smoke-test.md
  docs/guida_codex.md
  docs/index.md
  src/ui/pages/agents_network.py
  system/ops/agents_index.md
  system/ops/runbook_codex.md
  system/specs/promptchain_spec.md
  tests/conftest.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: normalizza ADR, aggiorna indice e allinea stile
  docs/adr/0002-separation-secrets-config.md
  docs/adr/0005-refactor-tagging-build-tags-csv.md
  docs/adr/0006-dummy-kb-e2e-smoke-test.md
  docs/adr/README.md
Due: fix-control-chars, forbid-control-chars, cspell

Step intermedio verso Beta 1.0
  CHANGELOG.md
  docs/adr/0006-dummy-kb-e2e-smoke-test.md
  docs/adr/0007-dummy-manifesto.md
Due: fix-control-chars, forbid-control-chars, cspell

Sistemazione Dummy
  src/ai/responses.py
  src/ui/chrome.py
  src/ui/clients_store.py
  tests/ai/test_responses_json.py
  tests/test_clients_store.py
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tests/tools/test_dummy_orchestrator_toggles.py
  tests/tools/test_gen_dummy_kb.py
  tools/dummy/orchestrator.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

feat: sposta dummy in pagina tools
  src/pipeline/logging_utils.py
  src/ui/chrome.py
  src/ui/navigation_spec.py
  src/ui/pages/dummy_kb.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tools/dummy/drive.py
  tools/dummy/orchestrator.py
Due: fix-control-chars, forbid-control-chars

Pulizia fallback e legaxy verso Beta 1.0
  CHANGELOG.md
  src/ai/vision_config.py
  src/timmy_kb/cli/tag_onboarding_raw.py
  src/timmy_kb/ui/onboarding_ui.py
  src/timmy_kb/versioning.py
  src/ui/semantic_progress.py
  tests/ai/test_config_boundary.py
  tests/ai/test_config_resolution.py
  tests/semantic/test_vision_provision.py
  tests/test_config_defaults.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
  tools/smoke/check_ui_beta0_compliance.py
Due: fix-control-chars, forbid-control-chars

Sistemazione documentazione
  docs/README.md
  docs/context/next_alignment.md
  docs/context/next_boundary.md
  docs/developer/configurazione.md
  docs/developer/data_transformation_review.md
  docs/developer/explainability_overview.md
  docs/developer/logging_events.md
  docs/developer/observability.md
  docs/developer/retriever_refactor_map.md
  docs/developer/streamlit_ui.md
  docs/developer/test_suite.md
  docs/index.md
  docs/policies/OCP_WORKFLOW.md
  docs/policies/guida_codex.md
  docs/policies/import_contract.md
  docs/policies/next_core_for_assistants.md
  docs/policies/security.md
  docs/policies/versioning_policy.md
  docs/user/arricchimento.md
Due: fix-control-chars, forbid-control-chars, cspell

Fix su link
  README.md
Due: fix-control-chars, forbid-control-chars, cspell

Rafforza gate QA/TAGS e registra manifest capability per audit Beta 1.0
  src/pipeline/qa_evidence.py
  src/timmy_kb/cli/qa_evidence.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/gating.py
  src/ui/manage/tags.py
  src/ui/pages/semantics.py
  src/ui/utils/workspace.py
  tests/contract/snapshots/nav_contract_111.json
  tests/test_ui_utils.py
  tests/ui/test_gating_semantics.py
  tests/ui/test_manage_tags_regression.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

Riscrivi architecture.md con inventario pre-Beta e tassonomia controllata
  system/architecture.md
Due: fix-control-chars, forbid-control-chars

Remove legacy ClientContext alias methods
  src/pipeline/context.py
Due: fix-control-chars, forbid-control-chars

Remove deprecated interactive shim
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/kg_build.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/qa_evidence.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  src/timmy_kb/cli/tag_onboarding_context.py
  src/ui/components/drive_tree.py
  src/ui/config_store.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/landing_slug.py
  src/ui/pages/config_editor.py
  src/ui/pages/dummy_kb.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/services/drive_runner.py
  src/ui/services/tag_kg_builder.py
  src/ui/services/tags_adapter.py
  src/ui/utils/context_cache.py
  src/ui/utils/diagnostics.py
  src/ui/utils/workspace.py
  tests/test_client_context_settings.py
  tests/test_context_logging_events.py
  tests/test_env_loader.py
  tools/dummy/orchestrator.py
  tools/retriever_benchmark.py
  tools/retriever_calibrate.py
  tools/smoke/smoke_semantic_from_drive.py
  tools/smoke/smoke_streamlit_finance.py
Due: fix-control-chars, forbid-control-chars

Fix su compat, shim e legacy
  cspell.json
  docs/user/user_guide.md
  src/pipeline/context.py
  src/semantic/api.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/ui/pages/semantics.py
  tests/conftest.py
  tests/contract/snapshots/nav_contract_111.json
  tests/semantic/test_semantic_onboarding_cli.py
  tests/semantic/test_ssot_enforcement.py
  tests/test_contract_artifacts.py
  tests/test_convert_markdown_no_pdfs_raises.py
  tests/test_convert_markdown_rerun_processes_new_pdfs.py
  tests/test_convert_markdown_unsafe_message.py
  tests/test_path_overrides_extended.py
  tests/test_pdf_iteration_symlink.py
  tests/test_semantic_api_list_content_markdown.py
  tests/test_semantic_api_summary_readme.py
  tests/test_semantic_build_markdown_book.py
  tests/test_semantic_convert_failfast.py
  tests/test_semantic_convert_markdown_raw_not_directory.py
  tests/test_semantic_convert_no_files.py
  tests/test_semantic_convert_passes_safe_pdfs.py
  tests/test_semantic_convert_phase_scope.py
  tests/test_semantic_enrich_ctx_override.py
  tests/test_semantic_headless_enrichment_without_vocab.py
  tests/test_semantic_onboarding_exitcodes.py
  tests/test_smoke_e2e.py
  tests/ui/test_semantic_signatures.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: riallinea facade semantic.api e test
  src/semantic/api.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/semantic/test_ssot_enforcement.py
  tests/test_path_overrides_extended.py
  tests/test_semantic_build_markdown_book.py
  tests/test_semantic_onboarding_exitcodes.py
  tools/ci_dump_nav.py
Due: fix-control-chars, forbid-control-chars

Elimina semantic.paths: path solo via WorkspaceLayout
  src/semantic/api.py
  src/semantic/paths.py
  src/semantic/tagging_service.py
Due: fix-control-chars, forbid-control-chars

Rimuove compat Streamlit: UI baseline strict
  src/ui/landing_slug.py
  src/ui/pages/manage.py
  tests/test_ui_manage_call_best_effort.py
  tests/test_ui_manage_clients_logging.py
  tests/test_ui_paths_box.py
Due: fix-control-chars, forbid-control-chars

Fisx anti retrocompat
  src/ai/responses.py
  tests/ai/test_responses_json.py
Due: fix-control-chars, forbid-control-chars

Fix generici
  clients_db/clients/prova/ownership.yaml
  src/semantic/contracts.py
Due: fix-control-chars, forbid-control-chars

Avvicinamento Beta: low-entropy hardening (gitignore, no ASSISTANT_ID, OIDC strict, preview log strict)
  .gitignore
  docs/developer/configurazione.md
  docs/developer/streamlit_ui.md
  docs/policies/security.md
  docs/user/guida_ui.md
  src/pipeline/oidc_utils.py
  src/pipeline/secret_checks.py
  src/pipeline/settings.py
  src/timmy_kb/cli/ingest.py
  src/ui/fine_tuning/system_prompt_modal.py
  src/ui/pages/manage.py
  src/ui/pages/preview.py
  src/ui/pages/secrets_guide.yaml
  system/ops/runbook_codex.md
  tests/ai/test_responses_json.py
  tests/conftest.py
  tests/security/test_oidc_utils.py
  tests/semantic/test_vision_provision.py
  tests/test_vision_cfg.py
  tests/ui/test_preview_stub.py
  tools/ci/oidc_probe.py
  tools/smoke/kb_healthcheck.py
  tools/smoke/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

sitemazione Dummy
  README.md
  cspell.json
  docs/developer/developer_guide.md
  docs/developer/developer_quickstart.md
  src/ai/responses.py
  src/pipeline/cleanup_utils.py
  src/pipeline/context.py
  src/pipeline/exceptions.py
  src/pipeline/paths.py
  src/pipeline/workspace_bootstrap.py
  src/semantic/vision_utils.py
  system/architecture.md
  tests/scripts/openai_responses_signature.py
  tests/scripts/test_kb_healthcheck.py
  tests/scripts/test_openai_responses_signature.py
  tools/dummy/orchestrator.py
  tools/gen_dummy_kb.py
  tools/smoke/kb_healthcheck.py
Due: fix-control-chars, forbid-control-chars, cspell
