Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

refactor: modularize convert markdown flow
  .codex/AGENTS.md
  .pre-commit-config.yaml
  docs/AGENTS_INDEX.md
  docs/codex_integrazione.md
  docs/coding_rule.md
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor: allow get_bool to read custom mapping
  src/pipeline/env_utils.py
  src/ui/chrome.py
  src/ui/gating.py
  src/ui/preflight.py
  tests/pipeline/test_env_utils_get_bool.py
Due: fix-control-chars, forbid-control-chars

fix: clarify dummy timeout messaging
  docs/AGENTS_INDEX.md
  docs/codex_integrazione.md
  src/ui/chrome.py
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento AGENTS.md
  .codex/AGENTS.md
  AGENTS.md
Due: fix-control-chars, forbid-control-chars

fix(ui): allinea gating servizi e pulsanti drive
  onboarding_ui.py
  src/ui/gating.py
  src/ui/pages/manage.py
  tests/ui/test_gating_semantics.py
Due: fix-control-chars, forbid-control-chars

Refactor strumento di tuning
  config/vision_statement.yaml
  onboarding_ui.py
  src/semantic/vision_parser.py
  src/ui/fine_tuning/AGENTS.md
  src/ui/fine_tuning/__init__.py
  src/ui/fine_tuning/pdf_tools.py
  src/ui/fine_tuning/styles.py
  src/ui/fine_tuning/system_prompt_modal.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/fine_tuning/yaml_io.py
  src/ui/pages/tools_check.py
Due: fix-control-chars, forbid-control-chars

test: extend light regression coverage
  .codex/local/PHASE1_NOTES.md
  .github/workflows/ci.yaml
  pytest.ini
  tests/pipeline/test_drive_download_pdfs.py
  tests/semantic/test_vision_provision.py
Due: fix-control-chars, forbid-control-chars

refactor: modularize tools + config editor UI
  src/ui/fine_tuning/__init__.py
  src/ui/fine_tuning/tools_check_sections.py
  src/ui/pages/config_editor.py
  src/ui/pages/tools_check.py
  tests/ui/test_config_editor_sections.py
  tests/ui/test_tools_check_sections.py
Due: fix-control-chars, forbid-control-chars

refactor: modularize landing diff manage
  src/ui/components/diff_view.py
  src/ui/landing_slug.py
  src/ui/pages/manage.py
  tests/ui/test_diff_view_sections.py
  tests/ui/test_landing_slug_sections.py
Due: fix-control-chars, forbid-control-chars

refactor: modularize vision drive tagging pipelines
  src/pipeline/drive/download.py
  src/pipeline/drive/download_steps.py
  src/semantic/vision_provision.py
  src/storage/tags_store.py
  src/tag_onboarding.py
  src/ui/landing_slug.py
  src/ui/pages/manage.py
  src/ui/services/drive_runner.py
  tests/pipeline/test_drive_download_pdfs.py
Due: mypy, fix-control-chars, forbid-control-chars

refactor: standardize github tooling
  .codex/AGENTS.md
  docs/AGENTS.md
  src/pipeline/github_utils.py
  src/semantic/api.py
  src/tools/gen_dummy_kb.py
  src/ui/pages/tools_check.py
  tests/pipeline/test_github_push.py
  tests/semantic/test_manage_dedup.py
  tests/test_vision_provision_inline.py
  tests/tools/test_gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: gate preview on semantic readiness
  docs/streamlit_ui.md
  docs/test_suite.md
  src/ui/gating.py
  src/ui/pages/preview.py
  tests/contract/snapshots/nav_contract_111.json
  tests/test_ui_preview_gating.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: repair ui test references
  docs/streamlit_ui.md
  docs/test_suite.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: harden ui fallbacks and diagnostics
  onboarding_ui.py
  src/ui/gating.py
  src/ui/pages/preview.py
  src/ui/utils/diagnostics.py
  tests/test_ui_beta0_compliance.py
  tests/ui/test_diagnostics.py
Due: fix-control-chars, forbid-control-chars

test: guard optional deps in vision suites
  tests/e2e/test_enable_and_preview.py
  tests/pipeline/test_drive_client_errors.py
  tests/pipeline/test_drive_download_pdfs.py
  tests/semantic/test_vision_provision.py
  tests/test_provision_from_yaml.py
  tests/test_vision_provision_inline.py
  tests/ui/test_config_store.py
Due: fix-control-chars, forbid-control-chars

docs: update vision test docs
  docs/test_suite.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: stabilize tools button theme
  src/ui/fine_tuning/styles.py
  src/ui/fine_tuning/tools_check_sections.py
Due: fix-control-chars, forbid-control-chars

fix: unify streamlit theme styling
  src/ui/fine_tuning/styles.py
  src/ui/fine_tuning/tools_check_sections.py
  src/ui/theme_enhancements.py
Due: fix-control-chars, forbid-control-chars

fix: detect dark theme for branding
  src/ui/utils/core.py
Due: fix-control-chars, forbid-control-chars

fix: sync branding assets with theme
  onboarding_ui.py
  src/ui/theme_enhancements.py
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

fix: render brand assets with streamlit html
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

fix: update branding script for theme iframes
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

fix: reset ui theming to streamlit defaults
  src/ui/theme_enhancements.py
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

fix: harden branding stub compatibility
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

fix: support stubs in branding header
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

fix: drop deprecated streamlit image flag
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

docs: add sla contacts to code of conduct
  CODE_OF_CONDUCT.md
Due: fix-control-chars, forbid-control-chars

docs: detail dependency security workflow
  SECURITY.md
Due: fix-control-chars, forbid-control-chars

docs: document spdx headers and licensing
  README.md
Due: fix-control-chars, forbid-control-chars, cspell

build: add spdx header pre-commit hook
  .pre-commit-config.yaml
Due: fix-control-chars, forbid-control-chars

fix: cache tiktoken encoder e reset gating
  src/ingest.py
  src/ui/gating.py
  src/ui/utils/slug.py
  tests/test_ui_preview_gating.py
  tests/ui/test_gating_semantics.py
Due: fix-control-chars, forbid-control-chars

fix: sincronizza gating e validazioni tag
  src/ui/gating.py
  src/ui/pages/manage.py
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

test: cover tags csv normalization and logging
  tests/ui/test_manage_tags_regression.py
Due: fix-control-chars, forbid-control-chars

refactor: estrai helpers pagina manage
  src/ui/manage/__init__.py
  src/ui/manage/_helpers.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

test: ripristina wrapper compat manage
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

refactor: estrai componente drive da manage
  src/ui/manage/drive.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

refactor: modularize manage tagging and cleanup
  src/ui/manage/cleanup.py
  src/ui/manage/tags.py
  src/ui/pages/cleanup.py
  src/ui/pages/manage.py
  tests/ui/test_manage_cleanup_component.py
  tests/ui/test_manage_tags_regression.py
Due: fix-control-chars, forbid-control-chars

chore: reset dummy kb before regen and extend cli modal
  src/tools/gen_dummy_kb.py
  src/ui/chrome.py
  src/ui/manage/cleanup.py
  src/ui/manage/drive.py
  src/ui/manage/tags.py
  src/ui/pages/manage.py
  tests/test_client_factory.py
  tests/test_smoke_dummy_e2e.py
  tests/tools/test_gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

chore: add yaml fallback for tags import and document
  README.md
  docs/test_suite.md
  src/storage/tags_store.py
  tests/storage/test_import_tags_yaml_to_db.py
  tests/test_client_context_settings.py
Due: fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

