Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore: add QA note to changelog
  docs/CHANGELOG.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: restore onboarding ui lazy bootstrap
  onboarding_ui.py
Due: none

chore: fix lint regressions
  onboarding_ui.py
  patch_config_doc.py
  scripts/archive/vision_alignment_check.py
  scripts/dev/debug_vision_schema.py
  scripts/gitbook_publish_smoke.py
  scripts/vision_alignment_check.py
Due: none

fix: vision alignment test block and lint
  scripts/__pycache__/vision_alignment_check.cpython-311.pyc
  scripts/archive/vision_alignment_check.py
  scripts/vision_alignment_check.py
Due: none

refactor: extract tag enrichment helpers
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

chore: normalize semantic api docstring
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

chore: tighten semantic api logging
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

chore: add workflow type alias and safer logging
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

chore: narrow exception handling in semantic api
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

refactor: drop vocab stub fallback
  src/semantic/api.py
  tests/semantic/test_require_reviewed_vocab.py
Due: fix-control-chars, forbid-control-chars

refactor: drop tags yaml fallback
  src/semantic/tags_io.py
  src/storage/tags_store.py
  tests/storage/test_import_tags_yaml_to_db.py
Due: fix-control-chars, forbid-control-chars

chore: drop legacy openai flags and mapping copy
  src/ai/client_factory.py
  src/pre_onboarding.py
  src/ui/pages/new_client.py
  tests/test_client_factory.py
  tests/ui/test_new_client_config.py
Due: fix-control-chars, forbid-control-chars

chore: remove unused metrics_scope alias
  src/pipeline/logging_utils.py
Due: fix-control-chars, forbid-control-chars

docs: drop legacy wording in tags_store
  src/storage/tags_store.py
Due: fix-control-chars, forbid-control-chars

feat: enforce explicit vision model and cleanup
  config/config.yaml
  docs/CHANGELOG.md
  docs/milestones/archive_cleanup.md
  scripts/__pycache__/observability_stack.cpython-311.pyc
  scripts/archive/__orig_manage.py
  scripts/archive/assistants_smoke.py
  scripts/archive/check_structure.py
  scripts/archive/kb_healthcheck_responses.py
  scripts/archive/quick_openai_diag.py
  scripts/archive/refactor_logging_ui.py
  scripts/archive/vision_alignment_check.py
  scripts/vision_alignment_check.py
  src/nlp/nlp_keywords.py
  src/pipeline/gitbook_preview.py
  src/pipeline/logging_utils.py
  src/retriever.py
  src/semantic/semantic_extractor.py
  src/semantic/vision_provision.py
  src/semantic_headless.py
  src/tools/gen_vision_yaml.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/landing_slug.py
  src/ui/pages/logs_panel.py
  src/ui/services/tags_adapter.py
  src/ui/services/vision_provision.py
  tests/semantic/test_vision_provision.py
  tests/test_semantic_vision_path_safety.py
  tests/test_ui_paths_box.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: cleanup artefatti e workspace dummy
  .gitignore
  output/timmy-kb-dummy/.gitkeep
  output/timmy-kb-dummy/config/VisionStatement.pdf
  output/timmy-kb-dummy/config/assistant_vision_system_prompt.txt
  output/timmy-kb-dummy/config/config.yaml
  output/timmy-kb-dummy/logs/onboarding.log
  output/timmy-kb-dummy/logs/ui.log
  output/timmy-kb-dummy/semantic/cartelle_raw.yaml
  output/timmy-kb-dummy/semantic/semantic_mapping.yaml
  output/timmy-kb-dummy/semantic/tags_reviewed.yaml
  playwright-report/buttons_manage.txt
  playwright-report/counts_manage.txt
  playwright-report/manage.html
  playwright-report/manage.png
  playwright-report/manage_modal.html
  scripts/__pycache__/observability_stack.cpython-311.pyc
  scripts/__pycache__/smoke_e2e.cpython-311.pyc
  scripts/__pycache__/vision_alignment_check.cpython-311.pyc
Due: fix-control-chars, forbid-control-chars

chore: cleanup artefatti e workspace dummy
  output/timmy-kb-dummy/logs/onboarding.log
  output/timmy-kb-dummy/logs/ui.log
Due: none

chore: clean dummy logs
  output/timmy-kb-dummy/logs/onboarding.log
  output/timmy-kb-dummy/logs/ui.log
Due: none

chore: move vision/runtime flags to config
  config/config.yaml
Due: fix-control-chars, forbid-control-chars

chore: harden retriever typing and tags db handling
  src/retriever.py
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

test: avoid demo workspace creation
  .gitignore
  output/timmy-kb-dummy/config/VisionStatement.pdf
  output/timmy-kb-dummy/config/assistant_vision_system_prompt.txt
  output/timmy-kb-dummy/config/config.yaml
  output/timmy-kb-dummy/semantic/cartelle_raw.yaml
  output/timmy-kb-dummy/semantic/semantic_mapping.yaml
  output/timmy-kb-dummy/semantic/tags_reviewed.yaml
  tests/ui/test_diagnostics.py
Due: fix-control-chars, forbid-control-chars

test: isolate diagnostics slug from repo output
  tests/ui/test_diagnostics.py
Due: fix-control-chars, forbid-control-chars

Defuinizione SSot e rimozione legacy
  docs/configurazione.md
  docs/developer_guide.md
  docs/developer_quickstart.md
  docs/guida_ui.md
  docs/index.md
  scripts/__pycache__/vision_alignment_check.cpython-311.pyc
  src/pipeline/config_utils.py
  src/pipeline/content_utils.py
  src/pipeline/context.py
  src/pipeline/gitbook_preview.py
  src/pipeline/logging_utils.py
  src/pipeline/metrics.py
  src/pipeline/ontology.py
  src/pipeline/path_utils.py
  src/pipeline/tracing.py
  src/pipeline/vision_template.py
  src/semantic/api.py
  src/semantic/auto_tagger.py
  src/semantic/book_readiness.py
  src/semantic/config.py
  src/semantic/entities_extractor.py
  src/semantic/entities_runner.py
  src/semantic/frontmatter_service.py
  src/semantic/spacy_extractor.py
  src/semantic/vision_provision.py
  src/semantic_onboarding.py
  src/ui/app_core/layout.py
  src/ui/app_core/state.py
  src/ui/components/diff_view.py
  src/ui/config_store.py
  src/ui/manage/tags.py
  src/ui/pages/configurazione.py
  src/ui/pages/logs_panel.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/preflight.py
  src/ui/semantic_progress.py
  src/ui/services/tag_kg_builder.py
  src/ui/utils/stubs.py
  tests/pipeline/test_raw_cache_config.py
Due: fix-control-chars, forbid-control-chars, cspell

Refactoring config.yaml + fix
  CHANGELOG.md
  config/config.example.yaml
  config/config.yaml
  docs/CHANGELOG.md
  docs/adr/0004-nlp-performance-tuning.md
  docs/codex_integrazione.md
  docs/configurazione.md
  docs/developer_guide.md
  docs/runbook_codex.md
  output/timmy-kb-dummy/.gitkeep
  src/pipeline/config_utils.py
  src/pipeline/path_utils.py
  src/pipeline/settings.py
  src/ui/config_store.py
  src/ui/pages/configurazione.py
  src/ui/pages/secrets_guide.yaml
  tests/pipeline/test_raw_cache_config.py
  tests/test_client_context_settings.py
  tests/test_settings.py
  tests/ui/test_vision_model_default.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: harden semantic utils and defaults
  config/config.yaml
  src/pipeline/content_utils.py
  src/pipeline/settings.py
  src/retriever.py
  src/semantic/api.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

chore: align semantic defaults and cache handling
  src/pipeline/content_utils.py
  src/pre_onboarding.py
  src/semantic/vision_utils.py
Due: fix-control-chars, forbid-control-chars

refactor: expose semantic pipeline helper
  scripts/__pycache__/smoke_e2e.cpython-311.pyc
  scripts/dev/__pycache__/qa_safe.cpython-311.pyc
  src/semantic/api.py
  src/semantic/convert_service.py
  src/semantic_onboarding.py
  tests/conftest.py
Due: fix-control-chars, forbid-control-chars

docs: document frontmatter cache clearing
  docs/developer_guide.md
  docs/runbook_codex.md
  src/pipeline/content_utils.py
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor: formalize semantic context contract
  src/semantic/api.py
  src/semantic/types.py
  src/semantic_onboarding.py
Due: fix-control-chars, forbid-control-chars

refactor: unify onboarding_full exit mapping
  src/onboarding_full.py
Due: fix-control-chars, forbid-control-chars

chore: standardize workflow telemetry helpers
  src/onboarding_full.py
  src/pipeline/logging_utils.py
  src/semantic_onboarding.py
Due: fix-control-chars, forbid-control-chars

test: ensure semantic workflow clears frontmatter cache
  tests/test_semantic_build_markdown_book.py
Due: fix-control-chars, forbid-control-chars

test: guard ui contracts against private backend imports
  src/ui/utils/core.py
  tests/ui/test_ui_public_imports.py
  tests/ui/test_wrappers_signature.py
Due: fix-control-chars, forbid-control-chars

chore: drop runtime monkeypatch wiring in semantic onboarding
  src/semantic_onboarding.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/test_semantic_onboarding_exitcodes.py
Due: fix-control-chars, forbid-control-chars

chore: centralize ui backend re-exports
  src/ui/utils/backend.py
  src/ui/utils/core.py
Due: fix-control-chars, forbid-control-chars

chore: centralize ui backend re-exports
  src/ui/utils/core.py
Due: fix-control-chars, forbid-control-chars

chore: introduce kb store owner
  src/kb_db.py
  src/storage/kb_store.py
  src/tools/retriever_calibrate.py
  src/ui/utils/core.py
Due: fix-control-chars, forbid-control-chars

feat: route kb storage per slug
  src/semantic/api.py
  src/storage/kb_store.py
  src/tools/retriever_calibrate.py
  tests/test_kb_store.py
  tests/test_retriever_calibrate_io.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

