Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


feat: centralize drive capability gate
  SEPARATION_ACK.md
  src/pipeline/exceptions.py
  src/ui/components/drive_tree.py
  src/ui/services/drive_runner.py
  tests/architecture/test_facade_imports.py
Due: fix-control-chars, forbid-control-chars

feat: add structured capability metadata
  SEPARATION_ACK.md
  src/pipeline/capabilities/openai.py
  src/pipeline/capabilities/vision.py
  src/pipeline/exceptions.py
  src/pipeline/ingest/provider.py
  src/ui/gating.py
  tests/test_capabilities_openai.py
  tests/test_capabilities_vision.py
  tests/test_client_factory.py
  tests/test_ingest_provider.py
Due: fix-control-chars, forbid-control-chars

fix: allinea logging ui e contract
  instructions/11_ui_contract.md
  instructions/README.md
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/pages/configurazione.py
  src/ui/pages/new_client.py
  src/ui/utils/preflight_once.py
Due: fix-control-chars, forbid-control-chars

fix: rimuove bypass preflight one-shot
  docs/developer/streamlit_ui.md
  docs/user/guida_ui.md
  src/ui/config_store.py
  src/ui/pages/config_editor.py
  src/ui/utils/preflight_once.py
  tests/ui/test_config_editor_sections.py
  tests/ui/test_config_store_skip_preflight.py
  tests/ui/test_onboarding_ui_preflight.py
  tests/ui/test_preflight_once.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: unify user guide and move codex guide
  README.md
  SUMMARY.md
  docs/adr/0004-nlp-performance-tuning.md
  docs/adr/0006-dummy-kb-e2e-smoke-test.md
  docs/developer/coding_rule.md
  docs/developer/guida_codex.md
  docs/index.md
  docs/policies/next_core_for_assistants.md
  docs/strict_vs_dummy_beta.md
  docs/user/guida_ui.md
  docs/user/quickstart.md
  docs/user/user_guide.md
  src/ai/AGENTS.md
  src/ui/pages/agents_network.py
  src/ui/pages/guida_ui.py
  system/ops/runbook_codex.md
  tests/conftest.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: sync beta pipeline and test suite
  .pre-commit-config.yaml
  docs/adr/0007-raw-normalized-semantic-separation.md
  docs/developer/test_suite.md
  makefile
  pytest.ini
  src/pipeline/normalized_index.py
  src/timmy_kb/cli/raw_ingest.py
  tests/conftest.py
  tests/semantic/test_book_readiness.py
  tests/test_ai_config_prototimmy.py
  tests/test_auto_tagger_writer.py
  tests/test_capabilities_vision.py
  tests/test_client_context_settings.py
  tests/test_config_defaults.py
  tests/test_env_lazy.py
  tests/test_env_loader.py
  tests/test_file_io_append.py
  tests/test_ingest_retriever_workspace_db.py
  tests/test_merge_utils.py
  tests/test_path_safety_reads.py
  tests/test_path_utils.py
  tests/test_proc_utils_retry.py
  tests/test_retriever_api.py
  tests/test_retriever_config.py
  tests/test_retriever_unit.py
  tests/test_run_nlp_to_db.py
  tests/test_safe_write_text_passthrough.py
  tests/test_semantic_tags_csv.py
  tests/test_smoke_dummy_e2e.py
  tests/test_status_guard_fallback.py
  tests/test_ui_exit_buttons.py
  tests/test_ui_vision_gating.py
  tests/test_unit_tags_validator.py
  tests/test_yaml_utils.py
  tests/test_yaml_validation.py
  tests/ui/test_tools_check_sections.py
  tools/test_runner.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: stabilize pre-push QA gate
  .codex/AGENTS.md
  .codex/CHECKLISTS.md
  .codex/CODING_STANDARDS.md
  .codex/CONSTITUTION.md
  .codex/PROMPTS.md
  .codex/WORKFLOWS.md
  .pre-commit-config.yaml
  docs/developer/coding_rule.md
  docs/developer/developer_quickstart.md
  docs/developer/guida_codex.md
  docs/developer/retriever_refactor_map.md
  docs/developer/streamlit_ui.md
  docs/developer/test_suite.md
  docs/policies/OCP_WORKFLOW.md
  docs/policies/import_contract.md
  docs/policies/security.md
  instructions/08_gate_evidence_and_retry_contract.md
  system/ops/agents_index.md
  system/ops/runbook_codex.md
  tests/test_agent_smoke.py
  tools/dev/qa_safe.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: enforce normative decisions and state ssot
  docs/developer/_deprecated/state_model_prebeta.md
  docs/developer/state_model.md
  src/storage/decision_ledger.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/raw_ingest.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: keep raw_ingest intra-state
  docs/developer/state_model.md
  src/timmy_kb/cli/raw_ingest.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: keep ledger records non-diagnostic
  instructions/10_runtime_strict_contract_beta.md
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars

fix: enforce strict runtime guards
  .pre-commit-config.yaml
  src/ai/responses.py
  src/ui/pages/prototimmy_chat.py
  src/ui/preflight.py
  tests/ai/test_invocation_logging.py
  tests/ai/test_responses_json.py
  tools/ai_checks/ui_strict_runtime_guard.py
Due: fix-control-chars, forbid-control-chars

fix: stabilize ConfigError messages and document env overrides
  docs/policies/versioning_policy.md
  instructions/12_env_override_capabilities.md
  instructions/README.md
  src/adapters/preview.py
  src/ai/kgraph.py
  src/ai/responses.py
  src/ai/vision_schema_diagnostics.py
  src/pipeline/config_utils.py
  src/pipeline/context.py
  src/pipeline/drive/client.py
  src/pipeline/env_utils.py
  src/pipeline/file_utils.py
  src/pipeline/frontmatter_utils.py
  src/pipeline/ontology.py
  src/pipeline/path_utils.py
  src/pipeline/settings.py
  src/pipeline/yaml_utils.py
  src/semantic/entities_runner.py
  src/semantic/spacy_extractor.py
  src/semantic/tags_io.py
  src/semantic/tags_validator.py
  src/semantic/vision_provision.py
  src/storage/decision_ledger.py
  src/storage/tags_store.py
  src/timmy_kb/cli/ledger_status.py
  src/ui/config_store.py
Due: mypy, fix-control-chars, forbid-control-chars, cspell

fix: enforce strict mode hardening
  docs/developer/streamlit_ui.md
  src/pipeline/config_utils.py
  src/pipeline/env_utils.py
  src/storage/tags_store.py
  src/timmy_kb/cli/tag_onboarding.py
  src/ui/gating.py
  src/ui/pages/new_client.py
  tests/pipeline/test_config_utils_strict.py
  tests/pipeline/test_env_utils_beta_strict.py
  tests/test_run_nlp_to_db.py
  tests/ui/test_gating_semantics.py
  tests/ui/test_gating_strict.py
  tests/ui/test_new_client_flow.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: harden beta strict flag
  src/pipeline/beta_flags.py
  src/pipeline/config_utils.py
  src/pipeline/env_utils.py
  src/timmy_kb/cli/tag_onboarding.py
  src/ui/gating.py
  src/ui/pages/new_client.py
  tests/pipeline/test_beta_flags_strict.py
  tests/pipeline/test_env_utils_beta_strict.py
Due: fix-control-chars, forbid-control-chars

fix: allinea Vision con raw/registry
  src/pipeline/vision_runner.py
  src/ui/pages/new_client.py
  tests/pipeline/test_raw_structure_materialize.py
Due: fix-control-chars, forbid-control-chars

fix: normalize drive config and migration
  config/config.yaml
  docs/developer/coding_rule.md
  docs/developer/configurazione.md
  src/pipeline/config_utils.py
  src/pipeline/ingest/provider.py
  src/pipeline/settings.py
  src/pipeline/vision_runner.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/tools/clean_client_workspace.py
  src/ui/clients_store.py
  src/ui/pages/new_client.py
  src/ui/services/drive_runner.py
  tests/conftest.py
  tests/pipeline/test_config_utils_migration.py
  tests/pipeline/test_raw_structure_materialize.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/test_clients_store.py
  tests/test_ingest_provider.py
  tests/test_semantic_onboarding_exitcodes.py
  tests/test_tag_onboarding_drive_guard_main.py
  tests/test_tag_onboarding_helpers.py
  tools/dummy/orchestrator.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: add artifacts policy and references
  SUMMARY.md
  cspell.json
  docs/index.md
  docs/user/user_guide.md
  instructions/13_artifacts_policy.md
  src/tools/clean_client_workspace.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: update artifacts inventory (runtime)
  instructions/13_artifacts_policy.md
Due: fix-control-chars, forbid-control-chars

docs: fix ascii-only punctuation
  instructions/13_artifacts_policy.md
Due: fix-control-chars, forbid-control-chars

refactor: unify vision yaml paths
  src/pipeline/drive/upload.py
  src/pipeline/vision_paths.py
  src/pipeline/vision_runner.py
  src/semantic/frontmatter_service.py
  src/semantic/vision_provision.py
  src/ui/fine_tuning/pdf_tools.py
  src/ui/fine_tuning/yaml_io.py
  src/ui/pages/new_client.py
  src/ui/services/vision_provision.py
Due: mypy, fix-control-chars, forbid-control-chars

feat: add determinism/low-entropy QA gate
  docs/user/user_guide.md
  instructions/13_artifacts_policy.md
  src/pipeline/artifact_policy.py
  src/pipeline/exceptions.py
  src/storage/decision_ledger.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/raw_ingest.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  src/ui/services/drive_runner.py
  tests/architecture/test_determinism_low_entropy_gate.py
  tests/architecture/test_strictness_discipline.py
  tests/fixtures/determinism_manifest.json
  tests/semantic/test_semantic_onboarding_cli.py
  tests/test_path_utils.py
  tests/ui/test_drive_runner_readme_fallback.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: enforce QA gate evidence
  .secrets.baseline
  docs/dev/EVIDENCE_REPORT_POST_FIX.md
  docs/dev/QA_GATE_POLICY.md
  docs/dev/QA_GATE_RECON.md
  instructions/07_gate_checklists.md
  instructions/08_gate_evidence_and_retry_contract.md
  instructions/13_artifacts_policy.md
  src/pipeline/artifact_policy.py
  src/pipeline/exceptions.py
  src/pipeline/qa_evidence.py
  src/pipeline/qa_gate.py
  src/semantic/frontmatter_service.py
  src/storage/decision_ledger.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/ui/pages/semantics.py
  tests/architecture/test_determinism_low_entropy_gate.py
  tests/architecture/test_qa_evidence_low_entropy.py
  tests/architecture/test_qa_gate_shared.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/test_contract_artifacts.py
  tests/test_observability_smoke.py
  tests/test_semantic_api_summary_readme.py
  tests/test_semantic_onboarding_exitcodes.py
  tests/test_smoke_e2e.py
Due: fix-control-chars, forbid-control-chars, cspell

chore(secrets): exclude deterministic manifest fixture from detect-secrets baseline
  .pre-commit-config.yaml
  .secrets.baseline
Due: fix-control-chars, forbid-control-chars

fix: enforce strict QA evidence timestamp
  docs/dev/EVIDENCE_REPORT_POST_FIX.md
  docs/dev/QA_GATE_RECON.md
  src/pipeline/qa_evidence.py
  tests/architecture/test_qa_evidence_low_entropy.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars, cspell

fix(cli): resolve qa evidence log dir
  src/timmy_kb/cli/qa_evidence.py
Due: fix-control-chars, forbid-control-chars

test(cli): cover qa evidence logs dir regression
  tests/cli/test_qa_evidence_log_dir_regression.py
Due: fix-control-chars, forbid-control-chars

fix(vision): enforce workspace-only vision yaml
  .codex/WORKFLOWS.md
  config/vision_statement.yaml
  config/visionstatement.yaml
  instructions/13_artifacts_policy.md
  src/pipeline/vision_paths.py
  src/semantic/frontmatter_service.py
  src/semantic/vision_parser.py
  src/ui/fine_tuning/__init__.py
  src/ui/fine_tuning/pdf_tools.py
  src/ui/fine_tuning/tools_check_sections.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/fine_tuning/yaml_io.py
  tests/semantic/test_vision_provision.py
  tests/test_frontmatter_layout.py
  tests/test_vision_ingest.py
Due: fix-control-chars, forbid-control-chars

fix(dummy): clarify workspace vision error
  tools/dummy/orchestrator.py
Due: none

fix(vision): ensure yaml imports workspace state
  src/ui/fine_tuning/yaml_io.py
  tests/ui/test_repo_root.py
Due: fix-control-chars, forbid-control-chars

definizione Dummy - incompleto
  docs/user/arricchimento.md
  src/pipeline/env_utils.py
  src/pipeline/settings.py
  src/pipeline/vision_runner.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/raw_ingest.py
  src/timmy_kb/cli/tag_onboarding.py
  src/ui/clients_store.py
  src/ui/pages/manage.py
  src/ui/preflight.py
  tests/cli/test_qa_evidence_log_dir_regression.py
  tests/pipeline/test_raw_structure_materialize.py
  tests/test_env_loader.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tests/tools/test_dummy_orchestrator_toggles.py
  tools/dummy/orchestrator.py
  tools/dummy/semantic.py
  tools/dummy/vision.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars, cspell

aggiornamento dipendnze
  requirements.in
  requirements.txt
Due: fix-control-chars, forbid-control-chars

Sistemazione dummy - intermedio
  docs/user/arricchimento.md
  src/pipeline/vision_runner.py
  src/semantic/auto_tagger.py
  src/ui/pages/manage.py
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tests/tools/test_dummy_orchestrator_toggles.py
  tools/dummy/health.py
  tools/dummy/orchestrator.py
  tools/dummy/policy.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: allinea protobuf al lock
  requirements-dev.txt
Due: fix-control-chars, forbid-control-chars

fix requirements pytest
  constraints.txt
  requirements-optional.in
  requirements-optional.txt
Due: fix-control-chars, forbid-control-chars

Fix requirements filelock
  constraints.txt
  requirements-optional.txt
  requirements.txt
Due: fix-control-chars, forbid-control-chars

test: stabilizza fixture dummy su Windows
  tests/conftest.py
  tests/semantic/test_manage_dedup.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tests/tools/test_dummy_orchestrator_toggles.py
  tests/tools/test_gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

chore: run pre-commit hooks
  tests/test_gen_dummy_kb_import_safety.py
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tests/tools/test_dummy_orchestrator_toggles.py
  tests/tools/test_gen_dummy_kb.py
  tools/dummy/health.py
  tools/dummy/policy.py
Due: fix-control-chars, forbid-control-chars

fix: skip spacy check for UI flows
  src/ui/pages/dummy_kb.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars
