Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: cspell, mypy, forbid-runtime-asserts, forbid-path-write-text-bytes, no-secrets-in-yaml, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

cspell:
  name: cspell (docs + README + src + tests)
  entry: cspell lint --no-progress --config cspell.json
  language: node
  additional_dependencies:
  - cspell@9.2.1
  - '@cspell/dict-it-it@3.1.6'
  pass_filenames: true
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  - types-requests==2.32.4.20250809
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  - src/pipeline/drive
  - src/pipeline/drive_utils.py
  stages:
  - pre-push

forbid-runtime-asserts:
  name: Forbid runtime asserts in src/
  entry: python tools/dev/forbid_runtime_asserts.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-path-write-text-bytes:
  name: Forbid Path.write_text/bytes in src/ (use safe_write_*)
  entry: python tools/dev/forbid_path_writetext_bytes.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

no-secrets-in-yaml:
  name: Forbid inline secrets in config YAML
  entry: python tools/smoke/check_yaml_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python tools/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python tools/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-smart-quotes:
  name: Forbid smart quotes/dashes (unicode punctuation)
  entry: python tools/replace_quotes.py --check
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-hardcoded-vision-model:
  name: Forbid hardcoded Vision model in UI services
  entry: python tools/smoke/check_no_hardcoded_vision_model.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

forbid-legacy-valueerror:
  name: Forbid ValueError in runtime layers
  language: pygrep
  entry: raise\s*ValueError\(
  stages:
  - pre-commit
  - pre-push

check-spdx-headers:
  name: Check SPDX headers in Python files
  entry: python tools/smoke/check_spdx_headers.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(ui): remove drive download signature shim; always require_env
  tests/ui/test_manage_drive_strict_require_env.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

chore(cli): remove normalized_dir fallback in semantic onboarding evidence refs
  reports/fallback_catalog_2026-02-14.md
  reports/fallback_scan_2026-02-14.txt
  src/timmy_kb/cli/semantic_onboarding.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/test_semantic_onboarding_exitcodes.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

fix(pipeline): restrict frontmatter fallback to expected errors
  reports/fallback_catalog_2026-02-14.md
  reports/fallback_scan_2026-02-14.txt
  src/pipeline/content_utils.py
  tests/test_content_utils_frontmatter.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core): remove legacy vision_pdf fallback in new_client
  src/pipeline/capabilities/new_client.py
  tests/pipeline/test_contract_new_client_strict_env.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core-gate): remove tags_db fallback in ui tagging gate
  src/ui/utils/workspace.py
  tests/test_ui_utils.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core): remove workspace_root fallback path in new_client
  src/pipeline/capabilities/new_client.py
  tests/pipeline/test_contract_new_client_strict_env.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core): hard-fail on embedding/indexing errors (no silent 0 inserts)
  src/semantic/embedding_service.py
  tests/semantic/test_embedding_service_strict_failures.py
  tests/test_embedding_error_event.py
  tests/test_semantic_index_markdown_db.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core): hard-fail frontmatter enrichment (no silent skips or mapping downgrade)
  src/semantic/frontmatter_service.py
  tests/semantic/test_embedding_service_strict_failures.py
  tests/semantic/test_frontmatter_service_strict_failures.py
  tests/test_semantic_api_enrich_frontmatter.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core): hard-fail entities pipeline (remove skipped downgrade)
  src/semantic/entities_runner.py
  tests/semantic/test_entities_runner_core_guardrail.py
  tests/semantic/test_entities_runner_strict_failures.py
  tests/semantic/test_frontmatter_service_strict_failures.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core): treat invalid vision hash sentinel as deterministic rerun trigger
  src/pipeline/vision_runner.py
  tests/pipeline/test_vision_runner_hash_sentinel_strict.py
  tests/semantic/test_entities_runner_strict_failures.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(instructions): add beta 1.0 contract checklist
  instructions/14_beta_contract_checklist.md
Due: fix-control-chars, forbid-control-chars, forbid-smart-quotes

chore(core): add beta entropy guardrail test and manifest contract link
  MANIFEST.md
  src/pipeline/capabilities/new_client.py
  src/semantic/frontmatter_service.py
  tests/architecture/test_entropy_guards.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

chore(core): apply 5 high-impact deterministic patches
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/contract/test_semantic_api_contract.py
  tests/semantic/test_vocab_loader_parsing.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

docs(beta): clarify guardrail scope and contract-test enforcement
  instructions/14_beta_contract_checklist.md
Due: fix-control-chars, forbid-control-chars, forbid-smart-quotes

chore(ui): harden onboarding bootstrap logging and dotenv strict default
  src/timmy_kb/ui/onboarding_ui.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

chore(ui): remove route-state import shim in onboarding query hydration
  src/timmy_kb/ui/onboarding_ui.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

fix(semantic): enforce strict cache cleanup and PyYAML runtime requirements
  instructions/10_runtime_strict_contract_beta.md
  instructions/13_artifacts_policy.md
  src/semantic/api.py
  src/semantic/frontmatter_service.py
  tests/semantic/test_api_frontmatter_cache.py
  tests/test_frontmatter_layout.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test: deduplicate obsolete strict guardrail tests
  tests/ai/test_config_boundary.py
  tests/contract/test_service_audit_log.py
  tests/semantic/test_convert_service_strict_signature.py
  tests/semantic/test_entities_runner_core_guardrail.py
  tests/semantic/test_vision_provision.py
  tests/semantic/test_vision_strict_guardrails.py
  tests/test_ai_config_prototimmy.py
  tests/test_clients_store.py
  tests/test_semantic_api.py
  tests/test_semantic_api_convert_md.py
  tests/test_semantic_api_errors.py
  tests/test_semantic_api_get_paths.py
  tests/test_vocab_loader_failfast.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test: harmonize negative test suites and remove obsolete duplicates
  tests/_helpers/noop_logger.py
  tests/semantic/test_vocab_loader_strict.py
  tests/test_convert_markdown_no_pdfs_raises.py
  tests/test_convert_markdown_rerun_processes_new_pdfs.py
  tests/test_convert_markdown_unsafe_message.py
  tests/test_pdf_iteration_symlink.py
  tests/test_semantic_build_markdown_book.py
  tests/test_vocab_loader_failfast.py
  tests/test_vocab_loader_integration_db.py
  tests/test_vocab_loader_sqlite_errors.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test(markers): expand negative coverage tranche 1
  docs/developer/test_suite.md
  makefile
  pytest.ini
  tests/conftest.py
  tools/test_runner.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test(markers): expand negative coverage tranche 2
  tests/test_ai_config_prototimmy.py
  tests/test_client_factory.py
  tests/test_embedding_error_event.py
  tests/test_vision_template.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

fix(beta): hard-fail on incomplete signals (chunking/indexing/frontmatter)
  src/pipeline/content_utils.py
  src/pipeline/frontmatter_utils.py
  src/semantic/embedding_service.py
  tests/semantic/test_embedding_service_strict_failures.py
  tests/test_chunk_record_builder.py
  tests/test_content_utils_frontmatter.py
  tests/test_semantic_embedding_service_strict.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test(semantic): align indexing tests with strict frontmatter failures
  tests/test_index_skip_empty_file.py
  tests/test_indexer_chunk_record.py
  tests/test_indexer_init_failfast.py
  tests/test_indexer_schema_once.py
  tests/test_kb_db_insert.py
  tests/test_observability_smoke.py
  tests/test_semantic_index_markdown_db.py
  tests/test_semantic_index_markdown_partial_mismatch.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

fix(beta): apply safe micro-prs for cache, retriever, and semantic onboarding
  src/pipeline/content_utils.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/test_content_utils_frontmatter.py
  tests/test_retriever_topk.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test: harden retriever/frontmatter/index deterministic contracts
  tests/retriever/test_search_event_contract.py
  tests/semantic/test_vocab_loader_parsing.py
  tests/test_content_utils_frontmatter.py
  tests/test_semantic_index_markdown_db.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test: enforce no-yaml runtime path and unique soft-fail causality
  src/timmy_kb/cli/retriever.py
  tests/retriever/test_search_event_contract.py
  tests/semantic/test_runtime_no_yaml_access.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

fix(semantic): narrow core exception handling and stabilize vocab property test
  src/semantic/api.py
  tests/semantic/test_vocab_loader_parsing.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test(retriever): enforce unique causal event for all empty-result branches
  tests/retriever/test_search_event_contract.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

test(semantic): add runtime no-yaml-regression for vocab SSoT
  tests/semantic/test_vocab_loader_runtime_ssot.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

refactor(pipeline): unify markdown writers via local safe write+log wrapper
  src/pipeline/content_utils.py
  tests/semantic/test_vocab_loader_runtime_ssot.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

refactor: split semantic flow and search runtime state
  src/semantic/api.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/semantic_onboarding.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix: recover missing workspace config during new-client init
  src/pipeline/capabilities/new_client.py
  tests/pipeline/test_contract_new_client_strict_env.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix: harden control-plane payload parsing and env isolation
  src/pipeline/capabilities/new_client.py
  src/ui/utils/control_plane.py
  tests/ui/test_control_plane.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix: expand WORKSPACE_ROOT_DIR slug macro in new-client flow
  src/pipeline/capabilities/new_client.py
  tests/pipeline/test_contract_new_client_strict_env.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix: avoid strict-forbidden repo override in vision provisioning
  src/pipeline/capabilities/new_client.py
  tests/pipeline/test_contract_new_client_strict_env.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(ui): bootstrap config before drive root probe for new slug
  src/ui/services/drive_runner.py
  tests/test_drive_runner_contract.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

fix(ui): replace deprecated experimental_rerun in new client dialog
  src/ui/pages/new_client.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(drive): include failed file details in aggregated download error
  src/pipeline/drive/download.py
  tests/pipeline/test_drive_download_pdfs.py
Due: cspell, mypy, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix(ui): treat partial drive download failures as warnings
  src/ui/manage/drive.py
  tests/ui/test_manage_drive_strict_require_env.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

docs(ui): clarify HiTL intent for partial drive download handling
  src/ui/manage/drive.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

Path conditions:
  cspell: any of: ^(README\.md|docs/.*\.md|src/.*\.py|tests/.*\.py)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-runtime-asserts: any of: ^src/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-path-write-text-bytes: any of: ^src/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  no-secrets-in-yaml: any of: ^config/.*\.ya?ml$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-smart-quotes: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml|py))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-hardcoded-vision-model: any of: ^src/ui/services/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-legacy-valueerror: any of: ^src/(ui|pipeline|semantic)/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  check-spdx-headers: any of: ^(src|tests|scripts)/.*\.py$ and \.py$ and not ((?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)
)
