Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat: migliorare gestione cliente e documentazione
  docs/guida_ui.md
  onboarding_ui.py
  src/retriever.py
  src/ui/pages/logs_panel.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: add grafana dashboards for observability
  docs/observability.md
  observability/grafana-dashboards/errors-dashboard.json
  observability/grafana-dashboards/logs-dashboard.json
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: make grafana queries accept non empty selectors
  observability/grafana-dashboards/errors-dashboard.json
  observability/grafana-dashboards/logs-dashboard.json
Due: fix-control-chars, forbid-control-chars

test: cover grafana dashboards
  tests/observability/test_grafana_dashboards.py
Due: fix-control-chars, forbid-control-chars

chore: harden observability logging
  docs/index.md
  src/retriever.py
  src/semantic/api.py
  src/semantic_onboarding.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars, cspell

test: align retriever clamp expectation
  tests/test_retriever_config.py
Due: fix-control-chars, forbid-control-chars

feat: automate gitbook publish with layout summary
  docs/data_transformation_review.md
  docs/policy_push.md
  scripts/gitbook_publish_smoke.py
  src/onboarding_full.py
  src/pipeline/config_utils.py
  src/pipeline/content_utils.py
  src/pipeline/exceptions.py
  src/pipeline/gitbook_preview.py
  src/pipeline/gitbook_publish.py
  src/pipeline/layout_summary.py
  src/semantic/frontmatter_service.py
  tests/test_content_utils.py
  tests/test_frontmatter_layout.py
  tests/test_gitbook_preview.py
  tests/test_gitbook_publish.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: include chunked pdf text in markdown
  src/pipeline/content_utils.py
  tests/test_content_utils.py
Due: fix-control-chars, forbid-control-chars

docs: cover gitbook secrets workflow
  .env.example
  docs/developer_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

revisione pipeline arricchimento semanticon
  .codex/WORKFLOWS.md
  cspell.json
  docs/architecture.md
  docs/guida_ui.md
  docs/next_core_for_assistants.md
  docs/user_guide.md
  src/kg_build.py
  src/onboarding_full.py
  src/pipeline/docker_utils.py
  src/semantic_onboarding.py
  src/timmykb/__init__.py
  src/timmykb/kg_builder.py
  src/timmykb/kg_models.py
  src/ui/pages/manage.py
  src/ui/preflight.py
  src/ui/services/__init__.py
  src/ui/services/tag_kg_builder.py
  tests/conftest.py
  tests/test_kg_builder.py
Due: fix-control-chars, forbid-control-chars, cspell

Prima definizione pagina di arricchimento semantico
  docs/guida_ui.md
  src/semantic/book_readiness.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  tests/semantic/test_book_readiness.py
Due: fix-control-chars, forbid-control-chars, cspell

fix
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

fix: upgrade pypdf to 6.4.0
  constraints.txt
  pyproject.toml
  requirements-dev.txt
  requirements-optional.in
  requirements-optional.txt
  requirements.in
  requirements.txt
  src/ui/components/semantic_wizard.py
Due: fix-control-chars, forbid-control-chars

pre-fix, push per controllo
  config/config.yaml
  docs/guida_ui.md
  docs/runbook_codex.md
  docs/user_guide.md
  onboarding_ui.py
  patch_config_doc.py
  pyproject.toml
  scripts/setup_repo_env.ps1
  semantic/cartelle_raw.yaml
  semantic/semantic_mapping.yaml
  semantic/tags_reviewed.yaml
  src/pipeline/context.py
  src/pipeline/env_utils.py
  src/pre_onboarding.py
  src/ui/components/diff_view.py
  src/ui/components/semantic_wizard.py
  src/ui/pages/config_editor.py
  src/ui/pages/manage.py
  src/ui/pages/semantics.py
  src/ui/semantic_progress.py
  src/ui/utils/compat.py
  tests/ui/test_manage_probe_raw.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix generici
  config/config.yaml
  cspell.json
  docs/architecture.md
  docs/developer_guide.md
  docs/guida_ui.md
  docs/observability.md
  docs/runbook_codex.md
  docs/test_suite.md
  semantic/cartelle_raw.yaml
  semantic/semantic_mapping.yaml
  semantic/tags_reviewed.yaml
  src/pipeline/content_utils.py
  src/retriever.py
  src/semantic/api.py
  src/semantic/tags_io.py
  src/semantic_onboarding.py
  src/ui/pages/semantics.py
  src/ui/preflight.py
  tests/retriever/test_throttle_guard.py
  tests/test_content_utils_frontmatter.py
  tests/test_frontmatter_cache_refresh.py
  tests/test_retriever_candidate_limit.py
  tests/test_semantic_build_markdown_book.py
  tests/test_timmy_kb_coder_config.py
Due: fix-control-chars, forbid-control-chars, cspell

Refactor Vision->Entities->ER: integrazione completa e validazione finale
  config/assistant_vision_system_prompt.txt
  docs/data_transformation_review.md
  docs/user_guide.md
  schemas/VisionOutput.schema.json
  src/pipeline/content_utils.py
  src/semantic/embedding_service.py
  src/semantic/frontmatter_service.py
  src/semantic/vision_parser.py
  src/semantic/vision_provision.py
  src/semantic/vision_utils.py
  src/ui/services/vision_provision.py
  tests/test_frontmatter_layout.py
Due: fix-control-chars, forbid-control-chars, cspell

Integrazione entità globali NeXT in VisionOutput e README
  config/assistant_vision_system_prompt.txt
  config/entities.yaml
  src/pipeline/content_utils.py
  src/pipeline/ontology.py
  src/semantic/vision_provision.py
  tests/test_content_utils_readme_summary.py
  tests/test_pipeline_ontology.py
  tests/test_vision_provision_inline.py
Due: fix-control-chars, forbid-control-chars

UI ToolsCheck aggiornata con entità, mapping e diagnostica Vision
  src/ui/fine_tuning/tools_check_sections.py
  tests/ui/test_tools_check_sections.py
Due: fix-control-chars, forbid-control-chars

test: stabilizza storage semantic_progress e fallback yaml
  src/ui/semantic_progress.py
  tests/conftest.py
  tests/ui/test_semantic_progress.py
Due: fix-control-chars, forbid-control-chars

feat: genera template Vision dummy quando manca
  src/tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

fix: guard dummy regen and vocab contracts
  src/pipeline/path_utils.py
  src/pre_onboarding.py
  src/retriever.py
  src/ui/chrome.py
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

refactor: simplify dummy modal
  src/ui/chrome.py
Due: fix-control-chars, forbid-control-chars

fix: harden dummy kb generation fallback
  config/VisionStatement.pdf
  config/vision_template.yaml
  schemas/VisionOutput.schema.json
  scripts/archive/vision_alignment_check.py
  scripts/vision_alignment_check.py
  src/pipeline/vision_template.py
  src/semantic/vision_provision.py
  src/tools/gen_dummy_kb.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/fine_tuning/yaml_io.py
  src/ui/services/vision_provision.py
  tests/semantic/test_vision_parser_headers.py
  tests/semantic/test_vision_provision.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
  tests/test_vision_sections.py
Due: fix-control-chars, forbid-control-chars

chore: define senior reviewer process
  .codex/AGENTS.md
  .codex/CHECKLISTS.md
  .codex/PROMPTS.md
Due: fix-control-chars, forbid-control-chars

docs: describe senior reviewer flow
  docs/codex_integrazione.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: normalize vision schema required
  src/semantic/vision_provision.py
Due: fix-control-chars, forbid-control-chars

chore: log response format schema
  src/semantic/vision_provision.py
Due: fix-control-chars, forbid-control-chars

chore: log response format payload
  src/semantic/vision_provision.py
Due: fix-control-chars, forbid-control-chars

chore: add vision schema verifier
  scripts/verify_vision_schema.py
Due: none

chore: extend vision schema verifier
  scripts/verify_vision_schema.py
Due: none

chore: support glob logs
  scripts/verify_vision_schema.py
Due: none

chore: add vision schema preflight check
  src/ui/preflight.py
Due: fix-control-chars, forbid-control-chars

fix: align vision use_kb handling
  docs/CHANGELOG.md
  docs/runbook_codex.md
  src/semantic/vision_provision.py
  tests/semantic/test_vision_provision.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: log vision schema and add debug helper
  scripts/dev/debug_vision_schema.py
  src/semantic/vision_provision.py
  tests/semantic/test_vision_provision.py
Due: fix-control-chars, forbid-control-chars

Fix Vision
  config/config.yaml
  scripts/__pycache__/vision_alignment_check.cpython-311.pyc
  scripts/vision_alignment_check.py
  src/semantic/vision_provision.py
  tests/semantic/test_vision_provision.py
Due: fix-control-chars, forbid-control-chars

Nuovi fix vision
  config/VisionStatement.pdf
  config/config.yaml
  src/semantic/vision_provision.py
  src/ui/services/vision_provision.py
  tests/semantic/test_vision_provision.py
Due: fix-control-chars, forbid-control-chars

refactor completo logging, eliminazione project_slug
  docs/logging_events.md
  scripts/bench_embeddings_normalization.py
  scripts/db/migrate_add_indexes.sql
  scripts/ingest_demo.py
  scripts/retriever_benchmark.py
  src/ingest.py
  src/kb_db.py
  src/retriever.py
  src/security/authorization.py
  src/security/throttle.py
  src/semantic/embedding_service.py
  src/tools/retriever_calibrate.py
  tests/retriever/test_logging.py
  tests/retriever/test_security_hooks.py
  tests/test_db_safety.py
  tests/test_ingest_performance.py
  tests/test_ingest_safety.py
  tests/test_kb_db_insert.py
  tests/test_kb_db_logging.py
  tests/test_kb_db_path_safety.py
  tests/test_retriever_api.py
  tests/test_retriever_calibrate_io.py
  tests/test_retriever_candidate_limit.py
  tests/test_retriever_config.py
  tests/test_retriever_metrics_counters.py
  tests/test_retriever_ranking_invariance_short_circuit.py
  tests/test_retriever_scoring.py
  tests/test_retriever_topk.py
  tests/test_retriever_unit.py
  tests/test_retriever_validate.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: harden logging bootstrap and validation
  docs/logging_events.md
  onboarding_ui.py
  src/pipeline/content_utils.py
  src/pre_onboarding.py
  src/retriever.py
  src/semantic/api.py
  tests/test_retriever_validate.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: tidy retriever search docstring
  src/retriever.py
Due: fix-control-chars, forbid-control-chars

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

