Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: cspell, mypy, forbid-runtime-asserts, forbid-path-write-text-bytes, no-secrets-in-yaml, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

cspell:
  name: cspell (docs + README + src + tests)
  entry: cspell lint --no-progress --config cspell.json
  language: node
  additional_dependencies:
  - cspell@9.2.1
  - '@cspell/dict-it-it@3.1.6'
  pass_filenames: true
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  - types-requests==2.32.4.20250809
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  - src/pipeline/drive
  - src/pipeline/drive_utils.py
  stages:
  - pre-push

forbid-runtime-asserts:
  name: Forbid runtime asserts in src/
  entry: python tools/dev/forbid_runtime_asserts.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-path-write-text-bytes:
  name: Forbid Path.write_text/bytes in src/ (use safe_write_*)
  entry: python tools/dev/forbid_path_writetext_bytes.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

no-secrets-in-yaml:
  name: Forbid inline secrets in config YAML
  entry: python tools/smoke/check_yaml_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python tools/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python tools/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-smart-quotes:
  name: Forbid smart quotes/dashes (unicode punctuation)
  entry: python tools/replace_quotes.py --check
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-hardcoded-vision-model:
  name: Forbid hardcoded Vision model in UI services
  entry: python tools/smoke/check_no_hardcoded_vision_model.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

forbid-legacy-valueerror:
  name: Forbid ValueError in runtime layers
  language: pygrep
  entry: raise\s*ValueError\(
  stages:
  - pre-commit
  - pre-push

check-spdx-headers:
  name: Check SPDX headers in Python files
  entry: python tools/smoke/check_spdx_headers.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(preflight): cache attestation checks and harden UI fallback
  src/pipeline/env_attestation.py
  src/ui/preflight.py
  tests/test_env_attestation.py
  tests/test_preflight_import_safety.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test(env): consolidate dotenv setup and deduplicate sbom target
  tests/support/dotenv_helpers.py
  tests/test_env_lazy.py
  tests/test_env_loader.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

chore(build): remove duplicated sbom target
  makefile
Due: none

test: enforce strict-first runner and consolidate dotenv helpers
  tests/ai/test_responses_json.py
  tests/conftest.py
  tests/determinism/env_helpers.py
  tests/support/dotenv_helpers.py
  tools/test_runner.py
Due: cspell, fix-control-chars, forbid-control-chars, forbid-smart-quotes, check-spdx-headers

feat(ui): add drive upload progress and align runtime/test policies
  docs/developer/test_suite.md
  src/pipeline/env_attestation.py
  src/ui/components/drive_tree.py
  tools/test_runner.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

refactor: decouple ui/runtime boundaries from cli internals
  .codex/USER_DEV_SEPARATION.md
  docs/developer/guida_codex.md
  src/pipeline/drive_bootstrap_api.py
  src/pipeline/drive_bootstrap_service.py
  src/pipeline/workspace_bootstrap_api.py
  src/pipeline/workspace_bootstrap_service.py
  src/semantic/api.py
  src/timmy_kb/cli/pre_onboarding.py
  src/ui/landing_slug.py
  src/ui/services/drive_runner.py
  src/ui/services/tag_kg_builder.py
  tests/architecture/test_facade_imports.py
  tests/architecture/test_pipeline_does_not_import_cli.py
  tests/test_dummy_mode_cli.py
  tests/test_ownership_template.py
  tests/test_ui_paths_box.py
  tests/ui/test_manage_drive_strict_require_env.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-hardcoded-vision-model, forbid-legacy-valueerror, check-spdx-headers

docs: update changelog
  CHANGELOG.md
Due: fix-control-chars, forbid-control-chars, forbid-smart-quotes

fix: harden semantic strictness patches and tests
  cspell.json
  docs/developer/test_suite.md
  src/pipeline/workspace_bootstrap_service.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/semantic/test_api_frontmatter_cache.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
  tests/test_vocab_loader.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

test: harden core observability fallback guardrails
  src/semantic/vocab_loader.py
  tests/semantic/test_vocab_loader_observability_contract.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
Due: cspell, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

fix: align OpenAI client usage to central helper
  src/ai/client_factory.py
  src/pipeline/drive/upload.py
  src/pipeline/env_attestation.py
  src/timmy_kb/cli/ingest.py
Due: cspell, mypy, forbid-runtime-asserts, forbid-path-write-text-bytes, fix-control-chars, forbid-control-chars, forbid-smart-quotes, forbid-legacy-valueerror, check-spdx-headers

Path conditions:
  cspell: any of: ^(README\.md|docs/.*\.md|src/.*\.py|tests/.*\.py)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-runtime-asserts: any of: ^src/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-path-write-text-bytes: any of: ^src/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  no-secrets-in-yaml: any of: ^config/.*\.ya?ml$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-smart-quotes: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml|py))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-hardcoded-vision-model: any of: ^src/ui/services/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-legacy-valueerror: any of: ^src/(ui|pipeline|semantic)/.*\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  check-spdx-headers: any of: ^(src|tests|scripts)/.*\.py$ and \.py$ and not ((?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)
)
