Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


docs: fix authority accents
  docs/developer/coding_rule.md
  docs/developer/developer_guide.md
  system/architecture.md
Due: fix-control-chars, forbid-control-chars, cspell

docs(policies): add enforcement & references sections
  docs/policies/OCP_WORKFLOW.md
  docs/policies/guida_codex.md
  docs/policies/import_contract.md
  docs/policies/next_core_for_assistants.md
  docs/policies/security.md
  docs/policies/versioning_policy.md
Due: fix-control-chars, forbid-control-chars, cspell

docs: align SUMMARY with canonical documentation structure
  SUMMARY.md
Due: fix-control-chars, forbid-control-chars

docs: clarify normative context and governance sources
  docs/developer/developer_guide.md
  docs/index.md
  docs/user/user_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

docs: add light index of auxiliary developer tools
  docs/developer/developer_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

docs: add conceptual storage overview (SQLite SSoT)
  docs/developer/developer_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: enforce strict semantic failures and clarify drive capability
  MANIFEST.md
  docs/developer/developer_guide.md
  instructions/10_runtime_strict_contract_beta.md
  src/semantic/core.py
  tests/test_semantic_strict_failures.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: add environment certification evidence and policy
  docs/index.md
  docs/policies/environment_certification.md
  src/semantic/core.py
  src/timmy_kb/cli/kg_build.py
  src/timmy_kb/cli/qa_evidence.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  src/timmy_kb/ui/onboarding_ui.py
  src/timmy_kb/versioning.py
  system/ops/runbook_codex.md
  tests/test_semantic_strict_failures.py
Due: fix-control-chars, forbid-control-chars, cspell

intermedio
  book/README.md
  book/SUMMARY.md
  book/alpha.md
  book/beta.md
  raw/milestone/README.pdf
  raw/milestone/sample.pdf
  raw/obiettivo/README.pdf
  raw/obiettivo/sample.pdf
  raw/progetto/README.pdf
  raw/progetto/sample.pdf
  raw/sample.pdf
  semantic/.vision_hash
  semantic/semantic_mapping.yaml
  semantic/tags.db
  semantic/tags_raw.json
Due: fix-control-chars, forbid-control-chars

fix: rendi repo_root/workspace_root strict e UI env-first
  src/pipeline/context.py
  src/pipeline/path_utils.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/clients_store.py
  src/ui/config_store.py
  src/ui/fine_tuning/yaml_io.py
  src/ui/landing_slug.py
  src/ui/pages/admin.py
  src/ui/utils/repo_root.py
  tests/cli/test_ledger_status.py
  tests/conftest.py
  tests/e2e/test_enable_and_preview.py
  tests/pipeline/test_context_repo_root_dir.py
  tests/test_cli_env_missing.py
  tests/test_client_context_bootstrap_mode.py
  tests/test_client_context_settings.py
  tests/test_context_logging_events.py
  tests/test_contract_artifacts.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_ingest_performance.py
  tests/test_ingest_safety.py
  tests/test_kg_build_cli_runtime_strict.py
  tests/test_landing_slug_paths.py
  tests/test_pre_onboarding_strict.py
  tests/test_smoke_dummy_e2e.py
  tests/test_smoke_e2e.py
  tests/test_tag_onboarding_cli_smoke.py
  tests/ui/test_new_client_flow.py
  tests/ui/test_pages_import.py
  tests/ui/test_repo_root.py
  tools/dummy/bootstrap.py
  tools/gen_dummy_kb.py
  tools/smoke/smoke_streamlit_finance.py
Due: fix-control-chars, forbid-control-chars

fix: limita clients_db all'esempio e ricarica config drive
  .gitignore
  clients_db/clients/example/ownership.yaml
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars

fix: ricarica contesto per check drive
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars

feat: genera cartelle raw da vision
  src/pipeline/drive/upload.py
  src/pipeline/vision_runner.py
  src/semantic/vision_provision.py
  src/timmy_kb/cli/semantic_onboarding.py
Due: mypy, fix-control-chars, forbid-control-chars

feat: genera raw da semantic mapping
  src/pipeline/drive/upload.py
  src/pipeline/semantic_mapping_utils.py
  src/pipeline/vision_runner.py
  src/timmy_kb/cli/semantic_onboarding.py
Due: mypy, fix-control-chars, forbid-control-chars

fix: rimuovi auto-heal ctx e mantieni raw deterministico su gate
  src/pipeline/vision_runner.py
Due: fix-control-chars, forbid-control-chars

feat: determinismo mapping Vision e provisioning raw
  docs/developer/coding_rule.md
  src/pipeline/drive/upload.py
  src/pipeline/semantic_mapping_utils.py
  src/pipeline/semantic_mapping_validation.py
  src/semantic/vision_provision.py
  src/semantic/vision_utils.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/test_ui_vision_gating.py
Due: mypy, fix-control-chars, forbid-control-chars, cspell

fix: gate raw_ready by vision hash
  src/ui/utils/workspace.py
Due: fix-control-chars, forbid-control-chars

fix: silenzia warning UI pre-Vision
  src/ui/clients_store.py
  src/ui/utils/workspace.py
Due: fix-control-chars, forbid-control-chars

fix: enforce strict guard and slug bootstrap
  cspell.json
  src/ai/assistant_registry.py
  src/ai/vision_config.py
  src/semantic/vision_provision.py
  src/ui/clients_store.py
  src/ui/manage/_helpers.py
  src/ui/pages/dummy_kb.py
  src/ui/utils/__init__.py
  src/ui/utils/slug.py
  system/architecture.md
  tests/ai/test_assistant_registry.py
  tests/ai/test_config_boundary.py
  tests/conftest.py
  tests/semantic/test_vision_provision.py
  tests/test_ai_config_prototimmy.py
  tests/test_clients_store.py
  tests/test_ui_utils.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
  tests/ui/test_dummy_kb_slug_bootstrap.py
  tests/ui/test_slug_persistence.py
  tests/ui/test_slug_runtime_resolver.py
Due: fix-control-chars, forbid-control-chars

fix: stabilize ui startup env and slug logging
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/utils/slug.py
  system/architecture.md
  tests/ui/test_chrome_slugless.py
  tests/ui/test_onboarding_ui_preflight.py
  tests/ui/test_slug_persistence.py
Due: fix-control-chars, forbid-control-chars

fix: reduce bootstrap log noise
  src/pipeline/logging_utils.py
  src/pipeline/paths.py
  src/pipeline/settings.py
  src/pipeline/tracing.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/gating.py
  src/ui/utils/slug.py
  tests/pipeline/test_tracing_logging.py
  tests/test_logging_dedup.py
  tests/ui/test_bootstrap_log_levels.py
  tests/ui/test_chrome_slugless.py
  tests/ui/test_gating_semantics.py
  tests/ui/test_slug_persistence.py
Due: fix-control-chars, forbid-control-chars

chore: align epistemic domain docs
  MANIFEST.md
  docs/context/next_alignment.md
  docs/developer/data_transformation_review.md
  docs/user/arricchimento.md
  system/architecture.md
  system/ops/agents_index.md
  system/ops/runbook_codex.md
  tests/pipeline/test_tracing_logging.py
  tests/test_logging_dedup.py
  tests/ui/test_bootstrap_log_levels.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: align epistemic terminology
  .codex/CONSTITUTION.md
  .codex/PROMPTS.md
  .codex/WORKFLOWS.md
  README.md
  docs/adr/README.md
  instructions/README.md
Due: fix-control-chars, forbid-control-chars, cspell

chore(beta): confina base_dir come legacy + fix encoding istruzioni
  instructions/README.md
  src/pipeline/workspace_layout.py
Due: fix-control-chars, forbid-control-chars

chore: normalizza line endings e formatting
  tests/ui/test_semantics_state.py
  tests/ui/test_vision_provision_base_dir.py
Due: fix-control-chars, forbid-control-chars

docs(beta): rende book_dir canonico e md_dir forbidden nel contract
  instructions/09_context_layout_contract_beta.md
Due: fix-control-chars, forbid-control-chars

chore(tools): usa book_dir e normalizza warning
  tools/bench_embeddings_normalization.py
  tools/dummy/drive.py
Due: none

docs(beta): normalizza apostrofo ASCII nel contract
  instructions/09_context_layout_contract_beta.md
Due: fix-control-chars, forbid-control-chars

chore(beta): allinea surface API a repo_root_dir e chiarisce perimetri path-safety
  docs/developer/coding_rule.md
  docs/developer/streamlit_ui.md
  docs/user/user_guide.md
  src/kb_db.py
  src/pipeline/drive/download.py
  src/pipeline/drive/download_steps.py
  src/semantic/api.py
  src/semantic/auto_tagger.py
  src/semantic/config.py
  src/semantic/embedding_service.py
  src/semantic/entities_runner.py
  src/semantic/spacy_extractor.py
  src/semantic/tagging_service.py
  src/semantic/vocab_loader.py
  src/storage/kb_store.py
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/tag_onboarding.py
  src/ui/manage/tags.py
  src/ui/services/drive_runner.py
  src/ui/services/vision_provision.py
  tests/pipeline/test_drive_download_steps_strict.py
  tests/test_auto_tagger_writer.py
  tests/test_content_utils.py
  tests/test_embedding_error_event.py
  tests/test_indexer_chunk_record.py
  tests/test_ingest_retriever_workspace_db.py
  tests/test_ingest_safety.py
  tests/test_kb_db_insert.py
  tests/test_kb_store.py
  tests/test_pdf_iteration_symlink.py
  tests/test_run_nlp_to_db.py
  tests/test_semantic_index_markdown_db.py
  tools/bench_embeddings_normalization.py
  tools/retriever_benchmark.py
  tools/retriever_calibrate.py
Due: mypy, fix-control-chars, forbid-control-chars, cspell

chore(beta): completa allineamento lessicale repo_root_dir/perimeter_root nei moduli residui
  src/explainability/serialization.py
  src/pipeline/system_self_check.py
  src/pipeline/vision_runner.py
  src/security/retention.py
  src/timmy_kb/cli/retriever_manifest.py
  tests/explainability/test_manifest_serialization.py
  tests/security/test_retention.py
Due: fix-control-chars, forbid-control-chars

chore(beta): vieta inferenze UI di repo_root_dir e visionstatement (strict-only)
  src/ui/services/vision_provision.py
  tests/test_ui_vision_gating.py
  tests/ui/test_vision_provision_base_dir.py
Due: fix-control-chars, forbid-control-chars

chore(beta): rename linguistico repo_root_dir/perimeter_root nei moduli target (yaml mapping artefatto)
  src/ai/check/prototimmy_check.py
  src/ai/prototimmy.py
  src/pipeline/content_utils.py
  src/semantic/embedding_service.py
  src/semantic/frontmatter_service.py
  src/semantic/mapping_loader.py
  src/semantic/semantic_mapping.py
  src/semantic/tags_extractor.py
  tests/test_chunk_record_builder.py
Due: fix-control-chars, forbid-control-chars

docs: align ownership governance schema
  .codex/OWNERSHIP_SCHEMA.md
  .codex/USER_DEV_SEPARATION.md
  MANIFEST.md
Due: fix-control-chars, forbid-control-chars

fix: harden vision generation path
  src/semantic/vision_parser.py
  src/ui/fine_tuning/pdf_tools.py
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars

chore: mark vision parser as internal
  src/semantic/core.py
  src/semantic/vision_parser.py
  src/ui/fine_tuning/pdf_tools.py
Due: fix-control-chars, forbid-control-chars

fix: enforce explicit kb db path
  .codex/WORKFLOWS.md
  src/kb_db.py
  src/semantic/embedding_service.py
  src/storage/kb_store.py
  tests/test_db_safety.py
  tests/test_indexer_chunk_record.py
  tests/test_indexer_init_failfast.py
  tests/test_indexer_schema_once.py
  tests/test_kb_db_insert.py
  tests/test_kb_store.py
  tests/test_observability_smoke.py
  tests/test_semantic_index_markdown_db.py
  tests/test_semantic_index_markdown_partial_mismatch.py
  tests/test_semantic_index_no_files_phase_scope.py
Due: fix-control-chars, forbid-control-chars

docs: clarify repo vs workspace roots (beta guardrail)
  .codex/USER_DEV_SEPARATION.md
  src/pipeline/config_utils.py
  src/pipeline/system_self_check.py
  src/timmy_kb/cli/tag_onboarding.py
  src/ui/config_store.py
Due: fix-control-chars, forbid-control-chars
