Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs: align index with docs contents
  docs/index.md
Due: fix-control-chars, forbid-control-chars, cspell

docs/ui: pin guida dev docs menu
  docs/index.md
  src/ui/pages/guida_dev.py
Due: fix-control-chars, forbid-control-chars, cspell

ui: allow dynamic admin header titles
  docs/index.md
  src/ui/chrome.py
  src/ui/pages/admin.py
  src/ui/pages/logs_panel.py
  src/ui/pages/secrets_healthcheck.py
  src/ui/pages/tools_check.py
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars, cspell

ui: dynamic header for admin pages
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars

ui: stop default header title
  src/ui/chrome.py
  src/ui/pages/guida_dev.py
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

ui: add tree preview for tags_raw modal
  src/ui/manage/tags.py
Due: fix-control-chars, forbid-control-chars

Revisione creazione tags per arricchimento semantico
  cli/tag_review_cli.py
  cspell.json
  docs/arricchimento.md
  src/semantic/api.py
  src/semantic/auto_tagger.py
  src/semantic/config.py
  src/semantic/entities_extractor.py
  src/semantic/entities_frontmatter.py
  src/semantic/entities_review.py
  src/semantic/entities_runner.py
  src/semantic/frontmatter_service.py
  src/semantic/lexicon.py
  src/semantic/spacy_extractor.py
  src/storage/tags_store.py
  src/tag_onboarding.py
  src/ui/pages/manage.py
  src/ui/services/tags_adapter.py
Due: fix-control-chars, forbid-control-chars, cspell

test: allinea snapshot navigazione e label pulsante
  tests/contract/snapshots/nav_contract_111.json
  tests/ui/test_manage_probe_raw.py
Due: fix-control-chars, forbid-control-chars

fix: harden logging and throttling controls
  onboarding_ui.py
  src/pipeline/path_utils.py
  src/retriever.py
  src/semantic/vocab_loader.py
  src/semantic_onboarding.py
Due: fix-control-chars, forbid-control-chars

fix: log reset slug, vocab fallback e path-safety coder
  README.md
  docs/adr/0002-separation-secrets-config.md
  docs/configuration.md
  docs/index.md
  onboarding_ui.py
  src/semantic/vocab_loader.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: aggiungi cleanup dummy e rimuovi caption duplicata
  src/ui/chrome.py
  src/ui/pages/secrets_healthcheck.py
Due: fix-control-chars, forbid-control-chars

fix: abilita cleanup dummy caricando tools.clean_client_workspace
  src/ui/chrome.py
Due: fix-control-chars, forbid-control-chars

fix: cleanup dummy riusa cleanup client
  src/ui/chrome.py
Due: fix-control-chars, forbid-control-chars

chore: non mostrare il dettaglio JSON nel cleanup dummy
  src/ui/chrome.py
Due: fix-control-chars, forbid-control-chars

docs: esplicita entita/relazioni nel frontmatter
  docs/guida_ui.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: harden onboarding fallbacks e tag loader, path-safe coder
  onboarding_ui.py
  src/semantic/vocab_loader.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

chore: tipizza retrieved in coder
  timmy_kb_coder.py
Due: none

fix: harden retriever and cache
  src/pipeline/content_utils.py
  src/retriever.py
  src/ui/utils/core.py
  tests/ui/test_wrappers_signature.py
Due: fix-control-chars, forbid-control-chars

docs: note retriever hardening and cache
  docs/developer_guide.md
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

docs: log retriever hardening and cache
  CHANGELOG.md
Due: fix-control-chars, forbid-control-chars

fix: log orchestrator failures
  src/pre_onboarding.py
  src/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars

chore: normalize pre_onboarding drive logs
  src/pre_onboarding.py
Due: fix-control-chars, forbid-control-chars

docs: normalize logging events
  docs/logging_events.md
  src/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: add startup and api logging
  docs/logging_events.md
  onboarding_ui.py
  src/ingest.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: add tag onboarding completed log
  src/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars

fix: harden logging and observability ui
  src/pipeline/observability_config.py
  src/tag_onboarding.py
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars

feat: apply observability settings to logging
  src/pipeline/logging_utils.py
  src/pre_onboarding.py
  src/semantic_onboarding.py
  src/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars

docs: document observability defaults
  docs/logging_events.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: harden retriever embedding failures
  src/retriever.py
  tests/retriever/test_logging.py
Due: fix-control-chars, forbid-control-chars

feat: extend observability dashboard links
  docs/observability.md
  src/pipeline/observability_config.py
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: add grafana reachability indicator
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars

feat: add docker/grafana stack controls
  docs/observability.md
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor: docker stack controls
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars

fix: enforce tags db presence
  docs/user_guide.md
  src/semantic_headless.py
  src/semantic_onboarding.py
  tests/test_semantic_headless_enrichment_without_vocab.py
  tests/test_semantic_onboarding_exitcodes.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: control observability stack
  scripts/observability_stack.py
  src/ui/pages/logs_panel.py
Due: fix-control-chars, forbid-control-chars

docs: describe observability stack helper
  docs/observability.md
  docs/runbook_codex.md
  scripts/observability_stack.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: tracciare gli eventi con span OTEL
  docs/observability.md
  docs/runbook_codex.md
  observability/docker-compose.yaml
  observability/grafana-provisioning/datasources/tempo.yaml
  observability/otel-collector-config.yaml
  observability/tempo-config.yaml
  scripts/__pycache__/observability_stack.cpython-311.pyc
  src/ingest.py
  src/pipeline/content_utils.py
  src/pipeline/logging_utils.py
  src/pipeline/tracing.py
  src/semantic/api.py
  src/semantic/auto_tagger.py
  src/semantic_headless.py
  src/semantic_onboarding.py
  src/ui/manage/tags.py
  tests/semantic/test_require_reviewed_vocab.py
  tests/test_semantic_onboarding_exitcodes.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix generici
  docs/observability.md
  src/pipeline/content_utils.py
  src/pipeline/logging_utils.py
  src/pipeline/observability_config.py
  src/pipeline/tracing.py
  src/pre_onboarding.py
  src/semantic/api.py
  src/semantic/embedding_service.py
  src/semantic/vocab_loader.py
  src/semantic_onboarding.py
  src/tag_onboarding.py
  src/ui/manage/tags.py
  src/ui/pages/logs_panel.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/test_embedding_error_event.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: harden observability settings
  src/pipeline/observability_config.py
  src/pipeline/tracing.py
Due: fix-control-chars, forbid-control-chars

feat: enforce tags db safety
  src/semantic/api.py
  tests/test_unit_build_tags_csv.py
Due: fix-control-chars, forbid-control-chars

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

