Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


docs: note semantic & vision changes
  docs/CHANGELOG.md
Due: fix-control-chars, forbid-control-chars, cspell

feat: respect strict output flag
  scripts/vision_alignment_check.py
Due: none

docs: note strict_output behavior
  docs/CHANGELOG.md
Due: fix-control-chars, forbid-control-chars, cspell

Fix generici
  src/semantic/vocab_loader.py
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

feat: log vision strict output
  docs/CHANGELOG.md
  scripts/vision_alignment_check.py
  tests/conftest.py
  tests/scripts/test_vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: enrich vision health check diagnostics
  scripts/vision_alignment_check.py
  tests/conftest.py
  tests/scripts/test_vision_alignment_check.py
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

feat: add assistant diagnostics
  docs/CHANGELOG.md
  scripts/vision_alignment_check.py
  tests/scripts/test_vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: note vision diagnostics
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

test: assert db path in semantic tests
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

feat: expose assistant env in vision check
  scripts/vision_alignment_check.py
  tests/scripts/test_vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars

docs: note assistant env
  docs/CHANGELOG.md
  tests/scripts/test_vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

test: enforce db path usage
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

test: ensure matcher hits first synonym
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

docs: mention assistant env fields
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: reinforce semantic gating and drive observability
  docs/CHANGELOG.md
  scripts/vision_alignment_check.py
  src/ui/manage/drive.py
  src/ui/pages/manage.py
  src/ui/pages/semantics.py
  tests/ui/test_manage_drive.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars, cspell

test: assert semantic extractor db creation
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

chore: ignore scripts pycache
  .gitignore
  scripts/__pycache__/kb_healthcheck.cpython-311.pyc
  scripts/__pycache__/smoke_e2e.cpython-311.pyc
Due: none

Aggiunta pagina Admin/Configurazione + docs
  config/config.yaml
  docs/guida_ui.md
  scripts/__pycache__/smoke_e2e.cpython-311.pyc
  scripts/__pycache__/vision_alignment_check.cpython-311.pyc
  src/ui/navigation_spec.py
  src/ui/pages/configurazione.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
Due: fix-control-chars, forbid-control-chars, cspell

Fix
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/utils/route_state.py
  src/ui/utils/workspace.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

Fix generali di chiusrua sessione
  .pre-commit-config.yaml
  config/config.yaml
  src/pipeline/drive/download.py
  src/pipeline/log_viewer.py
  src/pipeline/secret_checks.py
  src/ui/pages/logs_panel.py
  src/ui/pages/new_client.py
  src/ui/pages/secrets_guide.yaml
  src/ui/pages/secrets_healthcheck.py
  src/ui/utils/workspace.py
  tests/pipeline/test_drive_download_pdfs.py
  tests/ui/test_logs_panel.py
  tests/ui/test_new_client_flow.py
  tests/ui/test_workspace_helpers.py
Due: mypy, fix-control-chars, forbid-control-chars

fix: harden secrets tools and logs viewer
  src/pipeline/log_viewer.py
  src/semantic/frontmatter_service.py
  src/ui/manage/drive.py
  src/ui/pages/configurazione.py
  src/ui/pages/secrets_healthcheck.py
Due: fix-control-chars, forbid-control-chars

feat: add dev guide admin page
  src/ui/navigation_spec.py
  src/ui/pages/guida_dev.py
Due: fix-control-chars, forbid-control-chars

fix: harden semantic gating and import-safe onboarding
  onboarding_ui.py
  src/pipeline/content_utils.py
  src/semantic/api.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
Due: fix-control-chars, forbid-control-chars

chore: gating raw warning and caching frontmatter
  onboarding_ui.py
  src/pipeline/content_utils.py
  src/retriever.py
Due: fix-control-chars, forbid-control-chars

fix: remove can_enter gating attr usage
  onboarding_ui.py
Due: none

fix: avoid slug attribute on GateState
  onboarding_ui.py
Due: none

test: add frontmatter cache reset and coverage
  src/pipeline/content_utils.py
  tests/test_content_utils.py
Due: fix-control-chars, forbid-control-chars

fix: fail-fast yaml_utils when PyYAML missing
  src/pipeline/yaml_utils.py
Due: fix-control-chars, forbid-control-chars

definizione guida developer
  src/ui/pages/guida_dev.py
Due: fix-control-chars, forbid-control-chars

chore: remove settings page from navigation
  src/ui/navigation_spec.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
Due: fix-control-chars, forbid-control-chars

chore: drop settings/cleanup pages from navigation
  src/ui/navigation_spec.py
  src/ui/pages/cleanup.py
  src/ui/pages/settings.py
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
Due: fix-control-chars, forbid-control-chars

fix: align config editor form state
  config/config.yaml
  onboarding_ui.py
  src/ui/chrome.py
  src/ui/pages/config_editor.py
Due: fix-control-chars, forbid-control-chars

sistemazione gestione tema dark/light
  onboarding_ui.py
  src/ui/theme/tokens.py
  src/ui/theme_enhancements.py
  src/ui/utils/branding.py
  src/ui/utils/core.py
Due: fix-control-chars, forbid-control-chars

Fix vari
  src/ui/pages/new_client.py
  src/ui/theme/tokens.py
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

chore: apply safety and ui fixes + tests
  src/pipeline/content_utils.py
  src/retriever.py
  src/ui/pages/new_client.py
  tests/test_retriever_unit.py
  tests/ui/streamlit_stub.py
Due: fix-control-chars, forbid-control-chars

revisione interfaccia gestisci cliente
  src/ui/components/diff_view.py
  src/ui/pages/manage.py
  tests/contract/snapshots/nav_contract_111.json
  tests/semantic/test_manage_dedup.py
  tests/ui/test_manage_probe_raw.py
Due: fix-control-chars, forbid-control-chars

feat(ui): lazy preview load and semantics ux
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  tests/ui/test_semantic_signatures.py
Due: fix-control-chars, forbid-control-chars

fix(ui): clarify vocab missing hint
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

test(ui): assert vocab hint links manage page
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

fix(ui): replace mojibake in preflight label
  onboarding_ui.py
Due: none
