Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ci: pin pip-audit and keep sarif
  .github/workflows/dependency-scan.yml
Due: fix-control-chars, forbid-control-chars

changelog con todo prioritarioo
  CHANGELOG.md
Due: fix-control-chars, forbid-control-chars

chore(ci): consolidate pip-audit to single deterministic workflow
  .github/workflows/dependency-scan.yml
  .github/workflows/security-audit.yml
  CHANGELOG.md
  docs/policies/security.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: rendere strict runtime chrome/gating/pre_onboarding
  src/timmy_kb/cli/pre_onboarding.py
  src/ui/chrome.py
  src/ui/gating.py
  tests/conftest.py
  tests/test_layout_enricher.py
  tests/test_layout_enricher_parametrized.py
Due: fix-control-chars, forbid-control-chars

Strict su Dummy
  .github/workflows/import-smoke.yml
  docs/developer/streamlit_ui.md
  docs/strict_vs_dummy_beta.md
  src/ui/pages/preview.py
  src/ui/utils/control_plane.py
  tests/tools/test_dummy_bootstrap.py
  tests/tools/test_dummy_non_strict_step_logging.py
  tests/tools/test_dummy_orchestrator_toggles.py
  tests/tools/test_dummy_readme_metrics.py
  tests/tools/test_dummy_strict_bootstrap_default.py
  tests/tools/test_non_strict_step.py
  tests/tools/test_tuning_non_strict.py
  tests/ui/test_control_plane.py
  tools/control_plane_env.py
  tools/dummy/orchestrator.py
  tools/dummy/vision.py
  tools/gen_dummy_kb.py
  tools/non_strict_step.py
  tools/tuning_pdf_to_yaml.py
  tools/tuning_system_prompt.py
  tools/tuning_vision_provision.py
Due: fix-control-chars, forbid-control-chars, cspell

aggiornamento changhelog
  CHANGELOG.md
Due: fix-control-chars, forbid-control-chars

feat(dummy): reuse client context post skeleton
  CHANGELOG.md
  tests/tools/test_dummy_bootstrap.py
  tests/tools/test_dummy_strict_bootstrap_default.py
  tests/tools/test_non_strict_step.py
  tests/tools/test_tuning_non_strict.py
  tools/dummy/orchestrator.py
Due: fix-control-chars, forbid-control-chars

fix + docs
  CHANGELOG.md
  src/ui/clients_store.py
  system/architecture.md
  tests/test_clients_store.py
Due: fix-control-chars, forbid-control-chars

fix(dummy): assicurare caricamento unico del contesto post-skeleton
  system/dummy_entropy_audit.md
  tests/tools/test_dummy_bootstrap.py
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tools/dummy/orchestrator.py
Due: fix-control-chars, forbid-control-chars

fix(dummy): assicurare caricamento unico del contesto post-skeleton
  system/dummy_entropy_audit.md
  tools/dummy/orchestrator.py
Due: fix-control-chars, forbid-control-chars

fix(dummy)
  tools/dummy/orchestrator.py
Due: none

add soft-fail retriever budget guard and tighten semantic onboarding artifacts
  instructions/13_artifacts_policy.md
  src/pipeline/content_utils.py
  src/pipeline/file_utils.py
  src/semantic/vision_provision.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/contract/test_service_only_audit_log.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/semantic/test_vision_provision.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
  tests/test_retriever_api.py
Due: fix-control-chars, forbid-control-chars

fix: tighten retriever logging & path guards
  src/pipeline/content_utils.py
  src/semantic/api.py
  src/timmy_kb/cli/retriever.py
  tests/test_content_utils_safe_pdfs.py
  tests/test_retriever_api.py
  tests/test_semantic_api.py
Due: fix-control-chars, forbid-control-chars

fix: stabilize vision audit and frontmatter cache guards
  instructions/13_artifacts_policy.md
  src/semantic/api.py
  src/semantic/vision_provision.py
  tests/contract/test_service_audit_log.py
  tests/semantic/test_api_frontmatter_cache.py
  tests/semantic/test_vision_audit_service.py
  tests/semantic/test_vocab_loader_strict.py
  tests/test_semantic_api.py
Due: fix-control-chars, forbid-control-chars

docs: align kb path & contracts
  docs/contract_alignment.md
  src/pipeline/context.py
  src/pipeline/raw_transform_service.py
  src/storage/kb_db.py
  src/timmy_kb/cli/retriever_validation.py
  tests/semantic/test_api_frontmatter_cache.py
  tests/semantic/test_vision_audit_service.py
Due: fix-control-chars, forbid-control-chars, cspell

link ai contratti su system/architecture.md
  system/architecture.md
Due: fix-control-chars, forbid-control-chars

docs: normalize instructions + alignment guidance in English
  CHANGELOG.md
  docs/contract_alignment.md
  instructions/00_ssot_agency.md
  instructions/01_intents_and_actions.md
  instructions/02_prompt_chain_lifecycle.md
  instructions/05_pipeline_state_machine.md
  instructions/06_promptchain_workspace_mapping.md
  instructions/07_gate_checklists.md
  instructions/08_gate_evidence_and_retry_contract.md
  instructions/09_context_layout_contract_beta.md
  instructions/10_runtime_strict_contract_beta.md
  instructions/12_env_override_capabilities.md
  instructions/13_artifacts_policy.md
  instructions/14_agent_package_contract.md
  instructions/README.md
  src/ai/responses.py
  src/semantic/core.py
  src/semantic/embedding_service.py
  src/timmy_kb/cli/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: tighten strict-mode guards for KB ingest/candidates
  src/pipeline/ingest/provider.py
  src/storage/kb_db.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/test_ingest_provider.py
  tests/test_kb_db_logging.py
  tests/test_tag_onboarding_helpers.py
Due: fix-control-chars, forbid-control-chars

fix: default kb candidate strictness
  src/storage/kb_db.py
  tests/test_kb_db_logging.py
Due: fix-control-chars, forbid-control-chars

fix su tests/test_kb_db_logging.py
  tests/test_kb_db_logging.py
Due: fix-control-chars, forbid-control-chars

fix: tighten strict logging + workspace book enforcement
  src/pipeline/context.py
  src/pipeline/workspace_bootstrap.py
  src/semantic/vision_provision.py
  tests/fixtures/determinism_manifest.json
  tests/semantic/test_vision_provision.py
  tests/test_context_logging.py
  tests/test_workspace_bootstrap.py
Due: fix-control-chars, forbid-control-chars

fix: seal tags_store yaml import paths
  src/storage/tags_store.py
  tests/test_context_logging.py
  tests/test_tags_store_yaml_sealed.py
  tests/test_workspace_bootstrap.py
Due: fix-control-chars, forbid-control-chars

Clarify docs
  instructions/13_artifacts_policy.md
Due: fix-control-chars, forbid-control-chars

doc: tighten workspace override guidance
  docs/developer/streamlit_ui.md
  instructions/12_env_override_capabilities.md
  tests/test_tags_store_yaml_sealed.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: enforce strict workspace env and stabilize dummy book artifacts
  src/pipeline/context.py
  tests/pipeline/test_context_repo_root_dir.py
  tests/test_client_context_bootstrap_mode.py
  tools/dummy/orchestrator.py
Due: fix-control-chars, forbid-control-chars

fix: enforce strict workspace env derivation in cleanup and onboarding
  src/pipeline/capabilities/new_client.py
  src/tools/clean_client_workspace.py
  tests/test_client_context_bootstrap_mode.py
Due: fix-control-chars, forbid-control-chars

fix: tighten workspace env handling for strict cleanup and onboarding
  getenv.py
  src/pipeline/capabilities/new_client.py
  src/tools/clean_client_workspace.py
Due: fix-control-chars, forbid-control-chars

fix: seal tools workspace root resolution
  tools/ai_checks/kgraph_check.py
  tools/gen_dummy_kb.py
Due: none

fix: seal workspace resolution helpers in tools cleanup
  src/tools/clean_client_workspace.py
  tests/test_tools/test_clean_client_workspace.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

fix: harden workspace cleanup + docs consistency
  src/ui/services/tags_adapter.py
  system/ops/runbook_codex.md
  tests/test_tools/test_clean_client_workspace.py
Due: fix-control-chars, forbid-control-chars

Fix su pyproject.toml
  pyproject.toml
Due: none

fix: log S110 fallbacks and tidy diagnostics
  cspell.json
  pyproject.toml
  src/ai/client_factory.py
  src/ai/vision_config.py
  src/pipeline/config_utils.py
  src/pipeline/content_utils.py
  src/pipeline/context.py
  src/pipeline/file_utils.py
  src/pipeline/frontmatter_utils.py
  src/pipeline/path_utils.py
  src/pipeline/settings.py
  src/pipeline/system_self_check.py
  src/pipeline/yaml_utils.py
  src/semantic/config.py
  src/semantic/tags_io.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/retriever_embeddings.py
  src/timmy_kb/cli/retriever_ranking.py
  src/timmy_kb/versioning.py
  tests/ui/test_control_plane.py
Due: fix-control-chars, forbid-control-chars

chore: normalize tests to require db_path
  src/pipeline/content_utils.py
  src/semantic/api.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/retriever_validation.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/conftest.py
  tests/explainability/test_manifest.py
  tests/retriever/test_logging.py
  tests/retriever/test_retriever_logging_explainability.py
  tests/retriever/test_security_hooks.py
  tests/test_retriever_api.py
  tests/test_retriever_candidate_limit.py
  tests/test_retriever_config.py
  tests/test_retriever_metrics_counters.py
  tests/test_retriever_ranking_invariance_short_circuit.py
  tests/test_retriever_scoring.py
  tests/test_retriever_unit.py
  tests/test_retriever_validate.py
Due: fix-control-chars, forbid-control-chars

beta: enforce canonical semantic/kb.sqlite and gate overrides behind TEST_MODE
  src/pipeline/beta_flags.py
  src/storage/kb_store.py
  src/timmy_kb/cli/retriever_validation.py
  tests/test_embedding_error_event.py
  tests/test_retriever_config.py
  tests/test_retriever_validate.py
  tools/retriever_benchmark.py
Due: fix-control-chars, forbid-control-chars

Revisione Prompt Chain Codex
  .codex/PROMPTS.md
  .github/codex-instructions.md
  AGENTS.md
  system/specs/promptchain_ci_worker_contract.md
  system/specs/promptchain_spec.md
Due: fix-control-chars, forbid-control-chars

Fix su prompt codex
  .codex/PROMPTS.md
  .github/codex-instructions.md
  system/specs/promptchain_ci_worker_contract.md
  system/specs/promptchain_spec.md
Due: fix-control-chars, forbid-control-chars

fix minimali
  src/semantic/api.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/retriever.py
Due: fix-control-chars, forbid-control-chars

Definizione Dummy mode
  docs/developer/coding_rule.md
  src/ai/assistant_registry.py
  system/architecture.md
  tests/test_ai_config_prototimmy.py
  tools/dummy/drive.py
  tools/dummy/vision.py
Due: fix-control-chars, forbid-control-chars, cspell

Definizione Dummy mode
  docs/developer/coding_rule.md
  tests/ai/test_config_boundary.py
Due: fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

