Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix UI
  src/tools/clean_client_workspace.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

fix(ui): allinea interfaccia Beta 0 — router st.navigation, slug-based gating, pulsanti gestione cliente, cleanup e README, SSoT stato in italiano, aggiornata guida UI
  docs/guida_ui.md
  src/tools/clean_client_workspace.py
  src/tools/gen_dummy_kb.py
  src/ui/app_core/state.py
  src/ui/chrome.py
  src/ui/clients_store.py
  src/ui/constants.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/services/drive.py
Due: fix-control-chars, forbid-control-chars, cspell

aggiornamento documentazione UI
  onboarding_ui.py
  src/ui/components/yaml_editors.py
Due: fix-control-chars, forbid-control-chars

fix
  docs/streamlit_ui.md
  src/ui/constants.py
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix su nuovo cliente
  docs/guida_ui.md
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars, cspell

feat(ui): semantic gating via constants + state promotions
  src/ui/pages/new_client.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

Definizione strumenti cleanup
  docs/guida_ui.md
  src/ui/pages/cleanup.py
  src/ui/pages/diagnostics.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/pages/settings.py
  src/ui/utils/__init__.py
  src/ui/utils/slug.py
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento UI
  src/ui/chrome.py
  src/ui/pages/cleanup.py
  src/ui/pages/diagnostics.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/pages/settings.py
  src/ui/utils/__init__.py
  src/ui/utils/slug.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento cleanup
  src/tools/clean_client_workspace.py
  src/ui/pages/cleanup.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento cleanup - intermedio
  src/ui/pages/cleanup.py
Due: fix-control-chars, forbid-control-chars

fix cleanup
  src/tools/clean_client_workspace.py
  src/ui/pages/cleanup.py
Due: fix-control-chars, forbid-control-chars

Definizione UI
  .pre-commit-config.yaml
  onboarding_ui.py
  pyproject.toml
  scripts/dev/qa_safe.py
  src/pipeline/config_utils.py
  src/retriever.py
  src/ui/app_core/layout.py
  src/ui/chrome.py
  src/ui/components/yaml_editors.py
  src/ui/landing_slug.py
  src/ui/pages/admin.py
  src/ui/pages/cleanup.py
  src/ui/pages/home.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/services/drive.py
  src/ui/utils/__init__.py
  src/ui/utils/branding.py
  src/ui/utils/query_params.py
  src/ui/utils/slug.py
  tests/retriever/test_logging.py
  tests/ui/test_drive_service.py
  tests/ui/test_landing_slug_exit.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_new_client_config.py
  tests/ui/test_new_client_flow.py
  tests/ui/test_slug_persistence.py
Due: fix-control-chars, forbid-control-chars

Fix su button Streamlit
  src/ui/components/diff_view.py
  src/ui/components/drive_tree.py
  src/ui/components/yaml_editors.py
  src/ui/landing_slug.py
  src/ui/pages/admin.py
  src/ui/pages/diagnostics.py
  src/ui/pages/home.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/services/drive_runner.py
  src/ui/utils/query_params.py
  tmp_download_func.txt
Due: fix-control-chars, forbid-control-chars

Fix vari su UI
  src/ui/clients_store.py
  src/ui/pages/new_client.py
  src/ui/services/drive_runner.py
  src/ui/utils/html.py
Due: fix-control-chars, forbid-control-chars

fix generici
  src/ui/chrome.py
  src/ui/services/drive_runner.py
Due: fix-control-chars, forbid-control-chars

feat: redact vision snapshots
  src/pipeline/context.py
  src/semantic/redaction.py
  src/semantic/vision_ai.py
  tests/security/test_redaction.py
  tests/test_vision_ai_module.py
Due: fix-control-chars, forbid-control-chars

feat: add retriever security gates
  src/retriever.py
  src/security/authorization.py
  src/security/throttle.py
  tests/retriever/test_security_hooks.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

chore: harden security pipeline
  .github/dependabot.yml
  .github/workflows/bench.yml
  .github/workflows/ci.yaml
  .github/workflows/docs-spellcheck.yml
  .github/workflows/e2e-smoke.yml
  .github/workflows/import-smoke.yml
  .github/workflows/qodana.yaml
  .github/workflows/security-audit.yml
  requirements-dev.txt
  requirements.txt
  src/security/masking.py
  src/semantic/vision_provision.py
  src/ui/pages/admin.py
  src/ui/pages/semantics.py
  tests/security/test_masking.py
  tests/ui/test_admin_oauth.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

feat: add vision snapshot retention
  src/security/retention.py
  src/semantic/vision_provision.py
  tests/security/test_retention.py
Due: fix-control-chars, forbid-control-chars

chore: add gitleaks scan
  .github/workflows/ci.yaml
Due: fix-control-chars, forbid-control-chars

Security policy e aggiornamento documentazione
  .env.example
  README.md
  docs/architecture.md
  docs/codex_integrazione.md
  docs/coding_rule.md
  docs/guida_ui.md
  docs/index.md
  docs/policy_push.md
  docs/streamlit_ui.md
  docs/test_suite.md
  docs/user_guide.md
  docs/versioning_policy.md
Due: fix-control-chars, forbid-control-chars, cspell

Fix finali e aggiornamento vision
  config/config.yaml
  package.json
  src/ingest.py
  src/semantic/vision_ai.py
  src/semantic/vision_provision.py
  src/ui/chrome.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

fix su Vision
  _test_chat.py
  config/config.yaml
  src/semantic/vision_provision.py
  src/ui/pages/new_client.py
  tests/test_vision_provision_client_name_prompt.py
  tmp_snippet.txt
Due: fix-control-chars, forbid-control-chars

aggiornamento vision_provision
  src/semantic/vision_provision.py
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars

Passaggio intermedio per Vision
  requirements.txt
  scripts/quick_openai_diag.py
  scripts/quick_vs_probe.py
  src/ai/client_factory.py
  src/semantic/vision_provision.py
  src/ui/pages/new_client.py
  src/ui/services/vision_provision.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento intermedio - Connessione Vision
  src/ai/client_factory.py
  src/semantic/vision_provision.py
  src/ui/services/vision_provision.py
Due: fix-control-chars, forbid-control-chars

aggiornamento vision_provision.py - intermedio
  src/semantic/vision_provision.py
Due: fix-control-chars, forbid-control-chars

Rimozione vector da vision
  pytest.ini
  src/ingest.py
  src/semantic/vision_provision.py
  src/ui/pages/new_client.py
  tests/legacy/test_vision_provision.py
  tests/legacy/test_vision_provision_client_name_prompt.py
  tests/legacy/test_vision_provision_vector_store_timeout.py
  tests/test_vision_cfg.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
  tests/test_vision_sections.py
Due: fix-control-chars, forbid-control-chars

fix definitivi Vision
  scripts/assistants_smoke.py
  scripts/quick_openai_diag.py
  src/ai/client_factory.py
Due: fix-control-chars, forbid-control-chars

definizione assistente. Intermedio
  config/config.yaml
  cspell.json
  docs/developer_guide.md
  schemas/VisionOutput.schema.json
  src/semantic/vision_provision.py
  src/semantic/vision_utils.py
  src/ui/config_store.py
  src/ui/pages/new_client.py
  src/ui/services/vision_provision.py
  tests/semantic/test_vision_parser_headers.py
  tests/semantic/test_vision_provision.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor(vision_provision): normalize header variants, add legacy aliases, harden parsing and validation, all tests green
  src/semantic/layout_enricher.py
  src/semantic/semantic_extractor.py
  src/semantic/semantic_mapping.py
  src/semantic/vision_ai.py
  src/semantic/vision_provision.py
  src/semantic/vision_utils.py
  src/tools/gen_vision_yaml.py
  src/ui/pages/guida_ui.py
  tests/legacy/test_semantic_mapping_legacy.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_semantic_extractor.py
  tests/test_vision_ai.py
  tests/test_vision_ai_module.py
  tests/test_vision_ai_slug_mismatch.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
Due: fix-control-chars, forbid-control-chars

fix
  schemas/VisionOutput.schema.json
  src/semantic/vision_provision.py
Due: fix-control-chars, forbid-control-chars

fix su gestione Drive
  src/pipeline/drive/upload.py
  src/ui/services/drive_runner.py
Due: mypy, fix-control-chars, forbid-control-chars

fix su gestione Drive
  src/pipeline/drive/upload.py
  temp_line_numbers.txt
Due: mypy, fix-control-chars, forbid-control-chars

fix: sync drive ui flow and qa dependencies
  .pre-commit-config.yaml
  app_numbered.txt
  src/ui/pages/manage.py
  src/ui/services/drive_runner.py
Due: fix-control-chars, forbid-control-chars

Definizione fase 1 preonboarding: stato cliente:pronto
  src/pipeline/drive_utils.py
  src/ui/components/diff_view.py
  src/ui/pages/new_client.py
  src/ui/services/drive_runner.py
Due: mypy, fix-control-chars, forbid-control-chars

feat(ui/new-client): unify bootstrap (merge template into ensure_local_workspace_for_ui), remove _mirror_repo_config_into_client, add diagnostics WARNING logger
  src/pre_onboarding.py
  src/ui/chrome.py
  src/ui/pages/new_client.py
  tests/ui/test_new_client_config.py
Due: fix-control-chars, forbid-control-chars

Definizione Fase 1 -Pre Onboarding
  src/ui/errors.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/utils/status.py
Due: fix-control-chars, forbid-control-chars

fix intermedi su creazione readme in raw su drive
  src/ui/pages/manage.py
  src/ui/services/drive_runner.py
Due: fix-control-chars, forbid-control-chars

feat(drive_runner): Vision-only README gen (areas+system_folders), idempotent upload, drop legacy
  src/ui/services/drive_runner.py
Due: fix-control-chars, forbid-control-chars

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

