Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


fix: allinea dummy strict e pre_onboarding
  .codex/AGENTS.md
  src/ai/client_factory.py
  src/ai/schemas/VisionOutput.schema.json
  src/pipeline/logging_utils.py
  src/semantic/vision_utils.py
  src/timmy_kb/cli/pre_onboarding.py
  src/ui/services/drive_runner.py
  tools/dummy/drive.py
  tools/dummy/orchestrator.py
  tools/dummy/vision.py
Due: fix-control-chars, forbid-control-chars

fix: separa strict UI da runtime
  src/ui/gating.py
  src/ui/pages/dummy_kb.py
  src/ui/pages/new_client.py
  src/ui/utils/strict_mode.py
Due: fix-control-chars, forbid-control-chars

test: allinea test retriever a soft-fail
  src/ai/vision_config.py
  src/ui/gating.py
  src/ui/pages/dummy_kb.py
  src/ui/pages/new_client.py
  src/ui/services/drive_runner.py
  src/ui/utils/branding.py
  src/ui/utils/workspace.py
  tests/test_retriever_api.py
  tests/ui/test_drive_runner_readme_fallback.py
  tests/ui/test_gating_strict.py
Due: fix-control-chars, forbid-control-chars

fix: soft-fail embedding vuoto nel retriever
  src/timmy_kb/cli/retriever.py
  tests/retriever/test_logging.py
  tests/test_retriever_api.py
Due: fix-control-chars, forbid-control-chars

docs: chiarisce strict UI e ledger
  docs/strict_vs_dummy_beta.md
Due: fix-control-chars, forbid-control-chars, cspell

test: rimuove import inutilizzato
  tests/retriever/test_logging.py
Due: fix-control-chars, forbid-control-chars

fix: dummy strict behavior in UI/tooling
  docs/strict_vs_dummy_beta.md
  src/ui/gating.py
  src/ui/pages/dummy_kb.py
  src/ui/pages/new_client.py
  src/ui/utils/strict_mode.py
  src/ui/utils/workspace.py
  tests/ui/test_dummy_kb_slug_bootstrap.py
  tests/ui/test_gating_semantics.py
  tests/ui/test_gating_strict.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor: allinea client_name a meta nel config
  config/config.yaml
  src/pipeline/config_utils.py
  src/pipeline/content_utils.py
  src/semantic/api.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/retriever.py
  src/ui/landing_slug.py
  src/ui/pages/new_client.py
  tests/fixtures/determinism_manifest.json
  tests/semantic/test_require_reviewed_vocab.py
  tests/test_vocab_loader.py
  tests/test_vocab_loader_sqlite_errors.py
  tools/ai_checks/vision_check.py
  tools/dummy/orchestrator.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

feat(ui): remove admin page and document local-only dummy
  config/config.example.yaml
  config/config.yaml
  docs/developer/configurazione.md
  docs/developer/streamlit_ui.md
  docs/strict_vs_dummy_beta.md
  docs/user/quickstart.md
  docs/user/user_guide.md
  src/pipeline/settings.py
  src/tools/clean_client_workspace.py
  src/ui/navigation_spec.py
  src/ui/pages/AGENTS.md
  src/ui/pages/admin.py
  src/ui/pages/configurazione.py
  src/ui/pages/dummy_kb.py
  src/ui/pages/logs_panel.py
  src/ui/pages/secrets_guide.yaml
  system/ops/runbook_codex.md
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
  tests/fixtures/determinism_manifest.json
  tests/test_client_context_settings.py
  tests/test_contract_artifacts.py
  tests/test_settings.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: align ui gating and dummy workflow
  src/ui/manage/_helpers.py
  src/ui/pages/dummy_kb.py
  src/ui/pages/new_client.py
  src/ui/utils/config.py
  src/ui/utils/workspace.py
  tools/dummy/orchestrator.py
Due: fix-control-chars, forbid-control-chars

fix: isolate test artifacts in test-temp
  .codex/WORKFLOWS.md
  .gitignore
  docs/developer/configurazione.md
  src/pipeline/env_constants.py
  src/timmy_kb/cli/pre_onboarding.py
  src/ui/config_store.py
  src/ui/manage/cleanup.py
  src/ui/pages/config_editor.py
  src/ui/pages/dummy_kb.py
  src/ui/pages/new_client.py
  src/ui/pages/semantics.py
  src/ui/services/drive_runner.py
  src/ui/utils/diagnostics.py
  tests/conftest.py
  tests/test_dummy_mode_cli.py
  tests/ui/test_manage_cleanup_component.py
  tools/dummy/orchestrator.py
  tools/gen_dummy_kb.py
  tools/test_runner.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: document dummy admin tooling
  .codex/CODING_STANDARDS.md
  docs/developer/developer_quickstart.md
  docs/developer/streamlit_ui.md
  instructions/10_runtime_strict_contract_beta.md
  src/ui/navigation_spec.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: enforce deterministic normative rationale
  instructions/08_gate_evidence_and_retry_contract.md
  src/storage/decision_ledger.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/raw_ingest.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/storage/test_decision_ledger.py
Due: fix-control-chars, forbid-control-chars

fix: enforce strict workspace_root_dir canonicality
  README.md
  docs/user/insitallation_guide.md
  docs/user/user_guide.md
  instructions/12_env_override_capabilities.md
  src/pipeline/context.py
  tests/pipeline/test_context_repo_root_dir.py
Due: fix-control-chars, forbid-control-chars, cspell

fix generici
  docs/developer/test_suite.md
  src/ai/responses.py
  tests/ai/test_responses_json.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: add control plane env helper
  tools/control_plane_env.py
  tools/gen_dummy_kb.py
Due: none

Consolidamento determinismo pipeline - new_client
  cspell.json
  docs/developer/streamlit_ui.md
  docs/strict_vs_dummy_beta.md
  src/pipeline/system_prompt_api.py
  src/ui/chrome.py
  src/ui/fine_tuning/__init__.py
  src/ui/fine_tuning/pdf_tools.py
  src/ui/fine_tuning/system_prompt_modal.py
  src/ui/fine_tuning/tools_check_sections.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/fine_tuning/yaml_io.py
  src/ui/pages/new_client.py
  src/ui/pages/tools_check.py
  src/ui/utils/control_plane.py
  tests/semantic/test_manage_dedup.py
  tests/tools/test_tuning_vision_provision.py
  tests/ui/test_manage_probe_normalized.py
  tests/ui/test_tools_check_sections.py
  tools/tuning_pdf_to_yaml.py
  tools/tuning_system_prompt.py
  tools/tuning_vision_provision.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: make TIMMY_BETA_STRICT strict-by-default and document it
  README.md
  docs/policies/environment_certification.md
  docs/strict_vs_dummy_beta.md
  docs/user/insitallation_guide.md
  src/pipeline/beta_flags.py
  src/pipeline/runtime_guard.py
  src/ui/utils/control_plane.py
  tests/pipeline/test_beta_flags_strict.py
  tests/pipeline/test_config_utils_strict.py
  tests/pipeline/test_runtime_guard.py
  tests/test_run_nlp_to_db.py
  tests/tools/test_tuning_vision_provision.py
  tests/ui/test_gating_semantics.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: disable raw pdf cache prewarm in strict runtime
  src/pipeline/drive/download.py
  src/pipeline/file_utils.py
  tests/pipeline/test_drive_download_pdfs.py
  tests/test_path_utils.py
Due: mypy, fix-control-chars, forbid-control-chars

chore(ui): annotate legacy Streamlit fallbacks in utils
  src/ui/pages/home.py
  src/ui/utils/control_plane.py
  src/ui/utils/core.py
  src/ui/utils/logging.py
  src/ui/utils/progress.py
  src/ui/utils/route_state.py
Due: fix-control-chars, forbid-control-chars

chore(ui): enforce Streamlit baseline API
  docs/policies/streamlit_beta_baseline.md
  src/ui/utils/control_plane.py
  src/ui/utils/logging.py
  src/ui/utils/progress.py
  src/ui/utils/route_state.py
  src/ui/utils/streamlit_baseline.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix e uniformizzazione kebab
  cspell.json
  src/pipeline/path_utils.py
  src/pipeline/semantic_mapping_utils.py
  src/semantic/layout_enricher.py
  src/semantic/vision_utils.py
  src/ui/components/mapping_editor.py
  src/ui/services/drive_runner.py
  src/ui/utils/__init__.py
  src/ui/utils/backend.py
  src/ui/utils/core.py
  tests/test_kebab_gate.py
  tests/test_path_utils_kebab_strict.py
  tests/test_semantic_mapping_contract.py
  tests/test_slug_property.py
  tools/dummy/semantic.py
Due: fix-control-chars, forbid-control-chars

definizione finale kebab - strict
  cspell.json
  src/pipeline/path_utils.py
  src/ui/services/drive_runner.py
  tests/test_kebab_gate.py
Due: fix-control-chars, forbid-control-chars

CI: switch official actions to stable tags (v4/v5)
  .github/workflows/bench.yml
  .github/workflows/ci.yaml
  .github/workflows/dependency-scan.yml
  .github/workflows/docker-lint.yml
  .github/workflows/docs-spellcheck.yml
  .github/workflows/e2e-smoke.yml
  .github/workflows/import-smoke.yml
  .github/workflows/qodana.yaml
  .github/workflows/secret-scan.yml
  .github/workflows/security-audit.yml
Due: fix-control-chars, forbid-control-chars

Docs: add official actions tagging policy
  docs/policies/official-actions-tag-policy.md
Due: fix-control-chars, forbid-control-chars, cspell

IDE: silence GH Actions YAML warnings
  .vscode/settings.json
Due: fix-control-chars, forbid-control-chars

fix mismatch determination_manifest
  .github/workflows/bench.yml
  .github/workflows/ci.yaml
  .github/workflows/dependency-scan.yml
  .github/workflows/docker-lint.yml
  .github/workflows/docs-spellcheck.yml
  .github/workflows/e2e-smoke.yml
  .github/workflows/import-smoke.yml
  .github/workflows/qodana.yaml
  .github/workflows/secret-scan.yml
  .github/workflows/security-audit.yml
  cspell.json
  docs/policies/official-actions-tag-policy.md
  src/ui/manage/_helpers.py
  src/ui/manage/drive.py
  src/ui/pages/manage.py
  tests/fixtures/determinism_manifest.json
  tests/test_ui_manage_call_best_effort.py
  tests/tmp/output/timmy-kb-dummy/book/README.md
  tests/tmp/output/timmy-kb-dummy/book/SUMMARY.md
  tests/tmp/output/timmy-kb-dummy/config/config.yaml
  tests/tmp/output/timmy-kb-dummy/config/ledger.db
  tests/ui/test_drive_download.py
  tests/ui/test_manage_drive.py
  tests/ui/test_manage_probe_normalized.py
Due: fix-control-chars, forbid-control-chars, cspell

fix generici
  tests/tmp/output/timmy-kb-dummy/book/README.md
  tests/tmp/output/timmy-kb-dummy/book/SUMMARY.md
  tests/tmp/output/timmy-kb-dummy/config/config.yaml
  tests/tmp/output/timmy-kb-dummy/config/ledger.db
Due: fix-control-chars, forbid-control-chars

consolidamento raw_ingest + doc
  config/config.yaml
  docs/developer/state_model.md
  src/timmy_kb/cli/raw_ingest.py
  system/architecture.md
  tests/fixtures/determinism_manifest.json
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_raw_ingest_lock.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: tighten qa gate evidence
  cspell.json
  docs/developer/state_model.md
  src/pipeline/artifact_policy.py
  src/pipeline/qa_gate.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/architecture/test_determinism_low_entropy_gate.py
  tests/architecture/test_qa_gate_shared.py
  tests/cli/test_semantic_onboarding_qa_gate.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/test_gen_dummy_kb_import_safety.py
Due: fix-control-chars, forbid-control-chars, cspell

fix finali
  CHANGELOG.md
  src/timmy_kb/cli/semantic_onboarding.py
Due: fix-control-chars, forbid-control-chars

chore(version): align pyproject to 1.9.5 Alpha (pre-1.0 Beta)
  pyproject.toml
Due: none

docs: clarify strict contract semantics
  README.md
  docs/index.md
  instructions/10_runtime_strict_contract_beta.md
Due: fix-control-chars, forbid-control-chars, cspell

revisione doc instructions\10_runtime_strict_contract_beta.md
  instructions/10_runtime_strict_contract_beta.md
Due: fix-control-chars, forbid-control-chars

fix: tighten ledger evidence refs
  src/storage/decision_ledger.py
  tests/cli/test_semantic_onboarding_qa_gate.py
  tests/storage/test_decision_ledger.py
Due: fix-control-chars, forbid-control-chars

Pulizia finale
  CHANGELOG.md
  instructions/10_runtime_strict_contract_beta.md
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/raw_ingest.py
  src/timmy_kb/cli/tag_onboarding.py
  system/architecture.md
Due: fix-control-chars, forbid-control-chars
