Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, black, isort, ruff, mypy

check-yaml:
  name: check-yaml (system)
  entry: check-yaml
  language: system
  stages:
  - pre-commit

black:
  name: black (system)
  entry: black
  language: system
  stages:
  - pre-commit

isort:
  name: isort (system)
  entry: isort
  language: system
  args:
  - --profile=black
  stages:
  - pre-commit

ruff:
  name: ruff (system)
  entry: ruff
  language: system
  args:
  - check
  - --fix
  stages:
  - pre-commit

mypy:
  name: mypy (system)
  entry: mypy
  language: system
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

content: handle root PDFs + idempotent cleanup; summary: percent-encode links
  src/pipeline/content_utils.py
  tests/test_content_utils.py
Due: black, isort, ruff

semantic: harden render_tags_csv with base_dir + ensure_within_and_resolve; update call-sites
  src/semantic/auto_tagger.py
  src/tools/gen_dummy_kb.py
Due: black, isort, ruff

docs(dev): document render_tags_csv base_dir contract and path-safety
  docs/developer_guide.md
Due: none

semantic: fail-closed on missing tags.db + explicit warning on empty; propagate for clear UX
  docs/architecture.md
  src/semantic/vocab_loader.py
  tests/test_smoke_e2e.py
Due: black, isort, ruff

docs: bump version to v1.9.2 and update CHANGELOG
  CHANGELOG.md
  README.md
  cspell.json
  docs/architecture.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/guida_ui.md
  docs/index.md
  docs/policy_push.md
  docs/user_guide.md
  docs/versioning_policy.md
Due: none

chore(dev): configure VS Code to use repo venv and src path (Pylance)
  cspell.json
  pyrightconfig.json
Due: none

semantic(api): align build_tags_csv to hardened CSV writer (base_dir); update docs on path-safety contract
  README.md
  docs/developer_guide.md
  src/semantic/api.py
Due: black, isort, ruff

semantic: deprecate tags_extractor.emit_tags_csv; delegate to hardened writer; docs: note deprecation and internals
  docs/developer_guide.md
  src/semantic/tags_extractor.py
Due: black, isort, ruff

chore(semantic): remove legacy emit_tags_csv body; keep deprecation shim delegating to hardened writer
  src/semantic/tags_extractor.py
Due: black, isort, ruff

docs(changelog): clean v1.9.2 entry and normalize line endings
  CHANGELOG.md
Due: none

docs(coding-rules): fix mojibake and accents; normalize UTF-8 and wording
  docs/coding_rule.md
Due: none

docs: fix mojibake in README and Developer Guide; add tools/fix_mojibake.py; normalize EOL
  README.md
  docs/developer_guide.md
  tools/fix_mojibake.py
Due: black, isort

ci: add docs UTF-8/mojibake check via tools/fix_mojibake.py (fails on diff)
  .github/workflows/ci.yaml
Due: check-yaml

docs(coding-rules): rewrite file in clean UTF-8; fix accents, dashes, wording; remove BOM
  docs/coding_rule.md
Due: none

fix retrivier.py
  CHANGELOG.md
  cspell.json
  src/retriever.py
  tests/test_retriever_api.py
Due: black, isort, ruff

fix(retriever): normalizzazione Sequence (deque/generator) senza doppio wrapping · fix(semantic): preserva batch list[np.ndarray] in index_markdown_to_db + test
  cspell.json
  src/pipeline/config_utils.py
  src/retriever.py
  src/semantic/api.py
  tests/test_retriever_api.py
  tests/test_semantic_index_markdown_db.py
Due: black, isort, ruff

fix(retriever): gestisci list[np.ndarray] senza doppio wrapping in search; normalizzazione Sequence liste di float, evita TypeError in cosine
  README.md
  docs/developer_guide.md
  makefile
  src/retriever.py
  src/semantic/api.py
  tests/test_retriever_api.py
Due: black, isort, ruff

ci(bench): workflow opzionale benchmark embeddings · obs(phase_scope): logging strutturato con adapter · test(obs): smoke E2E indexing/build con artifacts e duration
  CHANGELOG.md
  README.md
  cspell.json
  src/pipeline/logging_utils.py
Due: black, isort, ruff

ci+test+db: import‑smoke anti side‑effects · bench delta S/M/L · idempotenza SQLite + autoripristino · env .env lazy sicuro · property tests embeddings
  CHANGELOG.md
  cspell.json
  data/kb.sqlite
  docs/developer_guide.md
  pyproject.toml
  src/adapters/preview.py
  src/ingest.py
  src/kb_db.py
  src/onboarding_full.py
  src/pipeline/drive/__init__.py
  src/pipeline/drive_utils.py
  src/pipeline/env_utils.py
  src/pipeline/gitbook_preview.py
  src/pipeline/github_utils.py
  src/pre_onboarding.py
  src/retriever.py
  src/semantic/api.py
  src/semantic/tags_extractor.py
  src/semantic/tags_validator.py
  src/semantic/vision_parser.py
  src/tools/gen_dummy_kb.py
  src/ui/app.py
  src/ui/tabs/finance.py
  src/ui/tabs/preview.py
  tests/test_db_safety.py
  tests/test_retriever_api.py
  tests/test_semantic_index_markdown_db.py
  tests/test_smoke_e2e.py
  tests/test_yaml_validation.py
  timmy_kb_coder.py
Due: black, isort, ruff, mypy

fix
  .hypothesis/tmp/tmp185uav22
  .hypothesis/tmp/tmpzvombevd
  data/kb.sqlite
Due: none

chore(git): ignore data/ sqlite from repo
  data/kb.sqlite
Due: none

chore(repo): align local with hooks green; import order (E402), pre-commit managed, qa_safe modular, ignore caches
  .coverage
  .gitignore
  .gitignore`
  .pre-commit-config.yaml
  assets/ico-next.png
  assets/next-logo.png
  src/pre_onboarding.py
  src/tag_onboarding.py
  src/ui/landing_slug.py
  src/ui/services/drive_runner.py
  timmy_kb_coder.py
  tools/dev/qa_safe.py
Due: check-yaml, black, isort, ruff

fix(drive): guardie + messaggi chiari; qa_safe usa isort --filter-files; pin isort/black in hook; test offline
  .pre-commit-config.yaml
  src/tag_onboarding.py
  tests/test_drive_guards.py
  tools/dev/qa_safe.py
Due: check-yaml, black, isort, ruff

fix
  cspell.json
  diff.txt
  src/pre_onboarding.py
  src/ui/services/drive_runner.py
Due: black, isort, ruff

chore(qa-safe): rimuovi isort dal wrapper; usa hook ufficiale; fix guard calls
  tools/dev/qa_safe.py
Due: black, isort

docs(drive): aggiunte istruzioni extra .[drive] e note guardie CLI/UI
  README.md
Due: none

chore: normalize line endings in drive_runner
  src/ui/services/drive_runner.py
Due: black, isort, ruff

fix(ui/drive): non caricare .env nel download per non alterare stato globale dei test
  src/ui/services/drive_runner.py
Due: black, isort, ruff

docs: bump headers to v2.0.0 and normalize EOL/BOM in docs/ and README
  README.md
  docs/AGENTS.md
  docs/architecture.md
  docs/codex_integrazione.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/guida_ui.md
  docs/index.md
  docs/policy_push.md
  docs/release_notes_2_0_0.md
  docs/test_suite.md
  docs/user_guide.md
  docs/versioning_policy.md
  src/ui/services/drive_runner.py
Due: black, isort, ruff

docs: add 'Novità v2.0.0' to README and CHANGELOG
  CHANGELOG.md
  README.md
Due: none

fix(ui): replace asserts in preview controls with explicit checks
  src/ui/tabs/preview.py
Due: black, isort, ruff

docs: normalize and align docs (versions, guards, error handling); add AGENTS_INDEX and pre-commit cspell hook
  AGENTS.md
  README.md
  cspell.json
  docs/AGENTS.md
  docs/AGENTS_INDEX.md
  docs/architecture.md
  docs/codex_integrazione.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/guida_ui.md
  docs/policy_push.md
  docs/release_notes_2_0_0.md
  docs/test_suite.md
  docs/versioning_policy.md
  package-lock.json
  package.json
  src/pipeline/AGENTS.md
  src/semantic/AGENTS.md
  src/ui/AGENTS.md
  tests/AGENTS.md
Due: ruff

test(env): relax ensure_dotenv_loaded first-call assertion; verify effect instead
  tests/test_env_lazy.py
Due: black, isort, ruff

test(env): call ensure_dotenv_loaded() before asserting env var; keep idempotence check
  tests/test_env_lazy.py
Due: black, isort, ruff

test: make dotenv loading deterministic in context test by reloading env_utils and using required getter; add sanity asserts
  tests/test_env_lazy.py
  tests/test_env_loader.py
Due: black, isort, ruff

chore: ignore node_modules directory
  .gitignore
Due: none

feat(dev): usa npx cspell con dizionario IT e aggiungi note di setup VS Code
  .pre-commit-config.yaml
  README.md
Due: check-yaml

chore(dev): ignora Scripts/ e rimuovi wrapper pytest locale
  .gitignore
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$
  isort: any of: \.py$
  ruff: any of: ^(src|tests)/
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$
