Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


fix: esplicita errori e ripulisci encoding
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/ui/components/diff_view.py
  src/ui/components/semantic_wizard.py
  src/ui/errors.py
  src/ui/fine_tuning/tools_check_sections.py
  src/ui/pages/agents_network.py
  src/ui/pages/config_editor.py
  src/ui/pages/diagnostics.py
  src/ui/pages/logs_panel.py
  src/ui/pages/manage.py
  src/ui/services/vision_provision.py
  system/ops/agents_index.md
  system/ops/runbook_codex.md
  system/specs/promptchain_spec.md
  tests/test_index_skip_empty_file.py
  tests/test_layout_enricher.py
  tests/test_retriever_validate.py
  tests/test_semantic_convert_no_files.py
  tests/test_smoke_e2e.py
  tests/test_ui_diagnostics.py
  tools/_bootstrap.py
  tools/bench_embeddings_normalization.py
  tools/dummy/bootstrap.py
  tools/fix_mojibake.py
  tools/smoke/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars

fix: aggiorna pyasn1 per vulnerabilita
  requirements-dev.txt
  requirements.txt
Due: fix-control-chars, forbid-control-chars

Derfinizione templates
  .codex/WORKFLOWS.md
  .pre-commit-config.yaml
  docs/developer/data_transformation_review.md
  docs/user/guida_ui.md
  docs/user/user_guide.md
  src/pipeline/context.py
  src/semantic/config.py
  src/semantic/mapping_loader.py
  src/timmy_kb/cli/pre_onboarding.py
  src/ui/components/mapping_editor.py
  src/ui/services/drive_runner.py
  system/assets/templates/cartelle_raw.yaml
  system/assets/templates/default_semantic_mapping.yaml
  tests/pipeline/test_pre_onboarding_bootstrap.py
  tests/test_semantic_mapping_loader.py
  tools/smoke/check_template_hardline.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: allinea cartelle_raw_yaml al path workspace
  config/config.example.yaml
  config/config.yaml
Due: fix-control-chars, forbid-control-chars

Fix su determinismo
  src/pipeline/config_utils.py
  src/pipeline/content_utils.py
  src/pipeline/context.py
  src/pipeline/drive/download.py
  src/pipeline/drive/upload.py
  src/semantic/api.py
  src/semantic/config.py
  src/semantic/entities_runner.py
  src/semantic/frontmatter_service.py
  src/semantic/tagging_service.py
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/pre_onboarding.py
  tests/pipeline/test_drive_download_pdfs.py
  tests/semantic/test_semantic_config_settings.py
  tests/test_content_utils_logging.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
  tests/test_content_utils_readme_summary.py
  tests/test_embedding_error_event.py
  tests/test_env_loader.py
  tests/test_ingest_performance.py
  tests/test_ingest_retriever_workspace_db.py
  tests/test_ingest_safety.py
  tests/test_semantic_tags_csv.py
  tests/test_unit_build_tags_csv.py
Due: mypy, fix-control-chars, forbid-control-chars

fix: enforce strict template merge failures in bootstrap and UI
  src/pipeline/config_utils.py
  src/pipeline/workspace_bootstrap.py
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/pre_onboarding.py
  src/ui/pages/new_client.py
  tests/pipeline/test_workspace_bootstrap_api.py
  tests/test_new_client_config_strict.py
  tests/test_pre_onboarding_strict.py
  tests/ui/test_new_client_config.py
Due: fix-control-chars, forbid-control-chars

fix: enforce strictness e logging deterministico per download Drive
  src/pipeline/drive/download.py
  src/pipeline/drive/download_steps.py
  tests/pipeline/test_drive_download_steps_strict.py
  tests/test_pre_onboarding_strict.py
Due: mypy, fix-control-chars, forbid-control-chars

fix generici
  cspell.json
  src/pipeline/env_utils.py
  src/pipeline/file_utils.py
  src/pipeline/frontmatter_utils.py
  src/pipeline/path_utils.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/config_store.py
  src/ui/gating.py
  src/ui/pages/agents_network.py
  src/ui/pages/diagnostics.py
  src/ui/pages/logs_panel.py
  src/ui/pages/manage.py
  src/ui/pages/preview.py
  src/ui/utils/preflight_once.py
  tests/test_observability_smoke.py
  tests/test_semantic_api_enrich_frontmatter.py
  tests/test_semantic_api_frontmatter.py
  tests/test_semantic_enrich_ctx_override.py
  tests/test_windows_path_utils.py
  tests/ui/test_preflight_once.py
  tests/ui/test_preview_stub.py
Due: fix-control-chars, forbid-control-chars

fix(ui): elimina silent fallback in landing e rende i test deterministici
  src/ui/landing_slug.py
  tests/test_ui_paths_box.py
Due: fix-control-chars, forbid-control-chars

fix
  src/pipeline/context.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/landing_slug.py
  src/ui/utils/repo_root.py
  tests/conftest.py
  tests/scripts/test_forbid_control_chars.py
  tests/test_ui_exit_buttons.py
  tests/ui/test_repo_root.py
  tools/gen_dummy_kb.py
  tools/smoke/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars

fix: ledger vincolante e forensics deterministiche nei flussi onboarding
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
Due: fix-control-chars, forbid-control-chars

fix: determinismo semantico (tags.db, doc_entities, SpaCy) e test allineati
  src/semantic/auto_tagger.py
  src/semantic/entities_runner.py
  src/semantic/frontmatter_service.py
  src/semantic/spacy_extractor.py
  src/semantic/tagging_service.py
  src/semantic/vocab_loader.py
  tests/test_semantic_tags_csv.py
  tests/test_unit_build_tags_csv.py
  tests/test_vocab_loader.py
  tests/test_vocab_loader_failfast.py
Due: fix-control-chars, forbid-control-chars

fix: rimuove fallback strutturali (layout/vision) per Beta deterministica
  src/semantic/layout_enricher.py
  src/semantic/vision_parser.py
  src/semantic/vision_utils.py
  tests/test_layout_enricher.py
  tests/test_layout_enricher_parametrized.py
  tests/test_semantic_tags_csv.py
Due: fix-control-chars, forbid-control-chars

fix: Vision strict-only e parsing JSON puro
  src/semantic/vision_provision.py
  tests/semantic/test_vision_provision.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento documentazione
  MANIFEST.md
  instructions/07_gate_checklists.md
  instructions/10_runtime_strict_contract_beta.md
  instructions/README.md
Due: fix-control-chars, forbid-control-chars

Fix generici
  config/config.yaml
  instructions/10_runtime_strict_contract_beta.md
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  tools/dummy/orchestrator.py
Due: fix-control-chars, forbid-control-chars

intermedio
  src/ai/responses.py
  src/ai/vision_schema_diagnostics.py
  src/timmy_kb/ui/onboarding_ui.py
  tests/ai/test_invocation_logging.py
  tests/ai/test_responses_json.py
Due: fix-control-chars, forbid-control-chars

intermedio 2
  src/ai/responses.py
  tests/artifacts/schema_map_only_sent.json
  tests/artifacts/schema_no_map_sent.json
  tests/smoke/test_schema_map_only.py
  tests/smoke/test_schema_no_map.py
Due: fix-control-chars, forbid-control-chars

aggiornamento system\architecture.md
  system/architecture.md
Due: fix-control-chars, forbid-control-chars

fix: config_utils layout-first (no context.base_dir) per drive hardcheck
  src/pipeline/config_utils.py
  src/pipeline/honkit_preview.py
  tools/dummy/drive.py
Due: fix-control-chars, forbid-control-chars

Fix vs legacy
  config/config.example.yaml
  config/config.yaml
  src/pipeline/drive/upload.py
  src/pipeline/settings.py
  src/ui/pages/new_client.py
  src/ui/services/local_structure.py
  tests/pipeline/test_pre_onboarding_bootstrap.py
  tests/scripts/test_kb_healthcheck.py
  tests/test_settings.py
  tests/tools/test_dummy_orchestrator_hardcheck.py
  tests/ui/test_local_structure.py
  tests/ui/test_new_client_flow.py
Due: mypy, fix-control-chars, forbid-control-chars

Fix su vision
  cspell.json
  src/pipeline/config_utils.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/config_store.py
  src/ui/pages/new_client.py
  src/ui/services/local_structure.py
  src/ui/services/vision_provision.py
  tests/ui/test_config_store_skip_preflight.py
  tests/ui/test_context_cache.py
  tests/ui/test_vision_provision_base_dir.py
Due: fix-control-chars, forbid-control-chars

fix: bootstrap UI/preflight deterministico e dotenv idempotente
  src/pipeline/env_utils.py
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/preflight.py
Due: fix-control-chars, forbid-control-chars

fix generici
  src/ui/gating.py
  tests/ui/test_gating_semantics.py
Due: fix-control-chars, forbid-control-chars

feat: separa bootstrap/runtime del ClientContext e rende from_slug fail-fast
  src/pipeline/context.py
  src/pipeline/workspace_layout.py
  tests/test_client_context_bootstrap_mode.py
Due: fix-control-chars, forbid-control-chars

feat: rendi esplicito bootstrap_config nei CLI/tools e aggiungi guardrail
  docs/developer/coding_rule.md
  src/pipeline/context.py
  src/timmy_kb/cli/kg_build.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/qa_evidence.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  src/timmy_kb/cli/tag_onboarding_context.py
  src/tools/clean_client_workspace.py
  tests/architecture/test_cli_bootstrap_config.py
  tests/test_kg_build_cli_runtime_strict.py
  tools/dummy/orchestrator.py
  tools/retriever_benchmark.py
  tools/retriever_calibrate.py
  tools/smoke/smoke_semantic_from_drive.py
  tools/smoke/smoke_streamlit_finance.py
Due: fix-control-chars, forbid-control-chars, cspell

fix
  tests/architecture/test_cli_bootstrap_config.py
Due: fix-control-chars, forbid-control-chars

Allinea stati ledger alla state machine canonica
  src/storage/decision_ledger.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/cli/test_ledger_status.py
  tests/semantic/test_semantic_onboarding_cli.py
Due: fix-control-chars, forbid-control-chars

EPIC 2: rimuove fallback PDF in runtime core (strict)
  src/pipeline/content_utils.py
  tests/test_content_utils.py
  tests/test_content_utils_frontmatter.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
  tests/test_convert_markdown_rerun_processes_new_pdfs.py
  tests/test_frontmatter_cache_refresh.py
Due: fix-control-chars, forbid-control-chars

EPIC 3: strict core (vision parser/template + vocab loader)
  src/pipeline/vision_template.py
  src/semantic/vision_parser.py
  src/semantic/vocab_loader.py
  tests/semantic/test_vision_parser_strict.py
  tests/semantic/test_vocab_loader_strict.py
  tests/test_vision_template.py
  tests/test_vocab_loader.py
  tests/test_vocab_loader_failfast.py
  tests/test_vocab_loader_sqlite_errors.py
Due: fix-control-chars, forbid-control-chars

Verifica globale: strict error tipizzato e deterministico per lettura PDF Vision
  src/semantic/vision_parser.py
  tests/semantic/test_vision_parser_strict.py
  tests/test_vision_template.py
Due: fix-control-chars, forbid-control-chars

refactor: sposta check AI in tools e rendi strict il load config
  .codex/AGENTS.md
  src/ai/check/__init__.py
  src/ai/client_factory.py
  tests/test_client_factory.py
  tools/ai_checks/__init__.py
  tools/ai_checks/kgraph_check.py
  tools/ai_checks/vision_check.py
  tools/kg_debug_dummy.py
  tools/vision_debug_dummy.py
  tools/vision_sections_debug_dummy.py
Due: fix-control-chars, forbid-control-chars

fix: enforce strict config loading in ui/pipeline
  src/pipeline/config_utils.py
  src/ui/config_store.py
  src/ui/pages/admin.py
  tests/pipeline/test_config_utils_strict.py
  tests/ui/test_config_store.py
  tests/ui/test_vision_model_default.py
Due: fix-control-chars, forbid-control-chars

docs: unify pipeline state machine filename
  docs/user/arricchimento.md
  instructions/05_pipeline_state_machine.md
  instructions/05_pipeline_workspace_state_machine.md
  instructions/06_promptchain_workspace_mapping.md
  instructions/07_gate_checklists.md
  instructions/README.md
Due: fix-control-chars, forbid-control-chars, cspell

docs: align beta1 state model and context snippets
  docs/developer/_deprecated/state_model_prebeta.md
  docs/developer/coding_rule.md
  docs/developer/state_model.md
  docs/developer/state_model_beta1.md
  docs/user/user_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: align ui dev doc paths
  docs/developer/_deprecated/state_model_prebeta.md
  src/ui/AGENTS.md
  src/ui/pages/AGENTS.md
  src/ui/pages/guida_dev.py
Due: fix-control-chars, forbid-control-chars, cspell

docs: deduplicate principles; make coding rules & architecture SSoT
  README.md
  docs/developer/coding_rule.md
  docs/developer/developer_guide.md
  docs/developer/developer_quickstart.md
  docs/index.md
  system/architecture.md
Due: fix-control-chars, forbid-control-chars, cspell
