Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: rendi deterministica la risoluzione del workspace e rimuovi shim legacy nei CLI/test
  src/semantic/api.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/conftest.py
  tests/test_book_purity_adapter.py
  tests/test_content_utils.py
  tests/test_content_utils_logging.py
  tests/test_content_utils_symlink_category.py
  tests/test_embedding_error_event.py
  tests/test_index_skip_empty_file.py
  tests/test_indexer_chunk_record.py
  tests/test_indexer_init_failfast.py
  tests/test_indexer_schema_once.py
  tests/test_kb_db_insert.py
  tests/test_semantic_enrich_and_unicode.py
  tests/test_semantic_index_markdown_db.py
  tests/test_semantic_tags_csv.py
Due: fix-control-chars, forbid-control-chars

Fix new page
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars

Fix cleanup
  tools/clean_client_workspace.py
Due: none

fix generici
  src/tools/__init__.py
  src/tools/clean_client_workspace.py
Due: fix-control-chars, forbid-control-chars

Rendi strict semantic mapping e semantic_defaults
  src/semantic/config.py
  src/tools/__init__.py
  src/tools/clean_client_workspace.py
  tests/test_content_utils_logging.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
  tests/test_content_utils_readme_summary.py
  tests/test_convert_markdown_rerun_processes_new_pdfs.py
  tests/test_semantic_tags_csv.py
  tests/test_unit_build_tags_csv.py
Due: fix-control-chars, forbid-control-chars

fix generici
  src/semantic/auto_tagger.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/retriever_embeddings.py
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

Fix generici
  clients_db/clients/prova2/ownership.yaml
  config/vision_statement.yaml
  src/pipeline/content_utils.py
  src/semantic/auto_tagger.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/retriever.py
  src/timmy_kb/cli/semantic_onboarding.py
  tests/test_retriever_candidate_limit.py
  tests/test_retriever_config.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

fix: harden semantics logging and safety
  src/semantic/core.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/retriever.py
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

fix: bump vulnerable deps
  constraints.txt
  requirements-dev.txt
  requirements-optional.in
  requirements-optional.txt
  requirements.in
  requirements.txt
Due: fix-control-chars, forbid-control-chars

fix: harden local raw path safety
  src/pipeline/drive/upload.py
Due: mypy, fix-control-chars, forbid-control-chars

fix: use structured logger in vision check
  src/ai/check/vision_check.py
Due: fix-control-chars, forbid-control-chars

fix: use structured logger in kgraph check
  src/ai/check/kgraph_check.py
Due: fix-control-chars, forbid-control-chars

fix: enforce strict semantic contracts
  src/semantic/api.py
  src/semantic/core.py
  src/semantic/tagging_service.py
  src/semantic/vocab_loader.py
  src/timmy_kb/cli/retriever.py
  tests/semantic/test_require_reviewed_vocab.py
  tests/test_retriever_unit.py
  tests/test_semantic_extractor.py
  tests/test_unit_build_tags_csv.py
Due: fix-control-chars, forbid-control-chars

fix: pass embedding model + simplify vocab retrieval + audit orphan cleanup
  src/pipeline/content_utils.py
  src/timmy_kb/cli/retriever.py
  src/ui/pages/semantics.py
  tests/retriever/test_retriever_logging_explainability.py
  tests/test_retriever_api.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

fix: enforce path safety for chunk record builder
  src/pipeline/content_utils.py
  tests/test_chunk_record_builder.py
Due: fix-control-chars, forbid-control-chars

fix: log retriever skip when k is zero
  src/timmy_kb/cli/retriever.py
Due: fix-control-chars, forbid-control-chars

fix: log effective candidate limit from config
  src/timmy_kb/cli/retriever.py
Due: fix-control-chars, forbid-control-chars

fix: enforce path safety for tags_raw.json
  src/timmy_kb/cli/semantic_onboarding.py
  tests/semantic/test_semantic_onboarding_cli.py
Due: fix-control-chars, forbid-control-chars

fix: raise on empty vocab in strict mode
  src/semantic/vocab_loader.py
  tests/test_vocab_loader.py
Due: fix-control-chars, forbid-control-chars

fix: enforce explainability manifest writes
  src/timmy_kb/cli/retriever_manifest.py
  tests/retriever/test_retriever_logging_explainability.py
Due: fix-control-chars, forbid-control-chars

chore: apply isort fixes
  tests/retriever/test_retriever_logging_explainability.py
  tests/test_vocab_loader.py
Due: fix-control-chars, forbid-control-chars

chore(security): bump filelock to >=3.12.2 (fix TOCTOU)
  requirements-dev.txt
  requirements-optional.txt
  requirements.txt
Due: fix-control-chars, forbid-control-chars

chore(security): bump virtualenv to >=20.23.2 (fix TOCTOU)
  requirements-dev.txt
Due: fix-control-chars, forbid-control-chars

fix: harden gen_dummy_kb imports and mode gating
  tools/gen_dummy_kb.py
Due: none

Aggiornamento documentazione Dev
  cspell.json
  docs/developer/developer_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento documentazione Dev2
  docs/developer/developer_guide.md
  src/timmy_kb/ui/onboarding_ui.py
  src/ui/gating.py
  src/ui/pages/new_client.py
  src/ui/utils/workspace.py
  tests/test_ui_preview_gating.py
  tests/test_ui_utils.py
  tests/ui/test_gating_semantics.py
  tests/ui/test_new_client_flow.py
  tests/ui/test_onboarding_ui_preflight.py
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento documentazione Beta 1.0 - informations/
  cspell.json
  docs/policies/security.md
  instructions/05_pipeline_workspace_state_machine.md
  instructions/06_promptchain_workspace_mapping.md
  instructions/07_gate_checklists.md
  instructions/08_gate_evidence_and_retry_contract.md
  instructions/README.md
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento documentazione Beta 1.0 - generici
  .codex/CHECKLISTS.md
  cspell.json
  docs/developer/observability.md
  docs/user/arricchimento.md
  instructions/05_pipeline_workspace_state_machine.md
Due: fix-control-chars, forbid-control-chars, cspell

Subject: feat: integra ledger decisionale e status CLI
  README.md
  docs/developer/developer_guide.md
  docs/strict_vs_dummy_beta.md
  src/storage/decision_ledger.py
  src/timmy_kb/cli/__main__.py
  src/timmy_kb/cli/ledger_status.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  tests/semantic/test_semantic_onboarding_cli.py
  tests/storage/test_decision_ledger.py
  tests/test_semantic_onboarding_exitcodes.py
Due: fix-control-chars, forbid-control-chars, cspell

aggiornamento documentazione
  README.md
  docs/developer/developer_guide.md
  docs/developer/state_model_beta1.md
Due: fix-control-chars, forbid-control-chars, cspell

aggiornamento documentazione 2
  README.md
  docs/developer/developer_guide.md
  docs/developer/state_model.md
  src/timmy_kb/cli/ledger_status.py
  tests/cli/test_ledger_status.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix documentazione
  docs/developer/developer_guide.md
  docs/developer/state_model.md
  docs/developer/state_model_beta1.md
  src/timmy_kb/cli/ledger_status.py
Due: fix-control-chars, forbid-control-chars, cspell

Beta STRICT: deterministic filename fallback + strict errors in path_utils
  src/pipeline/path_utils.py
Due: fix-control-chars, forbid-control-chars

tests: codify STRICT/non-STRICT invariants for path_utils
  tests/pipeline/test_path_utils_strict.py
Due: fix-control-chars, forbid-control-chars

Fix su documentazione
  .github/pull_request_template.md
  cspell.json
  docs/developer/developer_guide.md
  docs/developer/retriever_refactor_map.md
  system/architecture.md
Due: fix-control-chars, forbid-control-chars, cspell

Definizione documentazione
  cspell.json
  docs/developer/developer_guide.md
  docs/developer/retriever_refactor_map.md
Due: fix-control-chars, forbid-control-chars, cspell

chore: aggiungi guardrail tools, mapping Decision Record e gate encoding
  .codex/AGENTS.md
  docs/developer/developer_guide.md
  docs/developer/state_model_beta1.md
  instructions/08_gate_evidence_and_retry_contract.md
  src/storage/decision_ledger.py
  tests/architecture/test_encoding_hygiene.py
  tests/architecture/test_no_tools_imports.py
  tests/storage/test_decision_ledger.py
  tools/dummy/__init__.py
  tools/dummy/bootstrap.py
  tools/dummy/drive.py
  tools/dummy/orchestrator.py
  tools/dummy/semantic.py
  tools/dummy/vision.py
  tools/smoke/__init__.py
  tools/smoke/check_md_links.py
  tools/smoke/check_no_direct_reads.py
  tools/smoke/check_no_hardcoded_vision_model.py
  tools/smoke/check_no_local_emit_or_copy.py
  tools/smoke/check_no_unsafe_reads.py
  tools/smoke/check_phase_artifacts.py
  tools/smoke/check_spdx_headers.py
  tools/smoke/check_streamlit_deprecations.py
  tools/smoke/check_streamlit_ui.py
  tools/smoke/check_ui_beta0_compliance.py
  tools/smoke/check_yaml_secrets.py
  tools/smoke/debug_vision_schema.py
  tools/smoke/e2e_smoke_test.py
  tools/smoke/kb_healthcheck.py
  tools/smoke/smoke_semantic_from_drive.py
  tools/smoke/smoke_semantics_gating.py
  tools/smoke/smoke_streamlit_finance.py
  tools/smoke/verify_vision_schema.py
  tools/smoke/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

fix encoding
  src/semantic/vision_parser.py
  src/semantic/vision_provision.py
  src/semantic/vision_utils.py
  tests/architecture/test_encoding_hygiene.py
  tests/architecture/test_repo_encoding_guardrail.py
Due: fix-control-chars, forbid-control-chars

fix: rendi espliciti i fallimenti del retriever e strumenta fallback UI
  src/timmy_kb/cli/retriever.py
  src/ui/gating.py
  src/ui/pages/semantics.py
  src/ui/utils/route_state.py
  src/ui/utils/workspace.py
  tests/retriever/test_logging.py
  tests/test_retriever_api.py
  tests/test_retriever_topk.py
  tests/test_retriever_validate.py
Due: fix-control-chars, forbid-control-chars

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

