Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

align workspace layout policy with fail-fast bootstrap guardrails
  docs/coding_rule.md
  docs/developer_guide.md
  docs/streamlit_ui.md
  src/kg_builder.py
  src/pipeline/exceptions.py
  src/pipeline/workspace_bootstrap.py
  src/pipeline/workspace_layout.py
  src/pre_onboarding.py
  src/semantic/spacy_extractor.py
  src/semantic_onboarding.py
  src/ui/components/yaml_editors.py
  src/ui/landing_slug.py
  src/ui/manage/_helpers.py
  src/ui/pages/config_editor.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/semantics.py
  src/ui/services/drive_runner.py
  src/ui/services/tags_adapter.py
  src/ui/utils/__init__.py
  src/ui/utils/workspace.py
  tests/pipeline/test_drive_download_steps.py
  tests/pipeline/test_pre_onboarding_bootstrap.py
  tests/pipeline/test_workspace_bootstrap_api.py
  tests/pipeline/test_workspace_exceptions.py
  tests/pipeline/test_workspace_layout_policy.py
  tests/pipeline/test_workspace_migrate_repair.py
  tests/test_drive_runner_progress.py
  tests/test_indexer_schema_once.py
  tests/test_kg_builder.py
  tests/ui/test_landing_slug_sections.py
  tests/ui/test_manage_drive.py
  tests/ui/test_manage_modal_save.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_new_client_config.py
  tests/ui/test_new_client_flow.py
  tests/ui/test_semantics_state.py
  tests/ui/test_yaml_editors.py
  tools/smoke/smoke_semantics_gating.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: finalize workspace layout drive flow
  docs/coding_rule.md
  docs/developer_guide.md
  src/pipeline/drive/upload.py
  src/pipeline/log_viewer.py
  src/pipeline/workspace_bootstrap.py
  src/pipeline/workspace_layout.py
  src/semantic/spacy_extractor.py
  src/ui/landing_slug.py
  src/ui/manage/_helpers.py
  src/ui/manage/cleanup.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/services/drive_runner.py
Due: mypy, fix-control-chars, forbid-control-chars, cspell

feat(ui): add OCP bridge to ProtoTimmy chat
  src/ui/navigation_spec.py
  src/ui/pages/prototimmy_chat.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
  tests/ui/test_pages_prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

fixing
  src/ai/codex_runner.py
  src/ui/pages/prototimmy_chat.py
  tests/ai/test_codex_runner.py
  tests/ui/test_pages_prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

fixing2
  src/ui/pages/prototimmy_chat.py
  tests/ui/test_pages_prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

fixing3
  src/ui/pages/prototimmy_chat.py
  tests/ui/test_pages_prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

fix: stabilize codex manual workflow
  src/ui/pages/prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

Aggiornata la sezione Turno Codex (manuale)
  src/ui/pages/prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

Test Turno Codex (manuale)
  tests/ui/test_pages_prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

aggiornamento doc Prompt Chain
  .codex/PROMPTS.md
  docs/PromptChain_spec.md
Due: fix-control-chars, forbid-control-chars, cspell

fix Prompt Chain
  src/ui/pages/prototimmy_chat.py
  tests/ui/test_pages_prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

fix Prompt Chain 3
  onboarding_ui.py
  src/ai/client_factory.py
  src/pipeline/capabilities/__init__.py
  src/pipeline/capabilities/openai.py
  src/pipeline/capabilities/otel.py
  src/pipeline/observability_config.py
  src/pre_onboarding.py
  src/semantic/book_readiness.py
  src/semantic/vocab_loader.py
  src/semantic_headless.py
  src/semantic_onboarding.py
  src/tag_onboarding.py
  src/tag_onboarding_context.py
  src/tag_onboarding_raw.py
  src/tag_onboarding_semantic.py
  src/timmy_kb/__init__.py
  src/timmy_kb/cli/__init__.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/semantic_headless.py
  src/timmy_kb/cli/semantic_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  src/timmy_kb/cli/tag_onboarding_context.py
  src/timmy_kb/cli/tag_onboarding_raw.py
  src/timmy_kb/cli/tag_onboarding_semantic.py
  src/ui/fine_tuning/system_prompt_modal.py
  tests/test_capabilities_openai.py
  tests/test_capabilities_otel.py
  tests/test_indexer_schema_once.py
Due: fix-control-chars, forbid-control-chars

Fine sistemazione orchestratori CLI
  src/ingest.py
  src/kg_build.py
  src/kg_builder.py
  src/retriever.py
  src/timmy_kb/cli/ingest.py
  src/timmy_kb/cli/kg_build.py
  src/timmy_kb/cli/kg_builder.py
  src/timmy_kb/cli/retriever.py
  tests/test_indexer_schema_once.py
Due: fix-control-chars, forbid-control-chars

CLI + UI + shim
  onboarding_ui.py
  src/timmy_kb/ui/__init__.py
  src/timmy_kb/ui/onboarding_ui.py
Due: fix-control-chars, forbid-control-chars

QA: pre-commit autofix e stabilizzazione finale revision
  src/pipeline/capabilities/__init__.py
  src/pipeline/capabilities/dummy_kb.py
  src/pipeline/capabilities/otel.py
  src/pipeline/capabilities/vision.py
  src/pipeline/types.py
  src/timmy_kb/cli/pre_onboarding.py
  src/timmy_kb/cli/tag_onboarding.py
  src/tools/gen_dummy_kb.py
  src/ui/services/vision_provision.py
  tests/test_capabilities_dummy_kb.py
  tests/test_capabilities_vision.py
Due: fix-control-chars, forbid-control-chars

Fix definitivi
  src/pipeline/content_utils.py
  src/pipeline/types.py
  src/semantic/api.py
  src/semantic/embedding_service.py
  tests/test_chunk_record_builder.py
  tests/test_chunk_record_contract.py
  tests/test_indexer_chunk_record.py
Due: fix-control-chars, forbid-control-chars

Fix
  src/semantic/embedding_service.py
  tests/test_indexer_chunk_record.py
Due: fix-control-chars, forbid-control-chars

Chiusura Fase
  onboarding_ui.py
Due: none

aggiornamento boundary AI
  config/config.yaml
  src/ai/config.py
  tests/ai/test_config_boundary.py
Due: fix-control-chars, forbid-control-chars

fix: clarify audit assistant contract
  config/config.yaml
  src/ai/config.py
  tests/ai/test_config_boundary.py
Due: fix-control-chars, forbid-control-chars

test: strengthen config boundary test contracts
  tests/ai/test_config_boundary.py
Due: fix-control-chars, forbid-control-chars

docs: add resolver contracts
  src/ai/config.py
Due: fix-control-chars, forbid-control-chars

docs: align assistant taxonomy in resolver docstrings
  src/ai/config.py
Due: fix-control-chars, forbid-control-chars

docs: add Work Order Envelope for agent→micro-agent contracts
  .codex/PROMPTS.md
Due: fix-control-chars, forbid-control-chars

fix: clean unicode artifacts
  .codex/PROMPTS.md
  README.md
  src/pipeline/path_utils.py
  src/semantic/review_writer.py
  src/tools/gen_dummy_kb.py
  tools/fix_mojibake.py
  tools/smoke/smoke_e2e.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: restore mojibake mapping and normalize prompt quotes
  .codex/PROMPTS.md
  tools/fix_mojibake.py
Due: fix-control-chars, forbid-control-chars

docs: require ASCII quotes in prompts
  .codex/PROMPTS.md
Due: fix-control-chars, forbid-control-chars

docs: add self-check ascii safety
  .codex/PROMPTS.md
Due: fix-control-chars, forbid-control-chars

feat(dummy-kb): add deep testing with golden run and hard checks
  src/pipeline/capabilities/dummy_kb.py
  src/tools/dummy/bootstrap.py
  src/tools/dummy/orchestrator.py
  src/tools/gen_dummy_kb.py
  src/ui/chrome.py
  tests/tools/test_gen_dummy_kb.py
  tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

feat(dummy-kb): add deep testing with golden run and hard checks
  docs/adr/ADR-002-dummy-kb-e2e-smoke-test.md
  docs/developer_guide.md
Due: fix-control-chars, forbid-control-chars, cspell

Fix caratteri non ascii
  cspell.json
  docs/guida_codex.md
  tests/encoding/test_docs_encoding.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: formalizza gate evidence e skeptic nel Prompt Chain
  .codex/CHECKLISTS.md
  .codex/PROMPTS.md
  docs/PromptChain_spec.md
Due: fix-control-chars, forbid-control-chars, cspell

chore: formalizza lo Skeptic Gate obbligatorio nella Prompt Chain
  .codex/CHECKLISTS.md
  .codex/PROMPTS.md
  cspell.json
  docs/PromptChain_spec.md
Due: fix-control-chars, forbid-control-chars, cspell

definizioni generali
  .codex/PROMPTS.md
  config/config.yaml
  cspell.json
  docs/PromptChain_spec.md
  docs/developer_guide.md
  docs/guida_codex.md
  docs/runbook_codex.md
  src/ai/config.py
  src/ai/responses.py
  src/pipeline/ingest/provider.py
  src/rosetta/__init__.py
  src/rosetta/client.py
  src/rosetta/logging_conventions.py
  src/semantic/book_readiness.py
  src/semantic/contracts.py
  src/semantic/explain_pack.py
  src/semantic/exporters.py
  src/semantic/validators.py
  src/timmy_kb/cli/tag_onboarding_raw.py
  src/ui/pages/prototimmy_chat.py
  tests/ai/test_config_resolution.py
  tests/ai/test_responses_json.py
  tests/rosetta/test_rosetta_client.py
  tests/semantic/test_book_readiness.py
  tests/semantic/test_explain_pack.py
  tests/semantic/test_exporters.py
  tests/semantic/test_kg_rosetta_contract.py
  tests/semantic/test_validators.py
  tests/test_config_defaults.py
  tests/test_ingest_provider.py
  tests/test_logging_provenance_conventions.py
  tests/test_tag_onboarding_helpers.py
  tests/ui/test_prototimmy_rosetta_hook.py
Due: fix-control-chars, forbid-control-chars, cspell

chore(security): bump filelock to 3.20.1 (Dependabot moderate)
  requirements-dev.txt
  requirements-optional.txt
  requirements.txt
Due: fix-control-chars, forbid-control-chars

Test PR
  README.md
Due: fix-control-chars, forbid-control-chars, cspell

chore: improve PR template and add OCP workflow doc
  .github/pull_request_template.md
  cspell.json
  docs/OCP_WORKFLOW.md
Due: fix-control-chars, forbid-control-chars, cspell

definisione settaggi AI
  cspell.json
  docs/PromptChain_spec.md
  docs/runbook_codex.md
  remove_block.py
  show_lines.py
  show_lines2.py
  show_lines3.py
  show_lines4.py
  src/ai/__init__.py
  src/ai/assistant_registry.py
  src/ai/check/vision_check.py
  src/ai/config.py
  src/ai/kgraph.py
  src/ai/prototimmy.py
  src/ai/resolution.py
  src/ai/responses.py
  src/pipeline/capabilities/vision.py
  src/semantic/vision_provision.py
  src/tools/gen_vision_yaml.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/landing_slug.py
  src/ui/pages/prototimmy_chat.py
  src/ui/services/vision_provision.py
  tests/ai/test_assistant_registry.py
  tests/ai/test_config_boundary.py
  tests/ai/test_invocation_logging.py
  tests/ai/test_resolution.py
  tests/semantic/test_vision_provision.py
  tests/test_semantic_vision_path_safety.py
  tests/test_ui_paths_box.py
  tests/test_ui_vision_gating.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
Due: fix-control-chars, forbid-control-chars, cspell

definisione settaggi AI
  src/ui/pages/prototimmy_chat.py
  tests/ai/test_config_boundary.py
  tests/ai/test_config_resolution.py
  tests/test_ai_config_prototimmy.py
  tests/test_capabilities_vision.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_ui_vision_gating.py
  tests/ui/test_pages_prototimmy_chat.py
Due: fix-control-chars, forbid-control-chars

Cleanup: remove legacy shims and consolidate canonical Vision config paths
  README.md
  cspell.json
  docs/architecture.md
  docs/runbook_codex.md
  docs/user_guide.md
  src/ai/__init__.py
  src/ai/check/vision_check.py
  src/ai/vision_config.py
  src/pipeline/capabilities/vision.py
  src/semantic/vision_provision.py
  src/timmy_kb/cli/kg_builder.py
  src/tools/gen_vision_yaml.py
  src/ui/services/vision_provision.py
  tests/ai/test_assistant_registry.py
  tests/ai/test_config_boundary.py
  tests/ai/test_config_resolution.py
  tests/ai/test_resolution.py
  tests/semantic/test_vision_provision.py
  tests/test_capabilities_vision.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_client_factory.py
  tests/test_ui_vision_gating.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
  tools/gen_vision_yaml.py
Due: fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

