Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

fix-control-chars:
  name: Fix Unicode control chars (remove C0/C1 + NFC)
  entry: python scripts/forbid_control_chars.py --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

forbid-control-chars:
  name: Forbid Unicode control chars & non-UTF-8
  entry: python scripts/forbid_control_chars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cspell:
  name: cspell (docs + README)
  entry: npx --yes -p @cspell/dict-it-it cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat: harden dummy kb flow and streamlit upgrade hint
  docs/streamlit_ui.md
  docs/test_suite.md
  onboarding_ui.py
  src/tools/gen_dummy_kb.py
  tests/tools/test_gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: align semantic pipeline with per-pdf markdown
  src/pipeline/content_utils.py
  src/semantic/api.py
  tests/test_content_utils_logging.py
  tests/test_content_utils_no_traversal_when_safe_pdfs.py
  tests/test_content_utils_readme_summary.py
  tests/test_content_utils_symlink_category.py
  tests/test_convert_markdown_rerun_processes_new_pdfs.py
  tests/test_semantic_api_enrich_frontmatter.py
Due: fix-control-chars, forbid-control-chars

refactor: enforce safe path scans and soften vocab requirement
  .pre-commit-config.yaml
  cspell.json
  docs/AGENTS_INDEX.md
  docs/architecture.md
  docs/streamlit_ui.md
  scripts/dev/check_streamlit_ui.py
  src/adapters/book_purity.py
  src/pipeline/content_utils.py
  src/pipeline/github_utils.py
  src/pipeline/path_utils.py
  src/semantic/api.py
  src/semantic/tags_extractor.py
  src/semantic_onboarding.py
  src/tag_onboarding.py
  src/tools/clean_client_workspace.py
  src/ui/AGENTS.md
  src/ui/components/diff_view.py
  src/ui/utils/diagnostics.py
  tests/semantic/test_ssot_enforcement.py
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento documentazione Streamlit
  cspell.json
  docs/streamlit_ui.md
Due: fix-control-chars, forbid-control-chars, cspell

fix su test
  tests/test_semantic_index_markdown_db.py
Due: fix-control-chars, forbid-control-chars

Fix vari
  src/onboarding_full.py
  src/pipeline/content_utils.py
  src/semantic/api.py
  src/semantic/semantic_extractor.py
  tests/test_semantic_api_enrich_frontmatter.py
Due: fix-control-chars, forbid-control-chars

Revisione logger strutturato e nota router
  docs/streamlit_ui.md
  src/ui/pages/admin.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix e correzioni varie
  docs/streamlit_ui.md
  scripts/dev/check_streamlit_ui.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars, cspell

Aggiunti helper Windows riusabili + tests
  .codex/AGENTS.md
  docs/AGENTS_INDEX.md
  scripts/dev/__pycache__/qa_safe.cpython-311.pyc
  src/pipeline/file_utils.py
  src/pipeline/path_utils.py
  tests/test_agent_smoke.py
  tests/test_file_io_append.py
  tests/test_windows_path_utils.py
Due: fix-control-chars, forbid-control-chars, cspell

Correzioni varie
  src/pipeline/context.py
  src/pipeline/file_utils.py
  src/pipeline/logging_utils.py
  src/ui/manage/compat.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

allineamenti
  scripts/kb_healthcheck.py
  src/pipeline/logging_utils.py
  src/ui/services/vision_provision.py
  tests/ui/test_vision_model_default.py
Due: fix-control-chars, forbid-control-chars

nuovi allineamenti
  .pre-commit-config.yaml
  _test_chat.py
  scripts/dev/check_no_hardcoded_vision_model.py
  tmp_before.txt
Due: fix-control-chars, forbid-control-chars

Pulizia file e gitignore
  .gitignore
  release_notes_1_8_0.md
  temp_line_numbers.txt
  tmp_chunk.txt
  tmp_download_func.txt
  tmp_first.txt
Due: fix-control-chars, forbid-control-chars

aggiunta playwright report su gitignore
  .gitignore
Due: none

Ripristino git mv runbook_codex.md docs/runbook_codex.md
  cspell.json
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: hardening preview typing and github push workflow
  .github/workflows/agents-matrix.yml
  .github/workflows/ci.yaml
  docs/test_suite.md
  scripts/bench_embeddings_normalization.py
  src/adapters/preview.py
  src/pipeline/file_utils.py
  src/pipeline/github_utils.py
  src/pipeline/path_utils.py
  src/semantic/api.py
  src/semantic/tags_extractor.py
  src/tools/clean_client_workspace.py
  src/tools/gen_dummy_kb.py
  src/ui/utils/workspace.py
  tests/pipeline/test_github_push.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: harden agents matrix checks and frontmatter caching
  .github/workflows/agents-matrix.yml
  .github/workflows/ci.yaml
  docs/codex_integrazione.md
  docs/developer_guide.md
  docs/runbook_codex.md
  src/pipeline/content_utils.py
  src/pipeline/frontmatter_utils.py
  src/semantic/api.py
  tests/pipeline/test_frontmatter_utils.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: add pdf cache benchmark and reinforce agents matrix checks
  .github/workflows/ci.yaml
  .gitignore
  src/pipeline/path_utils.py
  tests/pipeline/test_github_push.py
Due: fix-control-chars, forbid-control-chars

ottimizzazioni su cache RAW, pipeline NLP e gestione push
  cspell.json
  docs/adr/0004-nlp-performance-tuning.md
  docs/adr/README.md
  docs/codex_integrazione.md
  docs/runbook_codex.md
  src/pipeline/file_utils.py
  src/pipeline/github_utils.py
  src/pipeline/path_utils.py
  src/semantic/tags_extractor.py
  src/tag_onboarding.py
  tests/test_path_utils.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor: add phase scopes to github push pipeline
  src/pipeline/github_utils.py
  tests/pipeline/test_github_push.py
Due: fix-control-chars, forbid-control-chars

refactor: extract tag onboarding setup and raw ingest
  src/tag_onboarding.py
  src/tag_onboarding_context.py
  src/tag_onboarding_raw.py
  tests/test_tag_onboarding_helpers.py
Due: fix-control-chars, forbid-control-chars

refactor: factor push planning helpers in github utils
  src/pipeline/github_utils.py
Due: fix-control-chars, forbid-control-chars

refactor: split tag onboarding semantic phases
  src/tag_onboarding.py
  src/tag_onboarding_semantic.py
Due: fix-control-chars, forbid-control-chars

refactor e fix
  docs/architecture.md
  docs/guida_ui.md
  docs/user_guide.md
  src/ui/clients_store.py
  src/ui/manage/tags.py
  src/ui/pages/manage.py
  tests/pipeline/test_github_push.py
Due: fix-control-chars, forbid-control-chars, cspell

sistemazioni finali e correzione documentazione
  .codex/CHECKLISTS.md
  README.md
  docs/guida_ui.md
  docs/runbook_codex.md
  docs/user_guide.md
  src/ui/manage/tags.py
  tests/pipeline/test_github_push.py
Due: fix-control-chars, forbid-control-chars, cspell

Diagnostica e logging
  src/ui/manage/drive.py
  src/ui/manage/tags.py
  src/ui/pages/diagnostics.py
  src/ui/utils/diagnostics.py
  tests/ui/test_diagnostics.py
  tests/ui/test_manage_drive.py
  tests/ui/test_manage_tags_regression.py
  tests/ui/test_pages_diagnostics.py
Due: fix-control-chars, forbid-control-chars

fix: harden tags yaml validation
  src/ui/manage/tags.py
  tests/ui/test_manage_tags_regression.py
Due: fix-control-chars, forbid-control-chars

fix generici
  src/pipeline/github_utils.py
  src/pipeline/import_utils.py
  src/semantic/vision_provision.py
  src/ui/fine_tuning/system_prompt_modal.py
  tests/pipeline/test_import_utils.py
Due: fix-control-chars, forbid-control-chars

fix: harden semantica state transitions
  src/pipeline/content_utils.py
  src/ui/pages/semantics.py
Due: fix-control-chars, forbid-control-chars

feat: make raw pdf cache configurable
  config/config.yaml
  docs/adr/0004-nlp-performance-tuning.md
  docs/codex_integrazione.md
  docs/runbook_codex.md
  src/pipeline/path_utils.py
  tests/pipeline/test_raw_cache_config.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: enforce doc updates in checklist
  .codex/CHECKLISTS.md
  .github/pull_request_template.md
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: harmonize ui client context cache
  src/onboarding_full.py
  src/pipeline/content_utils.py
  src/semantic_headless.py
  src/ui/components/drive_tree.py
  src/ui/config_store.py
  src/ui/fine_tuning/vision_modal.py
  src/ui/landing_slug.py
  src/ui/pages/config_editor.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/semantics.py
  src/ui/services/drive_runner.py
  src/ui/services/tags_adapter.py
  src/ui/utils/context_cache.py
  src/ui/utils/diagnostics.py
  src/ui/utils/workspace.py
  tests/test_drive_runner_progress.py
  tests/test_ui_paths_box.py
  tests/ui/test_context_cache.py
Due: fix-control-chars, forbid-control-chars

feat: scaffold admin log dashboard
  README.md
  cspell.json
  docs/milestones/archive_cleanup.md
  docs/runbook_codex.md
  docs/streamlit_ui.md
  observability/docker-compose.yaml
  observability/promtail-config.yaml
  onboarding_ui.py
  scripts/archive/__orig_manage.py
  scripts/archive/assistants_smoke.py
  scripts/archive/check_structure.py
  scripts/archive/kb_healthcheck_responses.py
  scripts/archive/quick_openai_diag.py
  scripts/archive/refactor_logging_ui.py
  scripts/archive/vision_alignment_check.py
  src/pipeline/logging_utils.py
  src/ui/pages/logs_panel.py
  src/ui/pages/registry.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
  tests/ui/test_logs_panel.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: harden ci and observability
  .env.example
  .github/workflows/bench.yml
  .github/workflows/ci.yaml
  .github/workflows/docs-spellcheck.yml
  .github/workflows/e2e-smoke.yml
  .github/workflows/import-smoke.yml
  .github/workflows/qodana.yaml
  .github/workflows/secret-scan.yml
  .github/workflows/security-audit.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  docs/SECURITY.md
  docs/index.md
  docs/observability.md
  docs/runbook_codex.md
  docs/security.md
  observability/promtail-config.yaml
  scripts/apply_branch_protection.sh
  src/ui/pages/registry.py
  tests/security/test_redaction.py
  tests/test_client_factory.py
  tests/test_settings.py
  tests/test_tag_onboarding_drive_guard_main.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix vari
  .env.example
  .github/workflows/ci.yaml
  .secrets.baseline
  config/config.yaml
  docs/adr/0002-separation-secrets-config.md
  docs/configuration.md
  docs/configurazione.md
  docs/guida_ui.md
  docs/index.md
  docs/observability.md
  docs/runbook_codex.md
  docs/security.md
  docs/test_suite.md
  scripts/ci/oidc_probe.py
  src/pipeline/oidc_utils.py
  src/ui/config_store.py
  src/ui/utils/context_cache.py
  tests/ui/test_context_cache.py
Due: fix-control-chars, forbid-control-chars, cspell

feat(navigation): centralize streamlit registry and add oidc probe
  .env.example
  .github/workflows/ci.yaml
  config/config.yaml
  docs/developer_guide.md
  docs/streamlit_ui.md
  scripts/ci/oidc_probe.py
  src/pipeline/oidc_utils.py
  src/ui/gating.py
  src/ui/navigation_spec.py
  src/ui/pages/registry.py
  tests/ui/test_navigation_spec.py
Due: fix-control-chars, forbid-control-chars, cspell

chore(security): add dependency scan and docker lint workflows
  .github/workflows/dependency-scan.yml
  .github/workflows/docker-lint.yml
  README.md
  cspell.json
  docs/security.md
Due: fix-control-chars, forbid-control-chars, cspell

feat(ui): relax semantics gating and improve indexing tests
  docs/guida_ui.md
  docs/streamlit_ui.md
  src/ui/constants.py
  src/ui/pages/semantics.py
  tests/test_indexer_schema_once.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars, cspell

test: cover semantics state transitions and gating cache
  src/ui/constants.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

