Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


chore: add tools shim for gen_vision_yaml
  tools/gen_vision_yaml.py
Due: none

chore: forward argv in gen_dummy_kb shim
  tools/gen_dummy_kb.py
Due: none

chore: allow monkeypatch in gen_vision_yaml shim
  tools/gen_vision_yaml.py
Due: none

chore: harden gen_dummy_kb shim for testing
  tools/gen_dummy_kb.py
Due: none

refactor(ui): streamline preflight checks and logging
  .codex/AGENTS.md
  .codex/PROMPTS.md
  AGENTS.md
  cli/tag_review_cli.py
  docs/AGENTS.md
  docs/AGENTS_INDEX.md
  onboarding_ui.py
  src/pipeline/AGENTS.md
  src/semantic/AGENTS.md
  src/ui/AGENTS.md
  src/ui/fine_tuning/AGENTS.md
  src/ui/pages/AGENTS.md
  src/ui/preflight.py
  tests/AGENTS.md
  timmy_kb_coder.py
  tools/bench_embeddings_normalization.py
  tools/ci/oidc_probe.py
  tools/ci_dump_nav.py
  tools/dev/add_spdx_headers.py
  tools/dev/test_push_shallow.py
  tools/forbid_control_chars.py
  tools/gen_agents_matrix.py
  tools/gen_vision_yaml.py
  tools/smoke/check_spdx_headers.py
  tools/smoke/check_streamlit_deprecations.py
  tools/smoke/check_streamlit_ui.py
  tools/smoke/check_yaml_secrets.py
  tools/smoke/gitbook_publish_smoke.py
  tools/smoke/kb_healthcheck.py
  tools/smoke/smoke_semantic_from_drive.py
  tools/smoke/smoke_streamlit_finance.py
  tools/smoke/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars, cspell

aggiornamento dependecies
  constraints.txt
  requirements-dev.txt
  requirements-optional.txt
  requirements.txt
Due: fix-control-chars, forbid-control-chars

Aggiornasmento documentazione Codex
  .codex/WORKFLOWS.md
  cspell.json
  docs/codex_integrazione.md
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento documentazione Codex
  .codex/WORKFLOWS.md
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

aggiunta visualizzazione grafica agents codex
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

Ridefinizione grafica interfaccia gestione Agents
  .codex/AGENTS.md
  docs/AGENTS.md
  src/ui/navigation_spec.py
  src/ui/pages/agents_network.py
  tests/contract/snapshots/nav_contract_000.json
  tests/contract/snapshots/nav_contract_100.json
  tests/contract/snapshots/nav_contract_110.json
  tests/contract/snapshots/nav_contract_111.json
Due: fix-control-chars, forbid-control-chars, cspell

fix su pannello Codex
  src/ui/pages/agents_network.py
Due: fix-control-chars, forbid-control-chars

catena explainability/lineage: Operativa v1
  cspell.json
  docs/codex_integrazione.md
  docs/logging_events.md
  docs/runbook_codex.md
  src/ingest.py
  src/semantic/embedding_service.py
  tests/fixtures/logging_events_baseline.json
Due: fix-control-chars, forbid-control-chars, cspell

ampliamento logging/explainability
  tests/test_embedding_error_event.py
  tests/test_ingest_retriever_workspace_db.py
  tests/test_semantic_index_markdown_db.py
Due: fix-control-chars, forbid-control-chars

avvio percorso explainability
  docs/explainability_overview.md
  docs/logging_events.md
  docs/runbook_codex.md
  src/explainability/manifest.py
  src/explainability/serialization.py
  src/explainability/service.py
  src/retriever.py
  tests/explainability/test_explainability_service.py
  tests/explainability/test_manifest.py
  tests/explainability/test_manifest_serialization.py
  tests/retriever/test_retriever_logging_explainability.py
Due: fix-control-chars, forbid-control-chars, cspell

refactor vision per response
  config/config.yaml
  src/semantic/vision_provision.py
  tests/semantic/test_vision_provision.py
  tools/test_prototimmy.py
Due: fix-control-chars, forbid-control-chars

refactor: allinea kg_builder, Vision, UI system prompt e test_prototimmy a Responses API
  config/config.yaml
  src/kg_builder.py
  src/ui/fine_tuning/system_prompt_modal.py
  tests/test_kg_builder.py
  tools/test_prototimmy.py
Due: fix-control-chars, forbid-control-chars

Revisione rete Agents per Prompt Chain
  .codex/AGENTS.md
  .codex/PROMPTS.md
  .codex/WORKFLOWS.md
  cspell.json
  docs/codex_integrazione.md
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

chore: allinea doc Prompt Chain a SSoT e aggiorna governance Codex
  .codex/AGENTS.md
  .codex/PROMPTS.md
  docs/PromptChain_spec.md
  docs/codex_integrazione.md
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

Aggiornamento documentazione per Prompt Chain
  README.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/index.md
Due: fix-control-chars, forbid-control-chars, cspell

Definizione modal per interazione assistenti
  config/config.yaml
  docs/runbook_codex.md
  src/kg_builder.py
  src/semantic/vision_provision.py
  tests/semantic/test_vision_provision.py
  tests/test_kg_builder.py
  tests/test_vision_prompt_includes_client_name.py
  tests/test_vision_provision_inline.py
  tools/test_prototimmy.py
Due: fix-control-chars, forbid-control-chars, cspell

fix vision
  tests/test_client_context_settings.py
  tests/test_kg_builder.py
  tests/test_settings.py
Due: fix-control-chars, forbid-control-chars

Fix integrazione assistant + documentazione
  docs/coding_rule.md
  docs/developer_guide.md
  src/kg_builder.py
  src/semantic/vision_provision.py
  tests/semantic/test_vision_provision.py
  tests/test_kg_builder.py
  tools/kg_debug_dummy.py
  tools/vision_debug_dummy.py
Due: fix-control-chars, forbid-control-chars, cspell

changelog
  CHANGELOG.md
Due: fix-control-chars, forbid-control-chars

chore: allinea payload Responses a input_text e aggiorna smoke/test vision
  src/semantic/vision_provision.py
  tests/scripts/test_vision_alignment_check.py
  tools/smoke/vision_alignment_check.py
  tools/test_prototimmy.py
Due: fix-control-chars, forbid-control-chars

allineamento integrazione assistant
  tests/scripts/test_kb_healthcheck.py
  tools/smoke/kb_healthcheck.py
Due: fix-control-chars, forbid-control-chars

fix generici
  src/ai/__init__.py
  src/ai/check/__init__.py
  src/ai/check/kgraph_check.py
  src/ai/check/prototimmy_check.py
  src/ai/check/vision_check.py
  src/ai/config.py
  src/ai/kgraph.py
  src/ai/prototimmy.py
  src/ai/responses.py
  src/ai/types.py
  src/kg_builder.py
  src/semantic/vision_provision.py
  tests/conftest.py
  tests/semantic/test_vision_provision.py
  tests/test_kg_builder.py
  tools/kg_debug_dummy.py
  tools/test_prototimmy.py
  tools/vision_debug_dummy.py
Due: fix-control-chars, forbid-control-chars

revisione dialogo assistant
  config/vision_statement.yaml
  src/ai/check/__init__.py
  src/ai/check/kgraph_check.py
  src/ai/check/vision_check.py
  src/ai/config.py
  src/ai/responses.py
  src/semantic/__init__.py
  src/semantic/document_ingest.py
  src/semantic/entities_runner.py
  src/semantic/pdf_utils.py
  src/semantic/spacy_extractor.py
  src/semantic/vision_ingest.py
  src/semantic/vision_parser.py
  src/semantic/vision_provision.py
  src/system/self_check.py
  src/tools/dummy/bootstrap.py
  src/tools/dummy/orchestrator.py
  src/tools/dummy/semantic.py
  src/ui/pages/new_client.py
  src/ui/services/vision_provision.py
  tests/semantic/test_vision_provision.py
  tests/test_ai_config_prototimmy.py
  tests/test_ai_vision_dummy_check.py
  tests/test_vision_ingest.py
  tests/ui/test_new_client_flow.py
  tools/__init__.py
  tools/system_preonboarding_check.py
  tools/vision_sections_debug_dummy.py
Due: fix-control-chars, forbid-control-chars

revisione dialogo assistant changelog + fix
  CHANGELOG.md
  src/semantic/pdf_utils.py
Due: fix-control-chars, forbid-control-chars

AGENTS.md per carte ai/
  src/ai/AGENTS.md
Due: fix-control-chars, forbid-control-chars

fix
  .pre-commit-config.yaml
  src/semantic/entities_runner.py
  src/semantic/pdf_utils.py
  src/semantic/spacy_extractor.py
  src/semantic/vision_ingest.py
  src/semantic/vision_parser.py
  src/semantic/vision_provision.py
  src/ui/clients_store.py
  src/ui/fine_tuning/system_prompt_modal.py
  src/ui/pages/agents_network.py
  src/ui/pages/secrets_healthcheck.py
  src/ui/preflight.py
  src/ui/services/vision_provision.py
Due: fix-control-chars, forbid-control-chars

docs: clarify prompt chain rules
  .codex/AGENTS.md
  .codex/CHECKLISTS.md
  .codex/PROMPTS.md
  .codex/WORKFLOWS.md
Due: fix-control-chars, forbid-control-chars

refactor: drop legacy coder UI and global KB in favor of slug-based 1.0
  CHANGELOG.md
  cli/tag_review_cli.py
  docs/arricchimento.md
  docs/developer_guide.md
  docs/milestones/archive_cleanup.md
  docs/test_suite.md
  tests/test_coder_embeddings_env.py
  tests/test_coder_rag_message.py
  tests/test_timmy_kb_coder_config.py
  tests/test_timmy_kb_coder_logging.py
  tests/test_ui_coder_embeddings_key_fallback.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars, cspell

Pulizia legacy/fallback/retrocompatibilità
  README.md
  docs/configurazione.md
  docs/milestones/archive_cleanup.md
  src/storage/kb_store.py
  tests/test_kb_store.py
  tests/test_semantic_convert_fallback_no_safe_pdfs_param.py
  tools/ingest_demo.py
Due: fix-control-chars, forbid-control-chars, cspell

Pulizia legacy/fallback/retrocompatibilità 2
  onboarding_ui.py
  src/pipeline/log_viewer.py
  src/pipeline/paths.py
  tests/pipeline/test_paths.py
Due: fix-control-chars, forbid-control-chars

allineamento codex in inglese
  .codex/AGENTS.md
  .codex/CHECKLISTS.md
  .codex/CODING_STANDARDS.md
  .codex/CONSTITUTION.md
  .codex/PROMPTS.md
  .codex/WORKFLOWS.md
  .github/codex-instructions.md
  AGENTS.md
  config/config.yaml
  cspell.json
  docs/AGENTS.md
  docs/AGENTS_INDEX.md
  docs/PromptChain_spec.md
  docs/adr/0004-nlp-performance-tuning.md
  docs/adr/ADR-002-dummy-kb-e2e-smoke-test.md
  docs/codex_integrazione.md
  docs/guida_codex.md
  docs/index.md
  docs/runbook_codex.md
  src/ai/AGENTS.md
  src/pipeline/AGENTS.md
  src/semantic/AGENTS.md
  src/ui/AGENTS.md
  src/ui/fine_tuning/AGENTS.md
  src/ui/pages/AGENTS.md
  src/ui/pages/agents_network.py
  tests/AGENTS.md
Due: fix-control-chars, forbid-control-chars, cspell

docs: allinea la Prompt Chain a protocollo e fasi
  .codex/AGENTS.md
  .codex/CHECKLISTS.md
  .codex/CODING_STANDARDS.md
  .codex/CONSTITUTION.md
  .codex/PROMPTS.md
  .codex/WORKFLOWS.md
  README.md
  docs/AGENTS_INDEX.md
  docs/PromptChain_spec.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/guida_codex.md
  docs/runbook_codex.md
Due: fix-control-chars, forbid-control-chars, cspell

Definizione Workspace come SSoT
  docs/architecture.md
  docs/coding_rule.md
  docs/developer_guide.md
  src/kg_build.py
  src/onboarding_full.py
  src/pipeline/workspace_layout.py
  src/pre_onboarding.py
  src/semantic_onboarding.py
  src/tag_onboarding.py
  src/tag_onboarding_context.py
  src/ui/pages/new_client.py
  src/ui/pages/semantics.py
  src/ui/services/tag_kg_builder.py
  src/ui/utils/workspace.py
Due: fix-control-chars, forbid-control-chars, cspell

fix generici
  src/pipeline/workspace_layout.py
Due: fix-control-chars, forbid-control-chars
