Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


refactor: align env and yaml access in UI
  scripts/kb_healthcheck.py
  src/ui/clients_store.py
  src/ui/landing_slug.py
  src/ui/pages/new_client.py
Due: fix-control-chars, forbid-control-chars

feat: separa config da segreti e aggiungi tooling/settings tests
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  cspell.json
  docs/adr/0002-separation-secrets-config.md
  docs/configuration.md
  docs/index.md
  docs/test_suite.md
  onboarding_ui.py
  pytest.ini
  scripts/assistants_smoke.py
  scripts/dev/check_yaml_secrets.py
  scripts/ingest_demo.py
  scripts/kb_healthcheck_responses.py
  scripts/quick_openai_diag.py
  scripts/vision_alignment_check.py
  src/ingest.py
  src/pipeline/config_utils.py
  src/pipeline/context.py
  src/pipeline/gitbook_preview.py
  src/pipeline/logging_utils.py
  src/pipeline/settings.py
  src/semantic/config.py
  src/tools/gen_dummy_kb.py
  src/ui/clients_store.py
  src/ui/pages/admin.py
  src/ui/pages/config_editor.py
  src/ui/pages/secrets_healthcheck.py
  src/ui/pages/tools_check.py
  src/ui/preflight.py
  tests/semantic/test_semantic_config_settings.py
  tests/test_client_context_settings.py
  tests/test_settings.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: align mypy baseline and document typing debt
  docs/developer_guide.md
  makefile
  mypy.ini
  pyproject.toml
  src/pipeline/context.py
  src/pipeline/gitbook_preview.py
  src/pipeline/logging_utils.py
  src/pipeline/provision_from_yaml.py
  src/semantic/config.py
  src/semantic/semantic_mapping.py
  src/semantic/validation.py
  src/semantic/vision_provision.py
  src/tools/clean_client_workspace.py
  src/tools/drive_check_permissions.py
  src/ui/app_core/__init__.py
  src/ui/services/vision_provision.py
Due: fix-control-chars, forbid-control-chars, cspell

test: isolate clients store registry and harden cleanup
  src/semantic/api.py
  src/tag_onboarding.py
  src/tools/clean_client_workspace.py
  src/ui/pages/manage.py
  src/ui/pages/settings.py
  tests/conftest.py
  tests/test_clients_store.py
Due: fix-control-chars, forbid-control-chars

test: align semantic config test slug and ensure read-only
  tests/semantic/test_semantic_config_settings.py
Due: fix-control-chars, forbid-control-chars

test: relax indexer init delay for windows stability
  tests/test_indexer_schema_once.py
Due: fix-control-chars, forbid-control-chars

Definizione refactor su centralizzazione
  .pytest_clients_db/clients.yaml
  src/tools/gen_dummy_kb.py
Due: fix-control-chars, forbid-control-chars

feat: add Vision prompt preview in UI
  .gitignore
  .pytest_clients_db/clients.yaml
  src/semantic/vision_provision.py
  src/ui/imports.py
  src/ui/pages/new_client.py
  src/ui/services/vision_provision.py
Due: fix-control-chars, forbid-control-chars

Aggiornamento healtcheck
  scripts/kb_healthcheck.py
  src/ui/pages/tools_check.py
  src/ui/services/vision_provision.py
Due: fix-control-chars, forbid-control-chars

sisteamzione healtcheck
  _old_tools_check.py
  _old_tools_check_ascii.py
  scripts/__pycache__/kb_healthcheck.cpython-311.pyc
  scripts/kb_healthcheck.py
Due: none

Revisione Healtcheck + fix
  src/ingest.py
  src/kb_db.py
  src/pipeline/content_utils.py
  src/pipeline/env_utils.py
  src/retriever.py
  src/ui/pages/tools_check.py
Due: fix-control-chars, forbid-control-chars

Fix vari
  src/ui/pages/tools_check.py
  tests/test_tools_check.py
Due: fix-control-chars, forbid-control-chars

Sistemazioni finali
  docs/guida_ui.md
  docs/streamlit_ui.md
  onboarding_ui.py
  scripts/dev/check_ui_beta0_compliance.py
  src/prompt_builder.py
  src/security/authorization.py
  src/security/throttle.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/vscode_bridge.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix successivi
  scripts/dev/check_ui_beta0_compliance.py
  src/security/authorization.py
  src/vscode_bridge.py
  timmy_kb_coder.py
Due: fix-control-chars, forbid-control-chars

helper ui.utils.ui_controls
  docs/streamlit_ui.md
  src/ui/pages/admin.py
  src/ui/pages/cleanup.py
  src/ui/pages/config_editor.py
  src/ui/pages/diagnostics.py
  src/ui/pages/guida_ui.py
  src/ui/pages/home.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/secrets_healthcheck.py
  src/ui/pages/semantics.py
  src/ui/pages/tools_check.py
  src/ui/utils/ui_controls.py
Due: fix-control-chars, forbid-control-chars, cspell

fix su manage.py
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars

chore(ui): centralizza routing con route_state + non forza ?tab=home; abilita preflight one-shot e aggiorna docs
  cspell.json
  docs/guida_ui.md
  docs/streamlit_ui.md
  onboarding_ui.py
  src/pipeline/path_utils.py
  src/semantic/api.py
  src/semantic/auto_tagger.py
  src/semantic/vision_provision.py
  src/semantic_headless.py
  src/tools/gen_dummy_kb.py
  src/ui/pages/admin.py
  src/ui/pages/cleanup.py
  src/ui/pages/config_editor.py
  src/ui/pages/diagnostics.py
  src/ui/pages/guida_ui.py
  src/ui/pages/home.py
  src/ui/pages/manage.py
  src/ui/pages/new_client.py
  src/ui/pages/preview.py
  src/ui/pages/secrets_healthcheck.py
  src/ui/pages/semantics.py
  src/ui/pages/settings.py
  src/ui/pages/tools_check.py
  src/ui/utils/preflight_once.py
  src/ui/utils/route_state.py
  src/ui/utils/workspace.py
  tests/test_vision_provision_inline.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_preflight_once.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: add structured logging to semantic headless
  src/semantic_headless.py
  tests/test_semantic_headless_enrichment_without_vocab.py
Due: fix-control-chars, forbid-control-chars

Fix generici + doc
  docs/guida_ui.md
  docs/streamlit_ui.md
  src/tools/gen_dummy_kb.py
  src/ui/utils/workspace.py
  tests/test_gen_dummy_kb_import_safety.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix finali dell'aggiornamento
  src/tools/gen_dummy_kb.py
  src/ui/__init__.py
  tests/test_gen_dummy_kb_import_safety.py
Due: fix-control-chars, forbid-control-chars

Finalizzazione interfaccia
  src/ui/pages/diagnostics.py
  src/ui/pages/preview.py
Due: fix-control-chars, forbid-control-chars

allineamento finale
  src/ui/pages/diagnostics.py
  src/ui/pages/preview.py
Due: fix-control-chars, forbid-control-chars

Fix su preview.py
  onboarding_ui.py
  src/ui/pages/preview.py
Due: fix-control-chars, forbid-control-chars

docs: add vocab ingestion diagrams
  docs/guida_ui.md
  docs/streamlit_ui.md
Due: fix-control-chars, forbid-control-chars, cspell

storage(tags_store): add CLI python -m storage.tags_store import-yaml for idempotent YAML→DB ingestion
  src/storage/tags_store.py
  tests/storage/test_import_tags_yaml_to_db.py
Due: fix-control-chars, forbid-control-chars

chore: configure streamlit theme
  .gitignore
  .streamlit/config.toml
Due: none

fix: enforce clients store path safety
  docs/streamlit_ui.md
  src/ui/clients_store.py
  src/ui/utils/compat.py
  src/ui/utils/slug.py
  tests/test_ui_manage_call_best_effort.py
  tests/test_ui_manage_clients_logging.py
  tests/ui/test_manage_modal_save.py
  tests/ui/test_slug_persistence.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: harden clients registry path safety
  docs/streamlit_ui.md
  src/tools/gen_dummy_kb.py
  src/ui/clients_store.py
  tests/conftest.py
  tests/test_clients_store.py
  tests/test_smoke_dummy_e2e.py
Due: fix-control-chars, forbid-control-chars, cspell

feat: gate streamlit navigation and update preview stub
  docs/streamlit_ui.md
  onboarding_ui.py
  src/ui/pages/preview.py
Due: fix-control-chars, forbid-control-chars, cspell

playwright-e2e + docs
  docs/adr/0003-playwright-e2e-ui.md
  docs/adr/README.md
  docs/streamlit_ui.md
  docs/test_suite.md
  playwright-report/buttons_manage.txt
  playwright-report/counts_manage.txt
  playwright-report/manage.html
  playwright-report/manage.png
  playwright-report/manage_modal.html
  requirements-dev.in
  requirements-dev.txt
  src/ui/pages/manage.py
  tests/e2e/test_enable_and_preview.py
Due: fix-control-chars, forbid-control-chars, cspell

revisione requirements + fix
  constraints.txt
  requirements-dev.txt
  requirements-optional.in
  requirements-optional.txt
  requirements.in
  requirements.txt
Due: fix-control-chars, forbid-control-chars

Fix vari
  src/ui/pages/preview.py
  tests/e2e/test_enable_and_preview.py
  tests/pipeline/test_content_utils_safe.py
  tests/retriever/test_logging.py
  tests/retriever/test_security_hooks.py
  tests/security/test_masking.py
  tests/semantic/test_vision_provision.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_client_context_settings.py
  tests/test_context_logging_events.py
  tests/test_env_loader.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_logging_redaction.py
  tests/test_onboarding_full_paths.py
  tests/test_phase_scope.py
  tests/test_proc_run_cmd_redacts_output.py
  tests/test_retriever_api.py
  tests/test_retriever_scoring.py
  tests/test_retriever_unit.py
  tests/test_retriever_validate.py
  tests/test_run_nlp_to_db.py
  tests/test_semantic_collect_safe_pdfs.py
  tests/test_semantic_convert_fallback_no_safe_pdfs_param.py
  tests/test_semantic_convert_markdown_raw_not_directory.py
  tests/test_semantic_convert_passes_safe_pdfs.py
  tests/test_semantic_index_markdown_partial_mismatch.py
  tests/test_ui_exit_buttons.py
  tests/test_ui_manage_call_best_effort.py
  tests/test_ui_manage_clients_logging.py
  tests/test_ui_regenerate_yaml.py
  tests/test_validate_tags_reviewed_paths.py
  tests/test_validation_slug.py
  tests/ui/test_drive_service.py
  tests/ui/test_manage_modal_save.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_new_client_config.py
  tests/ui/test_preview_stub.py
  tests/ui/test_query_params_edge.py
  tests/ui/test_semantics_state.py
  tests/ui/test_slug_persistence.py
Due: fix-control-chars, forbid-control-chars

Fix su helpers/stub
  docs/test_suite.md
  tests/e2e/test_enable_and_preview.py
  tests/ui/streamlit_stub.py
  tests/ui/stub_helpers.py
  tests/ui/test_pages_import.py
  tests/ui/test_preview_stub.py
Due: fix-control-chars, forbid-control-chars, cspell

test: stabilize streamlit stub fragments
  tests/conftest.py
  tests/ui/stub_helpers.py
  tests/ui/test_pages_import.py
Due: fix-control-chars, forbid-control-chars

fix: sync tags editor with db
  src/ui/components/yaml_editors.py
  src/ui/pages/manage.py
  src/ui/services/drive_runner.py
  tests/ui/test_manage_probe_raw.py
  tests/ui/test_yaml_editors.py
Due: fix-control-chars, forbid-control-chars

fix: harden semantics gating and slug handling
  docs/logging_events.md
  docs/streamlit_ui.md
  src/semantic/api.py
  src/ui/gating.py
  src/ui/utils/slug.py
  src/ui/utils/stubs.py
  tests/contract/snapshots/nav_contract_111.json
  tests/test_semantic_api_get_paths.py
  tests/ui/test_gating_semantics.py
  tests/ui/test_slug_persistence.py
  tests/ui/test_stubs_singleton.py
Due: fix-control-chars, forbid-control-chars, cspell

test: add semantics gating smoke and reset fixtures
  docs/test_suite.md
  tests/conftest.py
  tools/smoke_semantics_gating.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: improve semantics resiliency
  src/semantic/api.py
  src/ui/pages/semantics.py
  src/ui/utils/workspace.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

chore: log enrichment failure with traceback
  src/semantic/api.py
Due: fix-control-chars, forbid-control-chars

fix: harden manage yaml workflows
  src/ui/pages/manage.py
Due: fix-control-chars, forbid-control-chars
