Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, fix-control-chars, forbid-control-chars, cspell

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  fix-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  forbid-control-chars: any of: ^(src/.*|tests/.*|docs/.*|.*\.(md|txt|json|ya?ml))$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)

  cspell: any of: ^(README\.md|docs/.*\.md)$, but not: (?x)^(
  \.venv/|
  venv/|
  node_modules/|
  output/|
  dist/|
  build/|
  \.gitbook/|
  docs/_build/
)


test(ui): strengthen semantics gating and messaging coverage
  docs/streamlit_ui.md
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars, cspell

fix(ci): harden oidc probe exit when token missing
  config/config.yaml
  scripts/ci/oidc_probe.py
Due: fix-control-chars, forbid-control-chars

test(ui): share gating message constant and tighten semantics QA
  src/ui/constants.py
  src/ui/pages/semantics.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

chore: remove raw cache env overrides
  .env.example
  README.md
  config/config.yaml
  docs/adr/0004-nlp-performance-tuning.md
  docs/codex_integrazione.md
  docs/coding_rule.md
  docs/runbook_codex.md
  docs/security.md
  docs/user_guide.md
  src/pipeline/path_utils.py
  src/ui/pages/config_editor.py
  tests/pipeline/test_raw_cache_config.py
  tests/test_settings.py
  tests/ui/test_config_editor_sections.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: update grafana provisioning and docs
  .env.example
  cspell.json
  docs/observability.md
  observability/docker-compose.yaml
  observability/grafana-dashboards/timmykb-ops.json
  observability/grafana-provisioning/alerting/rules.yaml
  observability/grafana-provisioning/dashboards/dashboards.yaml
  observability/grafana-provisioning/datasources/datasources.yaml
Due: fix-control-chars, forbid-control-chars, cspell

Fix su Grafana
  docs/observability.md
  observability/docker-compose.yaml
Due: fix-control-chars, forbid-control-chars, cspell

Fix vari
  README.md
  src/ui/pages/admin.py
Due: fix-control-chars, forbid-control-chars, cspell

fix generalisti
  docs/guida_ui.md
  docs/runbook_codex.md
  src/pipeline/path_utils.py
  src/ui/manage/drive.py
  src/ui/pages/manage.py
  src/ui/pages/preview.py
  src/ui/services/drive_runner.py
  tests/pipeline/test_drive_download_steps.py
  tests/pipeline/test_raw_cache_config.py
  tests/ui/test_drive_download.py
  tests/ui/test_manage_drive.py
  tests/ui/test_preview_stub.py
Due: fix-control-chars, forbid-control-chars, cspell

fix su separazione config/env + AGENTS.md in src/ui/pages
  docs/AGENTS_INDEX.md
  src/ui/pages/AGENTS.md
  tests/test_logging_redaction.py
Due: fix-control-chars, forbid-control-chars, cspell

fix vari
  docs/AGENTS_INDEX.md
  docs/runbook_codex.md
  scripts/gen_agents_matrix.py
  src/ui/pages/admin.py
Due: fix-control-chars, forbid-control-chars, cspell

Fix su test sevrets
  tests/test_logging_redaction.py
Due: fix-control-chars, forbid-control-chars

Fix su test docs
  cspell.json
  docs/test_suite.md
Due: fix-control-chars, forbid-control-chars, cspell

Fix su test
  docs/test_suite.md
Due: fix-control-chars, forbid-control-chars, cspell

Fix2 su test
  docs/test_suite.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: guard markdown and tagging flows
  src/pipeline/content_utils.py
  src/semantic/embedding_service.py
  src/ui/manage/tags.py
  tests/test_content_utils.py
  tests/ui/test_manage_tags_regression.py
Due: fix-control-chars, forbid-control-chars

fix: enforce semantic gating and persistence
  src/semantic/api.py
  src/semantic/semantic_extractor.py
  src/ui/manage/tags.py
  src/ui/pages/semantics.py
  tests/ui/test_manage_tags_regression.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

test: require tags db for book
  tests/semantic/test_ssot_enforcement.py
Due: fix-control-chars, forbid-control-chars

test: cover export tags path safety
  tests/semantic/test_export_tags_yaml.py
Due: fix-control-chars, forbid-control-chars

test: cover semantic gating
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars

docs: clarify semantic gating and db safety
  docs/coding_rule.md
  docs/guida_ui.md
  docs/streamlit_ui.md
Due: fix-control-chars, forbid-control-chars, cspell

fix: align semantic extractor gating
  docs/streamlit_ui.md
  src/semantic/semantic_extractor.py
  src/ui/pages/semantics.py
  tests/test_semantic_extractor.py
  tests/ui/test_semantics_state.py
Due: fix-control-chars, forbid-control-chars, cspell

chore: update config
  config/config.yaml
Due: fix-control-chars, forbid-control-chars

test: align observability build book
  tests/test_observability_smoke.py
Due: fix-control-chars, forbid-control-chars

fix: preserve semantic alias order
  src/semantic/semantic_extractor.py
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

test: preserve alias order
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

feat: add preflight header
  onboarding_ui.py
Due: none

feat: use main logo in preflight
  onboarding_ui.py
  src/ui/utils/branding.py
Due: fix-control-chars, forbid-control-chars

fix: keep alias order db first
  docs/guida_ui.md
  src/semantic/api.py
  src/semantic/frontmatter_service.py
  src/semantic/vocab_loader.py
  tests/test_semantic_api_enrich_frontmatter.py
  tests/test_semantic_api_frontmatter.py
  tests/test_vocab_loader_integration_db.py
Due: fix-control-chars, forbid-control-chars, cspell

fix: cover db-first semantic path
  src/semantic/vocab_loader.py
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

Fix generici
  config/config.yaml
  scripts/vision_alignment_check.py
Due: fix-control-chars, forbid-control-chars

feat: align vision check with config
  scripts/vision_alignment_check.py
  tests/conftest.py
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

docs: add changelog entry
  docs/CHANGELOG.md
Due: fix-control-chars, forbid-control-chars, cspell

test: add duplicate alias coverage
  scripts/vision_alignment_check.py
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

test: ensure tags db required
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

test: drop framework print
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

test: extend vocab fixture
  tests/conftest.py
Due: fix-control-chars, forbid-control-chars

test: cover merge_into
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

test: merge_into canonical keyword
  tests/test_semantic_extractor.py
Due: fix-control-chars, forbid-control-chars

feat: align vision config
  config/config.yaml
  scripts/vision_alignment_check.py
  src/pipeline/settings.py
Due: fix-control-chars, forbid-control-chars
