Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cspell

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy
  - types-PyYAML
  pass_filenames: false
  args:
  - --config-file
  - mypy.ini
  stages:
  - pre-push

cspell:
  name: cspell (docs + README)
  entry: npx --yes cspell lint --no-progress --config cspell.json
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(core,logs,tests): fail-fast RAW insicuro; propaga slug in PipelineError; logging strutturato coder/ingest; test di regressione
  src/ingest.py
  src/pipeline/content_utils.py
  src/semantic/api.py
  tests/test_coder_embeddings_env.py
  tests/test_content_utils_slug_traversal_error.py
  tests/test_convert_markdown_unsafe_legacy.py
  timmy_kb_coder.py
Due: none

fix su src/ingest.py
  src/ingest.py
Due: none

chore(scripts): rename tools/→scripts/ e aggiorna riferimenti CI/pre-commit/docs
  .codex/CODING_STANDARDS.md
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/codex_integrazione.md
  docs/developer_guide.md
  makefile
  scripts/auto_wrap_e501.py
  scripts/check_path.ps1
  scripts/dev/check_no_local_emit_or_copy.py
  scripts/dev/check_no_unsafe_reads.py
  scripts/dev/forbid_path_writetext_bytes.py
  scripts/dev/forbid_runtime_asserts.py
  scripts/dev/forbid_unsafe_writes.py
  scripts/dev/qa_safe.py
  scripts/dev/tasks.ps1
  scripts/dev/test_push_shallow.py
  scripts/e2e_smoke_test.py
  scripts/ingest_demo.py
  scripts/migrate_yaml_to_db.py
  scripts/migrations/001_schema_v2.py
  scripts/migrations/__init__.py
  scripts/peek_folder_terms.py
  scripts/retriever_benchmark.py
  scripts/sanitize_user_path.ps1
  scripts/sbom.sh
Due: cspell

fix(gen_dummy_kb): ripristina import-safety (no side-effects a import-time) e standardizza workspace a output/timmy-kb-<slug>
  src/tools/gen_dummy_kb.py
  tests/conftest.py
Due: none

fix(semantic): unifica convert_markdown dentro phase_scope e log done unico
  src/semantic/api.py
Due: none

test(semantic): verifica phase_scope in convert_markdown
  tests/test_semantic_convert_phase_scope.py
Due: none

fix su logging
  src/semantic/api.py
  tmp_snippet.txt
  tools/auto_wrap_e501.py
  tools/check_path.ps1
  tools/dev/check_no_local_emit_or_copy.py
  tools/dev/check_no_unsafe_reads.py
  tools/dev/forbid_path_writetext_bytes.py
  tools/dev/forbid_runtime_asserts.py
  tools/dev/forbid_unsafe_writes.py
  tools/dev/qa_safe.py
  tools/dev/tasks.ps1
  tools/dev/test_push_shallow.py
  tools/e2e_smoke_test.py
  tools/fix_mojibake.py
  tools/ingest_demo.py
  tools/migrate_yaml_to_db.py
  tools/migrations/001_schema_v2.py
  tools/migrations/__init__.py
  tools/peek_folder_terms.py
  tools/retriever_benchmark.py
  tools/sanitize_user_path.ps1
  tools/sbom.sh
Due: none

fix ulteriori su logging
  src/pipeline/content_utils.py
  tests/test_content_utils_logging.py
Due: none

docs(tests): aggiorna elenco suite con test recenti; feat(db): logging/execmany + fetch warnings
  docs/developer_guide.md
  docs/test_suite.md
  src/kb_db.py
  tests/test_kb_db_logging.py
Due: cspell

docs(tests): completa elenco con test mancanti; docs(logging): aggiunge elenco eventi canonici
  docs/logging_events.md
  docs/test_suite.md
Due: cspell

docs: normalizza encoding (UTF-8, LF) in developer_guide.md; nessuna modifica di contenuto
  docs/developer_guide.md
Due: cspell

docs(test_suite): ripulisce residui visivi (accenti/trattini) nelle intestazioni/marker; normalizza righe e encoding
  docs/test_suite.md
Due: cspell

aggiornamento documentazione
  docs/developer_guide.md
  docs/test_suite.md
Due: cspell

feat: harmonize logging telemetry and cosine stability
  CHANGELOG.md
  src/pre_onboarding.py
  src/retriever.py
  src/semantic/api.py
  src/semantic/vocab_loader.py
  tests/test_coder_embeddings_env.py
  tests/test_retriever_scoring.py
  tests/test_retriever_unit.py
  tests/test_semantic_index_markdown_db.py
  tests/test_semantic_index_markdown_partial_mismatch.py
  tests/test_vocab_loader.py
  timmy_kb_coder.py
Due: none

docs: restore changelog after encoding issue
  CHANGELOG.md
Due: none

chore: remove legacy safe_write_file from config_utils and drop from __all__
  src/pipeline/config_utils.py
Due: none

chore(ui): replace safe_write_text_compat with pipeline.safe_write_text and drop shim if unused
  src/semantic/tags_extractor.py
  src/ui/components/mapping_editor.py
  src/ui/utils/__init__.py
  src/ui/utils/core.py
  tests/test_unit_emit_tags_csv.py
Due: none

chore: lint and test after full removal of emit_tags_csv
  docs/test_suite.md
  scripts/dev/check_no_local_emit_or_copy.py
  scripts/retriever_benchmark.py
  src/semantic/tags_extractor.py
  tests/test_unit_build_tags_csv.py
Due: cspell

docs(pipeline): remove version-pinned wording; keep hard error on legacy root_folders
  src/ai/client_factory.py
  src/pipeline/drive/upload.py
  src/retriever.py
  src/semantic/tags_io.py
Due: mypy

rimozione funzioni retrocompatibili e legacy
  README.md
  config/default_semantic_mapping.yaml
  docs/guida_ui.md
  src/pre_onboarding.py
  src/semantic/api.py
  src/semantic/semantic_mapping.py
  src/ui/components/mapping_editor.py
  tests/test_coder_embeddings_env.py
  tests/test_semantic_index_markdown_db.py
  tests/test_semantic_mapping.py
  timmy_kb_coder.py
Due: cspell

refactor(semantic): migrate mapping to keywords
  app_numbered.txt
  src/semantic/semantic_mapping.py
  src/semantic/vision_ai.py
  src/semantic/vision_provision.py
  src/semantic/vision_utils.py
  src/ui/components/mapping_editor.py
  src/ui/services/drive_runner.py
  tests/test_vision_ai.py
  tests/test_vision_ai_module.py
  tests/test_vision_ai_slug_mismatch.py
  tests/test_vision_provision.py
  tests/test_vision_provision_client_name_prompt.py
Due: none

aggiornamento documentazione su rimozione funzioni retrocompatibili e legacy + fix
  docs/architecture.md
  docs/codex_integrazione.md
  docs/guida_ui.md
  docs/release_notes_2_0_0.md
  docs/user_guide.md
  src/semantic/vision_utils.py
  tests/test_vision_ai_module.py
  tests/test_vision_provision.py
Due: cspell

aggiornamento documentazione + chore(config): deduplicate pytest config; enforce UTF-8 via EncodingWarning; align isort first_party
  docs/test_suite.md
  pyproject.toml
  pytest.ini
  src/semantic/vision_provision.py
  tests/test_vision_provision.py
Due: cspell

aggiornamento documentazione
  README.md
  docs/architecture.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/index.md
  docs/policy_push.md
Due: cspell

fix documentazione
  docs/guida_ui.md
  docs/user_guide.md
Due: cspell

fix vari
  src/semantic/api.py
  tests/test_semantic_api_summary_readme.py
Due: none

ui(store): add clients_db registry and helpers
  clients_db/clients.yaml
  src/ui/clients_store.py
Due: none

ui(landing): add nuovo cliente flow with PDF gating
  src/ui/app.py
Due: none

ui(landing): add modifica cliente tab with safe reopen
  src/ui/app.py
Due: none

ui(hooks): update registry state after steps and allow archive
  src/ui/app.py
  src/ui/tabs/drive.py
  src/ui/tabs/semantic.py
Due: none

ui(ux): refresh layout, header, and form guidance
  src/ui/app.py
Due: none

tests(store): add coverage and typing fixes
  src/ui/clients_store.py
  tests/test_clients_store.py
Due: none

ui(pdf): use ensure_local_workspace_for_ui for Vision Statement
  src/ui/app.py
Due: none

aggiornamento modifica UI
  docs/guida_ui.md
  src/ui/app.py
  src/ui/clients_store.py
  src/ui/components/diff_view.py
  src/ui/components/drive_tree.py
  src/ui/components/yaml_editors.py
  src/ui/const.py
  src/ui/services/tags_adapter.py
Due: cspell

aggiornamento modifica UI
  src/ui/components/diff_view.py
  src/ui/components/drive_tree.py
  src/ui/components/yaml_editors.py
  src/ui/services/tags_adapter.py
Due: none

fix su modifica UI
  src/ui/app.py
  src/ui/components/diff_view.py
  src/ui/components/drive_tree.py
  src/ui/components/yaml_editors.py
Due: none

nuovi fix su modifica UI
  src/ui/app.py
Due: none

ui(streamlit): fix + aggiunta colonna laterale
  onboarding_ui.py
  scripts/__pycache__/smoke_e2e.cpython-311.pyc
  src/ui/app.py
Due: none

ui(streamlit): fix + aggiunta colonna laterale
  src/ui/app.py
Due: none

Path conditions:
  mypy: any of: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$
  cspell: any of: ^(README\.md|docs/.*\.md)$
