Repository nextybase/timmy-kb-acme: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cspell

.pre-commit-config.yaml:

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: mixed-line-ending
        args: ["--fix=lf"]
        stages: [pre-commit]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        types_or: [python]
        files: ^(src|tests)/
        stages: [pre-commit]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile=black", "--line-length=120"]
        types_or: [python]
        files: ^(src|tests)/
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^(src|tests)/
        stages: [pre-commit]

  - repo: local
    hooks:

      - id: mypy
        name: mypy
        entry: mypy
        language: python
        additional_dependencies: ["mypy", "types-PyYAML"]
        files: ^src/(config_ui/|pipeline/drive/)|^src/pipeline/drive_utils\.py$
        pass_filenames: false
        args: ["--config-file", "mypy.ini"]
        stages: [pre-push]

      - id: forbid-unsafe-file-reads
        name: Forbid unsafe file reads (open/read_text/read_bytes) outside path_utils/tests/scripts
        entry: python tools/dev/check_no_unsafe_reads.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
      - id: no-dup-ingest-csv
        name: forbid local emit/copy helpers (use semantic.api)
        entry: python tools/dev/check_no_local_emit_or_copy.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
      - id: qa-safe
        name: qa-safe (isort/black/ruff/mypy se presenti)
        entry: python tools/dev/qa_safe.py
        language: python
        additional_dependencies: ["black==24.8.0", "isort==6.0.1", "ruff", "mypy", "types-PyYAML"]
        pass_filenames: false
        stages: [pre-push]
      - id: qa-safe-tests
        name: qa-safe --with-tests (pytest se presente)
        entry: python tools/dev/qa_safe.py --with-tests
        language: python
        additional_dependencies: [
          "black==24.8.0",
          "isort==6.0.1",
          "ruff",
          "mypy",
          "pytest",
          "pyyaml",
          "pydantic",
          "pydantic-settings",
          "numpy",
          "hypothesis",
          "reportlab",
          "types-PyYAML",
        ]
        pass_filenames: false
        stages: [pre-push]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks
        args:
          - detect
          - --no-banner
          - --redact
          - --config
          - .gitleaks.toml
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: cspell
        name: cspell (docs + README)
        entry: npx --yes cspell lint --no-progress --config cspell.json
        language: system
        pass_filenames: true
        files: ^(README\.md|docs/.*\.md)$
        stages: [pre-commit]

fix(kb_db, semantic, content): KPI inserimenti reali; build_markdown_book include enrich; TypeError→ConversionError; errori con slug/file_path; test isolati
  CHANGELOG.md
  cspell.json
  docs/developer_guide.md
  pytest.out.txt
  src/kb_db.py
  src/pipeline/content_utils.py
  src/semantic/api.py
  tests/test_content_utils.py
  tests/test_db_safety.py
  tests/test_kb_db_insert.py
  tests/test_kb_db_path_safety.py
  tests/test_semantic_api_errors.py
  tests/test_semantic_build_markdown_book.py
Due: cspell

fix(core): KPI inserimenti reali DB; convert_markdown su nuovi PDF; phase_scope include enrich; errori contestualizzati; test+docs+changelog
  CHANGELOG.md
  _head.txt
  docs/developer_guide.md
  src/semantic/api.py
  tests/test_convert_markdown_rerun_processes_new_pdfs.py
  tests/test_kb_db_path_safety.py
  tests/test_semantic_api_errors.py
Due: cspell

test(semantic): ensure ctx-overrides test seeds dummy.pdf in RAW to trigger conversion
  src/semantic/api.py
  tests/test_convert_markdown_no_pdfs_raises.py
  tests/test_observability_smoke.py
  tests/test_path_overrides_extended.py
Due: none

aggirornamento changelog
  CHANGELOG.md
Due: none

fix-suite-green
  CHANGELOG.md
  cspell.json
  docs/developer_guide.md
  src/semantic/vocab_loader.py
  src/semantic_onboarding.py
  src/tools/gen_dummy_kb.py
  src/tools/retriever_calibrate.py
  src/ui/tabs/finance.py
  tests/est_retriever_calibrate_io.py
  tests/test_finance_tab_io_safety.py
  tests/test_gen_dummy_kb_import_safety.py
  tests/test_semantic_onboarding_exitcodes.py
  tests/test_vocab_loader_failfast.py
  tools/auto_wrap_e501.py
  tools/dev/qa_safe.py
Due: cspell

fix vari
  src/semantic/vocab_loader.py
  src/tools/retriever_calibrate.py
  tests/test_retriever_calibrate_io.py
  tests/test_vocab_loader_integration_db
Due: none

chore(release): 1.9.3
  .github/workflows/bench.yml
  .github/workflows/ci.yaml
  .github/workflows/e2e-smoke.yml
  .github/workflows/import-smoke.yml
  CHANGELOG.md
  docs/developer_guide.md
  package.json
  pyproject.toml
  src/kb_db.py
  src/pipeline/content_utils.py
  src/pipeline/context.py
  src/semantic/api.py
  src/semantic/auto_tagger.py
  src/semantic/vocab_loader.py
  src/tag_onboarding.py
  src/tools/retriever_calibrate.py
  tests/test_cli_env_missing.py
  tests/test_env_loader.py
  tests/test_indexer_schema_once.py
  tests/test_pdf_iteration_symlink.py
  tests/test_tag_onboarding_helpers.py
  tests/test_vocab_loader.py
  tests/test_vocab_loader_failfast.py
  tools/dev/test_push_shallow.py
Due: cspell

docs: symlink categories note in README; CHANGELOG Unreleased fixed entry
  CHANGELOG.md
  README.md
  docs/developer_guide.md
  src/pipeline/content_utils.py
  tests/test_content_utils_symlink_category.py
Due: cspell

chore: fix end-of-file in developer_guide.md
  .github/workflows/docs-spellcheck.yml
  CHANGELOG.md
  README.md
  cspell.json
  docs/developer_guide.md
  docs/user_guide.md
  package.json
  pyproject.toml
  src/semantic/api.py
  src/semantic/vocab_loader.py
  tests/test_convert_markdown_unsafe_message.py
  tests/test_vocab_loader_sqlite_errors.py
Due: cspell

fix cspell
  cspell.json
Due: none

docs: note DB init fail-fast in Indexer & KPI section
  docs/developer_guide.md
Due: cspell

fix(semantic): fail-fast init DB e logging contestualizzato
  src/semantic/api.py
  tests/test_indexer_init_failfast.py
  tests/test_semantic_api_summary_readme.py
Due: none

fix(retriever): supporta embedding numpy annidati e tie-break stabile
  src/retriever.py
  tests/test_retriever_scoring.py
Due: none

fix(retriever): filtra candidati 1D non numerici; consente forme annidate
  src/retriever.py
Due: none

feat(semantic): aggiungi hook _enrich_md no-op e normalizza contenuti/termini; test per zero-width e toggle enrich
  src/semantic/semantic_extractor.py
  tests/test_semantic_enrich_and_unicode.py
Due: none

fix(semantic): sanifica keyword con _normalize_term e dedup case-insensitive; aggiunto test e2e su zero-width
  src/semantic/semantic_extractor.py
  tests/test_semantic_enrich_and_unicode.py
Due: none

feat: deliver vision mapping pipeline
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/codex_integrazione.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/guida_ui.md
  docs/index.md
  docs/policy_push.md
  docs/test_suite.md
  docs/user_guide.md
  docs/versioning_policy.md
  onboarding_ui.py
  package.json
  pyproject.toml
  requirements.txt
  src/ai/client_factory.py
  src/finance/__init__.py
  src/semantic/__init__.py
  src/semantic/vision_ai.py
  src/tools/gen_vision_yaml.py
  src/ui/app.py
  tests/test_vision_ai_module.py
  timmy_kb_coder.py
  tools/ingest_demo.py
Due: cspell

avanzamento
  docs/coding_rule.md
  docs/developer_guide.md
  src/ai/client_factory.py
  src/semantic/vision_ai.py
  src/semantic/vision_provision.py
  src/semantic/vision_utils.py
  src/tools/gen_vision_yaml.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_client_factory.py
  tests/test_vision_ai.py
  tests/test_vision_provision.py
Due: cspell

feat(vision): consolidate AI orchestration and shared cartelle writer
  src/semantic/vision_ai.py
Due: none

avanzamento
  src/ai/client_factory.py
  tests/test_client_factory.py
  tests/test_vision_ai.py
Due: none

feat: provision folders from cartelle yaml
  src/pipeline/provision_from_yaml.py
  tests/test_provision_from_yaml.py
Due: none

docs: update vision onboarding flow
  CHANGELOG.md
  docs/developer_guide.md
  docs/guida_ui.md
Due: cspell

feat: add vision onboarding idempotence
  src/semantic/vision_provision.py
  src/ui/landing_slug.py
  src/ui/services/vision_provision.py
  tests/test_vision_provision.py
Due: none

chore: intermedio
  CHANGELOG.md
  src/ui/app.py
  src/ui/landing_slug.py
Due: none

fix: harden safe append and retriever tooling
  CHANGELOG.md
  docs/architecture.md
  docs/codex_integrazione.md
  docs/coding_rule.md
  docs/developer_guide.md
  docs/guida_ui.md
  docs/index.md
  docs/policy_push.md
  docs/test_suite.md
  docs/user_guide.md
  docs/versioning_policy.md
  src/pipeline/file_utils.py
  src/retriever.py
  src/semantic/vision_provision.py
  src/tools/gen_dummy_kb.py
  src/tools/gen_vision_yaml.py
  src/tools/retriever_calibrate.py
  tests/test_file_io_append.py
  tests/test_retriever_calibrate_io.py
Due: cspell

chore: normalize file_utils encoding
  src/pipeline/file_utils.py
Due: none

fix generali
  .editorconfig
  .gitattributes
  .github/e2e-smoke-kick.txt
  .pre-commit-config.yaml
  .qodana/results/qodana.sarif.json
  .vscode/tasks.json
  CHANGELOG.md
  cspell.json
  docs/codex_integrazione.md
  docs/guida_ui.md
  docs/index.md
  docs/policy_push.md
  docs/user_guide.md
  docs/versioning_policy.md
  qodana.sarif.json
  qodana.yaml
  release_notes_1_8_0.md
  requirements-optional.txt
  src/pipeline/drive/__init__.py
  src/pipeline/file_utils.py
  src/retriever.py
  src/semantic_onboarding.py
  src/tag_onboarding.py
  src/ui/services/drive_runner.py
  tests/test_env_lazy.py
  tests/test_env_loader.py
  tests/test_file_io_append.py
  tests/test_smoke_e2e.py
  tools/fix_mojibake.py
Due: mypy, cspell

modifiche UI - Intermedio
  CHANGELOG.md
  README.md
  docs/developer_guide.md
  docs/guida_ui.md
  docs/user_guide.md
  src/semantic/vision_ai.py
  src/semantic/vision_provision.py
  src/ui/app.py
  src/ui/components/mapping_editor.py
  src/ui/landing_slug.py
  tests/test_cli_gen_vision_yaml.py
  tests/test_vision_provision.py
Due: cspell

fix ui/app.py - Intermedio
  src/ui/app.py
Due: none

fix rimozione vision_statement.yaml - Intermedio
  docs/guida_ui.md
  docs/user_guide.md
  src/pipeline/context.py
  src/pre_onboarding.py
  src/semantic/api.py
  src/semantic/semantic_mapping.py
  src/semantic/vision_ai.py
  src/semantic/vision_provision.py
  src/ui/app.py
  src/ui/components/mapping_editor.py
  src/ui/landing_slug.py
  src/ui/services/drive_runner.py
  src/ui/services/vision_provision.py
  src/ui/tabs/config.py
  tests/test_vision_ai.py
  tests/test_vision_provision.py
  tests/test_vision_to_mapping.py
Due: cspell

fix - Intermedio
  src/semantic/vision_provision.py
Due: none

docs: add 1.9.7 changelog - UI editor unico; sidebar open workspace; OpenAI fallback and fixes
  CHANGELOG.md
Due: none

style(tests): format UI tests with black
  tests/test_ui_debug_expander.py
  tests/test_ui_exit_buttons.py
  tests/test_ui_labels.py
Due: none

fix(app): apply isort/ruff auto-fixes
  src/ui/app.py
  tests/test_ui_paths_box.py
  tests/test_ui_regenerate_yaml.py
  tests/test_ui_save_both_yaml.py
Due: none

chore(app): apply formatter/linter fixes
  src/ui/app.py
Due: none

fix(app): restore _render_debug_expander and headless-safe imports
  src/ui/app.py
Due: none

chore(app): drop unused type:ignore comments for mypy
  src/ui/app.py
Due: none

fix UI - Intermedio
  src/ui/app.py
  src/ui/landing_slug.py
Due: none

fix(ui): unifica editor YAML in landing_slug in un unico form 'Valida & Salva' e salva entrambi i file
  src/ui/landing_slug.py
Due: none
